@import "../../../../common/css/hbcsj";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @header-height + @nav-height + @sub-menu-height);

        .row.row-equipe {
            width: calc(~"100% - 20px");
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 10px;
            
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 20px;
            }
            
            img.img-equipe {
                width: 100%;
            }
            
            .nom-equipe {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                @media (min-width: @screen-xs-min) {
                    font-size: 29px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 24px;
                }
                
                span.nb-equipes {
                    font-weight: normal;
                    @media (min-width: @screen-xs-min) {
                        font-size: 20px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 17px;
                    }
                }
            }
            
            .coachs-equipe {
                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 17px;
                }
            }
            
            ul.compet-equipe {
                margin-top: 20px;
                margin-bottom: 20px;
                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 17px;
                }
            }
        }
        
        .row.row-equipe-bordered {
            border-bottom: 1px solid #000;
        }
    }
}