@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    .modal {
        .modal-dialog {
            .modal-content { 
                .modal-body {
                    .mot-clef {
                        background-color: @hbcsj-blue;
                        color: #fff;
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}