@import "../../../common/css/dispos";

@icon-font-path: "../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .col-categorie {
            margin-top: 20px;
            margin-bottom: 20px;
            
            .nom-categorie {
                cursor: pointer;
                background-color: #000;
                color: #FFF;
                font-weight: bold;
                border-radius: @badge-border-radius;
                padding: 2px;
                text-align: center;
                @media (min-width: @screen-xs-min) {
                    font-size: 24px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 30px;
                }
            }
        }
    }
}