<h2>
    Le site internet du HBC Saint-Jean fait peau neuve
</h2>
<p>
    D&eacute;velopp&eacute; dans la continuit&eacute; des outils informatiques et de communication mis en place depuis plus d'un an, en voici les 
    principales fonctionnalit&eacute;s :
</p>
<ul>
    <li>Adapt&eacute; aussi bien pour ordinateurs que pour supports mobiles</li>
    <li><a href="../news" target="_blank">Fil d'actualit&eacute;s du club</a></li>
    <li><a href="../club/presentation" target="_blank">Pr&eacute;sentation du club</a></li>
    <li><a href="../club/equipes" target="_blank">... de ses &eacute;quipes</a></li>
    <li><a href="../entrainements" target="_blank">Informations sur les entra&icirc;nements</a></li>
    <li><a href="../inscription" target="_blank">Modalit&eacute;s d'inscription</a></li>
    <li><a href="../agenda/mois&mois=201801" target="_blank">Agenda</a></li>
    <li><a href="../medias/hhsj" target="_blank">M&eacute;dias et articles de presse</a></li>
    <li><a href="../shop" target="_blank">Les boutiques et billetterie</a></li>
</ul>
