<h2>M&eacute;dias : albums photos et vid&eacute;os</h2>
<p>
    La <a href="../medias/photos" target="_blank">page photos</a> avait &eacute;t&eacute; inaugur&eacute;e avec les &eacute;quipes 
    historiques du HBC Saint-Jean.<br>
    Elle est aujourd'hui compl&eacute;t&eacute; avec des albums photos, publi&eacute;s sur diff&eacute;rentes plateformes.<br>
    Profitez d&egrave;s maintenant de quelques souvenirs glorieux de l'histoire du club !
</p>
<p>
    Une <a href="../medias/videos" target="_blank">page vid&eacute;os</a> a &eacute;galement &eacute;t&eacute; mise en ligne, proposant des 
    matchs (complets ou en r&eacute;sum&eacute;s), retrospectives ou retra&ccedil;ant des &eacute;v&eacute;nements.
</p>
<h2>Boutique : vente de goodies</h2>
<p>
    Des accessoires aux couleurs du HBCSJ sont d&eacute;sormais disponibles &agrave; la vente, sur <a href="../shop" target="_blank">la page 
    de la boutique</a> d&eacute;di&eacute;e &agrave; cet effet. Retrouvez des mugs, magnets, posters, coques de t&eacute;l&eacute;phone, etc... &agrave; chaque fois 
    personnalisables avec la photo de votre choix.
</p>