<h2>Les Seniors Gar&ccedil;ons en mode commando</h2>
<p>
	En cette fin de saison, les deux &eacute;quipes font face aux d&eacute;faites et ... aux nombreuses absences et blessures. C'est donc avec deux collectifs r&eacute;duits qu'ils 
	se d&eacute;placent ce Samedi soir &agrave; Auch et La Salvetat.<br>
	A l'aller, ils avaient sign&eacute; deux victoires. Ce soir, l'objectif est identique !
</p>
<h2>Les filles re&ccedil;oivent Frontignan</h2>
<p>
	Les Languedociennes, leaders de leur poule, se rendent &agrave; Ren&eacute; Cassin. Les Saint-Jeannaises, en milieu de classement, tenteront elles de signer un beau succ&egrave;s 
	de prestige, dans une deuxi&egrave;me phase tr&egrave;s h&acirc;ch&eacute;e dans l'encha&icirc;nement des rencontres.
</p>
<h2>Un des derniers gros week-end de la saison</h2>
<ul>
	<li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Comminges Handball
    </li>
	<li>
        <b>-13 Filles : </b>R&eacute;ception d'Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Pins-Justaret
    </li>
    <li>
        <b>-15 Gar&ccedil;ons  : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Revel
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Carcassonne
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Frontignan
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Auch
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; La Salvetat
    </li>
</ul>