<h2>Seniors Gar&ccedil;ons : la 1 flanche encore, la 2 proche d'un succ&egrave;s</h2>
<p>
	A Auch, la 1 masculine se d&eacute;pla&ccedil;ait sans rempla&ccedil;ants. Et rapidement, les Gersois ont pris l'avantage, profitant des maladresses des Saint-Jeannais... Score &agrave; la pause : 18-10...<br>
	Au retour des vestiaires, les visiteurs &eacute;taient plus investis, jusqu'&agrave; r&eacute;duire l'&eacute;cart de moiti&eacute;, mais beaucoup trop tard... Nouvelle d&eacute;faite, 37 &agrave; 32.
</p>
<p>
	L'&eacute;quipe 2 a elle disput&eacute; un match serr&eacute; de bout en bout. Mais malheureusement ce sont les locaux qui ont su s'imposer dans la derni&egrave;re minute, 40 &agrave; 39, au terme d'une rencontre tr&egrave;s 
	offensive.
</p>
<p>
	Il ne reste qu'un match aux gar&ccedil;ons - contre Merville - pour tenter de bien terminer cette seconde phase.
</p>
<h2>Frontignan ne fait pas de cadeaux aux filles</h2>
<p>
	Face aux leaders Languedociennes, l'&eacute;quipe f&eacute;minine a &eacute;t&eacute; combative mais logiquement surclass&eacute;e. Une rencontre rapidement men&eacute;e par les visiteuses, qui l'emportent finalement 29 &agrave; 19.<br>
	Plus que deux matchs pour les joueuses du HBCSJ, deux voyages &agrave; Montpellier et Lunel.
</p>
<h2>Quatre petites victoires, toutes chez les jeunes</h2>
<ul>
	<li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre Comminges Handball
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;faite contre Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire Quint-Fonsegrives
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Pins-Justaret
    </li>
    <li>
        <b>-15 Gar&ccedil;ons  : </b>D&eacute;faite &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Revel
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Carcassonne
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Frontignan
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Auch
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; La Salvetat
    </li>
</ul>