<h2>Les -11 Filles &amp; Gar&ccedil;ons ont de nouvelles tenues de match !</h2>
<p>
	Les deux jeunes &eacute;quipes Saint-Jeannaises ont re&ccedil;u leurs nouveaux jeux de maillots offerts par Harmonie Mutuelle, et son responsable Mr Jean-Claude Cathala. 
</p>
<p>
    <a href="../_data/news/102/1.png" target="_blank"><img src="../_data/news/102/1.png" style="height: 150px;"></a>
    <a href="../_data/news/102/2.png" target="_blank"><img src="../_data/news/102/2.png" style="height: 150px;"></a>
    <a href="../_data/news/102/3.png" target="_blank"><img src="../_data/news/102/3.png" style="height: 150px;"></a>
</p>