<h2>Seniors : &eacute;pilogue pour les gar&ccedil;ons, long voyage pour les filles</h2>
<p>
	En recevant les deux &eacute;quipes de Merville, les Seniors Masculins signent leur fin de saison ce week-end, avec on l'esp&egrave;re, deux victoires.<br>
	Plus aucun enjeu, si ce n'est prendre la double revanche des 16 et 17 Mars derniers !
</p>
<p>
	De leur c&ocirc;t&eacute;, les filles se d&eacute;placent &agrave; Montpellier pour leur avant-derni&egrave;re rencontre de la saison. Sur ces deux ultimes matchs, les Saint-Jeannaises 
	devront en remporter au moins un pour s'assurer du maintien, dans cette poule Pr&eacute;-Nationale extr&ecirc;mement serr&eacute;e.
</p>
<h2>Les -18 Gar&ccedil;ons jouent un match important pour les finalit&eacute;s</h2>
<p>
	Seconds de leurs poules derri&egrave;re le Fenix, leur adversaire du jour, les jeunes -18 Saint-Jeannais peuvent acc&eacute;der aux finalit&eacute;s r&eacute;gionales en cas de victoire 
	sur les Toulousains.
</p>
<h2>Dernier gros week-end de comp&eacute;tition</h2>
<ul>
	<li>
        <b>-11 Filles : </b>R&eacute;ception de Comminges Handball
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Merville
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de l'entente Soues-Louey-Tarbes
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Pechbonnieu
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Merville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Merville
    </li>
</ul>