L'&eacute;quipe des S&eacute;niors F&eacute;minines recherche un(e) coach b&eacute;n&eacute;vol(e) pour la saison 2019-2020 :
<br><br>
- Niveau R&eacute;gion (&agrave; confirmer en Juin)<br>
- Entra&icric;nements dans la bonne humeur les mardis et jeudis &agrave; 20h15<br>
- Matchs le samedi soir (souvent accompagn&eacute;s d'une 3<sup>&egrave;me</sup> mi-temps pour resserrer les liens tout en debrieffant) ou Dimanche journ&eacute;e (&ccedil;a c'est moins cool) selon les dates et adversaires<br>
- Connaissance et pratique du Handball indispensable (parce qu'elles ont besoin qu'on leur rappelle les r&egrave;gles r&eacute;gulierement, ce sont des &quot;s&eacute;niors&quot;)<br>
- Petit blond, grande brune... tout le monde est accept&eacute; &agrave; condition de savoir s'imposer<br><br>

Si vous &ecirc;tes dynamique, motiv&eacute;(e) et que vous avez envie de vous investir dans un club qui a la p&ecirc;che depuis bient&ocirc;t 40 ans, contactez-nous au 06.15.94.86.33 / <a href="mailto:hbc.saintjean@gmail.com">hbc.saintjean@gmail.com</a> ou passez les voir au <a href="https://www.google.fr/maps/search/43.662363,1.512126" target="_blank">gymnase Ren&eacute; Cassin &agrave; Saint-Jean</a>.