<h2>Fin de saison pour les Seniors Gar&ccedil;ons</h2>
<p>
	Dernier week-end de comp&eacute;tition pour les deux &eacute;quipes masculines, oppos&eacute;es &agrave; Merville 1 et 2.<br>
	En ouverture de soir&eacute;e, la 2 a pu finir cette saison si laborieuse sur une bonne note avec une victoire 33 &agrave; 24.<br>
	La 1, malgr&eacute; une bonne entame, a du s'incliner une nouvelle fois dans le money-time, 33 &agrave; 37.
</p>
<h2>D&eacute;placement difficile pour les filles</h2>
<p>
	Long voyage vers Montpellier pour les f&eacute;minines, et un effectif relativement restreint... Des ingr&eacute;dients bien peu &agrave; l'avantage des Saint-Jeannaises qui ont connu 
	une large d&eacute;faite, et qui devront s'imposer &agrave; Lunel lors du dernier match pour s'assurer du maintien en championnat R&eacute;gional.
</p>
<h2>Les -18 Gar&ccedil;ons font r&ecirc;ver Ren&eacute; Cassin</h2>
<p>
	Samedi apr&egrave;s-midi, avant les Seniors, ce sont bel et bien les jeunes qui ont fait vibrer le gymnase Saint-Jeannais. Avec notamment une premi&egrave;re p&eacute;riode magnifique, alliant 
	spectacle et efficacit&eacute; offensive, les -18 ont ravi les coachs, parents et Seniors venus les encourager en nombre. Victoire face au Fenix 43 &agrave; 34, et une participation valid&eacute;e 
	pour les finalit&eacute;s.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite contre Comminges Handball
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>Victoire aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>Victoire &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Merville
    </li>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Blagnac
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite contre l'entente Soues-Louey-Tarbes
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Pechbonnieu
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite Merville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre Merville
    </li>
</ul>