<p>
	Fortement attach&eacute;e au Handball Fran&ccedil;ais
	<ul>
		<li>"naming" de la 1<sup>&egrave;re</sup> division nationale</li>
		<li>partenariat avec l'&eacute;quipe de France avec affichage sur le maillot</li>
	</ul>
	la soci&eacute;t&eacute; de distribution LIDL organisait sur l'ensemble du territoire des tournois destin&eacute;s &agrave; ses salari&eacute;s, en vue d'une finale fin Mai &agrave; la 
	maison du Handball, &agrave; Cr&eacute;teil.
</p>
<p>
	Et dans notre r&eacute;gion, la direction de Bazi&egrave;ge s'est mise en contact avec le HBC Saint-Jean, pour que l'association propose ses comp&eacute;tences afin d'encadrer cette 
	comp&eacute;tition qui aura tout de m&ecirc;me rassembl&eacute; pr&egrave;s de 60 participants.
</p>
<p>
	Mardi 14 Mai au soir, le gymnase Ren&eacute; Cassin est donc devenu le terrain de jeu de 11 &eacute;quipes, qui d&eacute;couvraient notre sport avec motivation et engagement. De beaux matchs, 
	disput&eacute;s par de vrais comp&eacute;titeurs, et encadr&eacute;s par plus de 15 b&eacute;n&eacute;voles Saint-Jeannais. Un bon moment de partage, conclu &eacute;videmment par un bel 
	ap&eacute;ro dinatoire !
</p>
<p>
	Bonne chance aux deux &eacute;quipes (1 f&eacute;minine, 1 masculine) qui disputeront la finale en r&eacute;gion Parisienne !!
</p>
<p style="text-align: center;">
    <a href="../_data/news/106/1.png" target="_blank"><img src="../_data/news/106/1.png" style="height: 150px;"></a>
    <a href="../_data/news/106/2.png" target="_blank"><img src="../_data/news/106/2.png" style="height: 150px;"></a>
    <a href="../_data/news/106/3.png" target="_blank"><img src="../_data/news/106/3.png" style="height: 150px;"></a>
    <a href="../_data/news/106/4.png" target="_blank"><img src="../_data/news/106/4.png" style="height: 150px;"></a>
    <a href="../_data/news/106/5.png" target="_blank"><img src="../_data/news/106/5.png" style="height: 150px;"></a>
    <a href="../_data/news/106/6.png" target="_blank"><img src="../_data/news/106/6.png" style="height: 150px;"></a>
</p>
<p style="text-align: center;">
    <a href="../_data/news/106/7.png" target="_blank"><img src="../_data/news/106/7.png" style="height: 150px;"></a>
    <a href="../_data/news/106/8.png" target="_blank"><img src="../_data/news/106/8.png" style="height: 150px;"></a>
    <a href="../_data/news/106/9.png" target="_blank"><img src="../_data/news/106/9.png" style="height: 150px;"></a>
    <a href="../_data/news/106/10.png" target="_blank"><img src="../_data/news/106/10.png" style="height: 150px;"></a>
    <a href="../_data/news/106/11.png" target="_blank"><img src="../_data/news/106/11.png" style="height: 150px;"></a>
</p>
