<h2>Ultime long d&eacute;placement pour les filles</h2>
<p>
	Dans une seconde phase de championnat marqu&eacute;e par ses longs voyages dans le Languedoc, la derni&egrave;re rencontre des Seniors F&eacute;minines se dispute une nouvelle fois 
	entre Montpellier et N&icirc;mes. A Lunel, contre les leaders de la poule, les Saint-Jeannaises joueront un match peut-&ecirc;tre d&eacute;cisif quant &agrave; leur maintien ou non 
	en Pr&eacute;-National.
</p>
<h2>Derni&egrave;re journ&eacute;e de matchs pour les plus jeunes</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Muret
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de CIEL
    </li>
	<li>
        <b>-13 Filles : </b>R&eacute;ception de Sud-Toulousain
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de Comminges Handball
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Lunel
    </li>
</ul>