<p>
	Ce week-end aura marqu&eacute; les derniers matchs de la saison des -11, -13 et Seniors Filles.
</p>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Muret
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre CIEL
    </li>
	<li>
        <b>-13 Filles : </b>Victoire contre Sud-Toulousain
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Comminges Handball
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Lunel
    </li>
</ul>