<h2>Les -15 Filles et -18 Gar&ccedil;ons jouent les finalit&eacute;s r&eacute;gionales</h2>
<p>
	Les jeunes Saint-Jeannaises jouent ce Samedi &agrave; Lannemezan leur 1/4 de finale contre Valence d'Agen.<br>
	En cas de victoire, elles rencontreront quatre heures plus tard le vainqueur du match entre Pays des Nestes et Saint-Cere.
</p>
<p>
	Leurs camarades -18 Gar&ccedil;ons jouent eux &agrave; Mende leur 1/4 de finale contre les locaux.<br>
	S'ils passent l'obstracle Loz&eacute;riens, ils disputeront leur 1/2 contre le vainqueur de Lunel - Saint-Cere.
</p>