<h2>Enfin la victoire pour les Seniors Filles !</h2>
<p>
    Il est l&agrave;, ce succ&egrave;s tant attendu ! A Montauban, face aux 6<sup>&egrave;mes</sup> du classement R&eacute;gion Excellence, 
    l'&eacute;quipe f&eacute;minine a sign&eacute; la victoire tant esp&eacute;r&eacute;e, mais pas gagn&eacute;e d'avance.<br>
    En t&ecirc;te au score la majorit&eacute; du temps, vaguement inqui&eacute;t&eacute;es mais comblant un retard de 3 buts en deux minutes 
    en d&eacute;but de seconde p&eacute;riode, les filles ont clairement impos&eacute; leur loi dans chez les Tarn-et-Garonnaises.
</p>
<p>
    Ce r&eacute;sultat positif en appelle d'autres, la phase de matchs retours est bien lanc&eacute;e. Confirmation attendue le week-end prochain 
    face &agrave; Pays-de-Nestes.
</p>
<h2>Les Seniors Garçons &agrave; la fois vainqueurs et frustr&eacute;s</h2>
<p>
    Pour cette derni&egrave;re journ&eacute;e - sans enjeu - de la 1<sup>&egrave;re</sup> phase, l'&eacute;quipe 2 masculine ouvrait le bal du Samedi soir face &agrave; L'Isle-Jourdain.
    Face aux Gersois, et pour f&ecirc;ter le retour sous les couleurs Saint-Jeannaises de J&eacute;r&ocirc;me apr&egrave;s deux ans d'absence, 
    une belle victoire &eacute;tait attendue. En-t&ecirc;te au score d&egrave;s le d&eacute;but de rencontre, et avec un bon coup d'acc&eacute;l&eacute;rateur 
    dans le dernier quart d'heure, les joueurs du HBCSJ s'imposaient 30 &agrave; 24.
</p>
<p>
    Contre Les Coteaux, l'&eacute;quipe 1 voulait achever sa 1<sup>&egrave;re</sup> phase quasi-parfaite (1 seule d&eacute;faite) 
    par un succ&egrave;s. Mais, avec aucun adversaire pr&eacute;sent au coup d'envoi, ce sont des Seniors Gar&ccedil;ons frustr&eacute;s 
    mais bien d&eacute;cid&eacute;s &agrave; travailler qui ont organis&eacute; un match amical entre eux, avec la tr&egrave;s 
    appr&eacute;ci&eacute;e participation d'anciens joueurs et de -18 Gar&ccedil;ons pr&eacute;sents.
</p>
<p>
    La seconde phase devrait d&eacute;buter dans 2 semaines, avec l'&eacute;quipe 1 en poule haute (Pr&eacute;-R&eacute;gion) et l'&eacute;quipe 2 
    en poule interm&eacute;diaire (Excellence).
</p>
<h2>Mais au final un Samedi de gala !</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Victoire &agrave; Pechbonnieu. 3<sup>&egrave;me</sup> match sans d&eacute;faite en seconde phase.
    </li>
    <li>
        <b>-13 Filles</b> : Victoire &agrave; Colomiers. 3<sup>&egrave;me</sup> victoire en 3 matchs de Poule Excellence.
    </li>
    <li>
        <b>-15 Filles</b> : D&eacute;faite &agrave; Aucamville, malgré un bon 3<sup>&egrave;me</sup> tiers-temps, remport&eacute;.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Large victoire &agrave; Montech. 3<sup>&egrave;me</sup> victoire de rang, avec plus de 40 buts marqu&eacute;s.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : Victoire &agrave; Saint-Sulpice. Beau r&eacute;sultat apr&egrave;s 2 d&eacute;faites cons&eacute;cutives.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Large victoire face &agrave; Merville.
    </li>
</ul>