<h2>Fin du tr&egrave;s beau parcours des -15 Filles et -18 Gar&ccedil;ons</h2>
<p>
	D'abord vainqueurs assez nettement (22-16) de Valence d'Agen, les -15 Filles ont chut&eacute; en 1/2 finale (d'un tiers-temps...) contre les locales Pays-des-Nestes.
</p>
<p style="font-size: 14px;">
	<b>Le mot du coach : </b>Quart de finale tr&egrave;s engag&eacute; contre une tr&egrave;s belle &eacute;quipe de Valence d'Agen, o&ugrave; il faudra attendre la moiti&eacute; du dernier tiers temps pour prendre 
	d&eacute;finitivement le large gr&acirc;ce &agrave; 3 arr&ecirc;ts de notre gardienne, dont deux sont concr&eacute;tis&eacute;s en contre attaque (16-22).<br>
	Demi-finale tout aussi engag&eacute;e, pour notre troisi&egrave;me rencontre face &agrave; Pays-des-Nestes. Les filles avaient &agrave; coeur de prendre leur revanche apr&egrave;s deux d&eacute;faites en championnat. 
	Premier tiers-temps &agrave; l'avantage d'un but pour nos adversaires (6-5). Nous reprenons l'avantage par 3 buts d'&eacute;cart (9-12) &agrave; la fin du second tiers. Au bout de cinq derni&egrave;res minutes suffocantes, 
	le match se termine sur une &eacute;galit&eacute; au score (16-16), mais nous perdons le match au nombre de tiers temps gagn&eacute;s...<br>
	Malgr&eacute; l'&eacute;norme frustration, nous sommes tr&egrave;s fiers de la prestation de notre &eacute;quipe pour cette saison et en particulier pour ces deux derniers matchs o&ugrave; collectivement, 
	elles ont &eacute;t&eacute; au bout d'elles-m&ecirc;mes.
</p>
<p style="text-align: center;">
    <a href="../_data/news/110/2.jpg" target="_blank"><img src="../_data/news/110/2.jpg" style="height: 350px;"></a>
</p>
<p>
	De leur c&ocirc;t&eacute;, &agrave; Mende contre les Loz&eacute;riens, les -18 Gar&ccedil;ons ont &eacute;t&eacute; rapidement d&eacute;bord&eacute;s par les locaux, et se sont logiquement inclin&eacute;s en 1/4 de leurs finalit&eacute;s.<br>
	Sans racune pour les jeunes Saint-Jeannais, qui ont su remercier leur coach pr&eacute;f&eacute;r&eacute;e... &agrave; leur fa&ccedil;on !
</p>
<p style="font-size: 14px;">
	<b>Le mot de la coach : </b>Je dirai juste que la pression &eacute;tait forte, certainement trop forte et qu’on a jou&eacute; contre une excellente &eacute;quipe de Mende qui nous a asphyxi&eacute;, qui nous a fait balbutier 
	tout notre handball, nous qui sommes performants en attaque. On a vu en direct notre attaque se faire attaquer par leur d&eacute;fense. On aurait dit qu’ils nous connaissaient par cœur... Incroyable !<br>
	Il y a eu pas mal de tristesse et d’impression d’inachev&eacute; mais, nous avons pass&eacute; une folle journ&eacute;e o&ugrave; j’ai vu tous mes joueurs s’amuser et rire ensemble. Au del&agrave; du match, c’est ce que je 
	vais retenir.<br>
	À la fin du match nous avons l&acirc;ch&eacute; pour pouvoir nous amuser un peu, en laissant le mot de la fin a ceux qui nous quittent la saison prochaine : futurs Seniors et Cyril qui rejoint Balma pour une nouvelle 
	aventure, pour poursuivre son cursus avec la section sportive de Raymond Naves.
	<br>
	Et pas mal de larmes pour moi car j’ai vu grandir ces gosses que j’ai eu pour pour la majorit&eacute; d’entre eux depuis les -9 et qui malgr&eacute; les ann&eacute;es me regardent toujours avec ces m&ecirc;mes yeux et 
	ce m&ecirc;me respect.
</p>
<p style="text-align: center;">
    <a href="../_data/news/110/1.jpg" target="_blank"><img src="../_data/news/110/1.jpg" style="height: 350px;"></a>
</p>