<b>We need you ! Les Seniors Masculins cherchent &agrave; compl&eacute;,ter leur effectif !</b>
<br><br>
Avec deux &eacute;quipes inscrites en championnat, les deux grosses douzaines de Seniors accueillent &agrave; bras ouvert tout handballeur motiv&eacute;.
<br><br>
Tu aimes le hand, la comp&eacute;tition, tirer les jeunes vers le haut, chambrer les vieux, aider les b&eacute;n&eacute;voles, l’entraide associative et surtout la bi&egrave;re, rejoins nous !
<br><br>
Et si tu t’inqui&egrave;tes pour ton niveau, sache qu’il y aura toujours les tirs magnifiques des anciens qui te feront sourire ...
<br><br>
... et de toute façon, gr&acirc;ce à la coach, dans 6 mois tu ne seras plus le m&ecirc;me joueur... au pire, tu auras de gros abdos !