Apr&egrave;s deux semaines de reprise des entra&icirc;nements, le premier week-end de comp&eacute;tition arrive !!<br>
La plupart des &eacute;quipes connaissent leurs adversaires pour ce d&eacute;but de saison (voir <b><a href="http://hbc-saintjean.fr/club/equipes" target="_blank">ici</a></b>). Voici le programme, pour l'instant l&eacute;ger :
<br><br>
Les Seniors Filles entament l'exercice 2019 / 2020 par un d&eacute;placement à Muret, en championnat Pr&eacute;national.
<br><br>
Les Seniors Gar&ccedil;ons re&ccedil;oivent Fronton pour un match amical.
<br><br>
Les -13 jouent leurs barrages pour déterminer leurs poules de championnat D&eacute;partemental.