<h2>R&eacute;sultats : 14 Septembre</h2>
<p>
	Premi&egrave;re d&eacute;faite de la saison pour les Seniors Filles, &agrave; Muret.
</p>
<h2>Programme : 21 / 22 Septembre</h2>
<p>
	Premier gros week-end de comp&eacute;tition.
</p>
<ul>
	<li>
        <b>-11 Filles &amp; Gar&ccedil;ons : </b>Tournoi de barrages
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Beauzelle
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception du CRAHB
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Saint-Jory
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Castres
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Pins-Justaret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Muret
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Lunel-Marsillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Pamiers
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Beauzelle
    </li>
</ul>