<h2>R&eacute;sultats : 21 / 22 Septembre</h2>
<p>
	Les -11 ont disput&eacute; leur tournoi de barrages, et conna&icirc;tront leur poule de championnat d'ici peu.<br>
	Sinon, week-end morose pour le HBC Saint-Jean... Seuls les -15 Filles et Gar&ccedil;ons 1 sont rentr&eacute;s victorieux.<br>
	Les deux &eacute;quipes Seniors Gar&ccedil;ons ont d&eacute;&ccedil;u, respectivement &agrave; Pamiers et Beauzelle, tandis que les f&eacute;minines ont &eacute;t&eacute; d&eacute;faites 
	d'un petit but contre Lunel-Marsillargues.
</p>
<ul>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Beauzelle
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le CRAHB
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire contre Saint-Jory
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Castres
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Pins-Justaret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Muret
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Lunel-Marsillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Pamiers
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Beauzelle
    </li>
</ul>
<h2>Programme : 28 / 29 Septembre</h2>
<p>
	Samedi soir sp&eacute;cial Coupe de France ! Les Seniors entrent en lice dans la prestigieuse comp&eacute;tion.
</p>
<ul>
	<li>
        <b>-13 Filles : </b>R&eacute;ception de Pamiers
    </li>
	<li>
        <b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Girons
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Montech
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Auterive, contre Sud-Toulousain
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-18 Filles : </b>R&eacute;ception de Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Pechbonnieu
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Quint-Fonsegrives (Coupe de France)
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>R&eacute;ception de Lavaur (Coupe de France)
    </li>
</ul>