<h2>R&eacute;sultats : 28 / 29 Septembre</h2>
<p>
	Soir&eacute;e Coupe de France, Samedi &agrave; Ren&eacute; Cassin.<br>
	Les Gar&ccedil;ons recevaient Lavaur, pensionnaires du Challenge de l'Autan, et l'ont emport&eacute; avec s&eacute;rieux (voir le r&eacute;sum&eacute; <a href="https://drive.google.com/open?id=11IQpQcOKxYpiF48R84Jw5rJrQarnjfPf" target="_blank">ici</a>).<br>
	M&ecirc;me r&eacute;sultat pour les filles, auteures d'une prestation aboutie en d&eacute;fense et en attaque, contre Quint-Fonsegrives.<br>
	Quelques belles victoires pour les jeunes, avec les deuxi&egrave;mes victoires cons&eacute;cutives des -15 Filles et -15 Gar&ccedil;ons 2.
</p>
<ul>
	<li>
        <b>-13 Filles : </b>D&eacute;faite contre Pamiers
    </li>
	<li>
        <b>-13 Gar&ccedil;ons : </b>D&eacute;faite contre Saint-Girons
    </li>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Montech
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Auterive, contre Sud-Toulousain
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-18 Filles : </b>Victoire contre Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Pechbonnieu
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Quint-Fonsegrives (Coupe de France)
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>Victoire contre Lavaur (Coupe de France)
    </li>
</ul>
<h2>Programme : 5 / 6 Octobre</h2>
<p>
	Entr&eacute;e en lice des -11, Filles et Gar&ccedil;ons, en championnat d&eacute;partemental.<br>
	Un premier week-end complet !
</p>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Colomiers
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Rieux-Volvestre
    </li>
	<li>
        <b>-13 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Colomiers
    </li>
	<li>
        <b>-15 Filles : </b>R&eacute;ception du TFH
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Quint-Fonsegrives
    </li>
	<li>
        <b>-18 Filles : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Escalquens, contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Saint-Girons
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Merville
    </li>
</ul>