<h2>R&eacute;sultats : 5 / 6 Octobre</h2>
<p>
	Apr&egrave;s leur victoire en Coupe de France, les gar&ccedil;ons ont encha&icirc;n&eacute; avec succ&egrave;s en gagnant leurs deux rencontres de championnat. A Quint-Fonsegrives, la 1 
	a notamment livr&eacute; un tr&egrave;s beau match, serr&eacute; jusqu'au bout.<br>
	Beaux succ&egrave;s des -18 Gar&ccedil;ons, -15 Filles et -13 Gar&ccedil;ons.
</p>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Tournefeuille
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite contre Colomiers
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Rieux-Volvestre
    </li>
	<li>
        <b>-13 Gar&ccedil;ons : </b>Victoire &agrave; Colomiers
    </li>
	<li>
        <b>-15 Filles : </b>VIctoire contre le TFH
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Quint-Fonsegrives
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;faite contre Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Escalquens, contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Blagnac
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Saint-Girons
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre Merville
    </li>
</ul>
<h2>Programme : 12 / 13 Octobre</h2>
<ul>
	<li>
        <b>-11 Filles : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement au Mirail, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>R&eacute;ception de Villefranche-de-Lauragais
    </li>
	<li>
        <b>-15 Filles : </b>R&eacute;ception de l'entente Brugui&egrave;res-Saint-Jory-Merville
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Revel
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Pennautier
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Aucamville
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; La Salvetat
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Pins-Justaret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception d'Aucamville
    </li>
</ul>