<h2>R&eacute;sultats : 12 / 13 Octobre</h2>
<p>
	Apr&egrave;s leur belle victoire &agrave; Quint-Fonsegrives, les Seniors Gar&ccedil;ons 1 recevaient Pins-Justaret. L'occasion de confirmer les progr&egrave;s et le bel &eacute;tat d'esprit affich&eacute; le week-end pr&eacute;c&eacute;dent. Et apr&egrave;s une mise en route progressive mais n&eacute;anmoins s&eacute;rieuse, les Saint-Jeannais ont d&eacute;roul&eacute;, pour l'emporter largement 37-27.<br>
	Sc&eacute;nario similaire pour les filles, qui, contre Montpellier, ont sign&eacute; leur premier succ&egrave;s de la saison en championnat. Une victoire solide contre une jeune &eacute;quipe Languedocienne.<br><br>
	C&ocirc;t&eacute; jeunes, seulement deux r&eacute;sultats positifs, mais quelques belles r&eacute;sistances !
</p>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite contre Quint-Fonsegrives
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite au Mirail, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;faite contre Villefranche-de-Lauragais
    </li>
	<li>
        <b>-15 Filles : </b>Victoire contre l'entente Brugui&egrave;res-Saint-Jory-Merville
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le Fenix
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Revel
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Pennautier
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Aucamville
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; La Salvetat
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire de Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Pins-Justaret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Aucamville
    </li>
</ul>
<h2>Programme : 19 / 20 Octobre</h2>
<ul>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Aucamville
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; La Salvetat
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Castres
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Maz&egrave;res
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception du CRAHB
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
</ul>