<h2>R&eacute;sultats : 19 / 20 Octobre</h2>
<p>
	Durant ce week-end o&ugrave; seuls les -15 et les Seniors jouaient, la plupart &agrave; l'ext&eacute;rieur, les &eacute;quipes du HBCSJ ont obtenu des r&eacute;sultats quelque peu mitig&eacute;s... Si les Seniors Gar&ccedil;ons 1 et les -15 Filles ont su une nouvelle fois l'emporter, les quatre autres collectifs ont connu des rencontres compliqu&eacute;es...
</p>
<ul>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Aucamville
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; La Salvetat
    </li>
	<li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Castres
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Maz&egrave;res
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre le CRAHB
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre Flourens
    </li>
</ul>
<h2>Programme : 26 / 27 Octobre</h2>
<p>
	Les deux &eacute;quipes Seniors vont jouer leur second tour de Coupe de France &agrave; l'ext&eacute;rieur.<br>
	A Castanet et Merville, deux collectifs solides, les Saint-Jeannais devront jouer leur meilleur Handball !
</p>
<ul>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Castanet
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>D&eacute;placement &agrave; Merville
    </li>
</ul>