<h2>Seniors Filles : une premi&egrave;re victoire &agrave; domicile ?</h2>
<p>
    Seul collectif Senior engag&eacute; en championnat ce week-end (tr&ecirc;ve inter-phases chez les Gar&ccedil;ons oblige...), 
    les f&eacute;minines voudront surfer sur la vague de leur succ&egrave;s &agrave; Montauban de la semaine pass&eacute;e.<br>
    Contre Pays-des-Nestes, actuelles 9<sup>&egrave;mes</sup> au classement (et juste devant les Saint-Jeannaises), l'&eacute;quipe Filles vise 
    une premi&egrave;re victoire &agrave; domicile.
</p>
<p>
    Par ailleurs, chez les deux &eacute;quipes masculines, les deux poules viennent d'&ecirc;tre &eacute;tablies :<br>
    <b>Seniors Gar&ccedil;ons 1</b> - 2<sup>&egrave;me</sup> phase - 1<sup>&egrave;re</sup> Division (= Pr&eacute;-R&eacute;gion) : 
    SG1, Brugui&egrave;res, L'Isle-Jourdain, Condom, CIEL, Ouest-Tarn<br>
    <b>Seniors Gar&ccedil;ons 2</b> - 2<sup>&egrave;me</sup> phase - 2<sup>&egrave;me</sup> Division (= Excellence) :
    SG2, Aucamville, Merville, Blagnac, Montech
</p>
<p>
    Premi&egrave;re journ&eacute;e pr&eacute;vue le week-end du 10 / 11 F&eacute;vrier (seulement pour l'&eacute;quipe 1, la 2 &eacute;tant exempte).
</p>
<h2>Equipes jeunes : Huit rencontres de championnat</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;placement &agrave; L'Isle-Jourdain.
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;placement aux Argoulets, chez le TFH.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Brugui&egrave;res.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : R&eacute;ception de Fontenilles.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : D&eacute;placement aux Argoulets, chez le Fenix.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Lisle-sur-Tarn, chez Ouest-Tarn.
    </li>
    <li>
        <b>-18 Filles</b> : R&eacute;ception de Pins-Justaret.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : R&eacute;ception de Beauzelle.
    </li>
</ul>
<h2>Tournoi Rois &amp; Reines pour les -9, &agrave; Beauzelle</h2>
<p>
    Nos plus jeunes joueurs disputeront &eacute;galement des matchs Samedi. Le club de Beauzelle accueille ce week-end, dans son Complexe Eug&egrave;ne Chamayou, 
    le tournoi Rois et Reines. Les petits Saint-Jeannais y prendront part.
</p>