<h2>R&eacute;sultats : 26 / 27 Octobre</h2>
<p>
	Double d&eacute;faite au second tour de Coupe de France pour les Seniors.
</p>
<ul>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Castanet
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>D&eacute;faite &agrave; Merville
    </li>
</ul>
<h2>Programme : 2 Novembre</h2>
<p>
	Week-end encore une fois all&eacute;g&eacute; : seuls les -15 Filles (tournoi de barrages contre Pennautier-Carcassonne, Ouest-Tarn et Carmaux) et les Seniors Gar&ccedil;ons sont mobili&eacute;s.
</p>
<ul>
    <li>
        <b>-15 Filles : </b>Tournoi de barrages &agrave; Lisle-sur-Tarn
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de L'Union
    </li>
</ul>