<h2>R&eacute;sultats : 2 Novembre</h2>
<p>
	Double d&eacute;faite pour les Seniors Gar&ccedil;ons...
</p>
<ul>
    <li>
        <b>-15 Filles : </b>Tournoi de barrages &agrave; Lisle-sur-Tarn (1 victoire, 2 d&eacute;faites)
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre L'Union
    </li>
</ul>
<h2>Programme : 9 / 10 Novembre</h2>
<p>
	D&eacute;but de la Coupe de Haute-Garonne pour les -11 et les -13.
</p>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Lavaur (Coupe du 31)
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory (Coupe du 31)
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Pechbonnieu-Coteau (Coupe du 31)
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>R&eacute;ception du Fenix (Coupe du 31)
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de L'Union
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Muret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Pamiers
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Beauzelle
    </li>
</ul>