<h2>R&eacute;sultats : 9 / 10 Novembre</h2>
<p>
	En Coupe de Haute-Garonne, seuls les -11 Gar&ccedil;ons acc&egrave;dent au tour suivant.
</p>
<p>
	De leur c&ocirc;t&eacute;, les Seniors Gar&ccedil;ons 1 ont su gommer leur contre-performance de Lab&egrave;ge de la semaine pass&eacute;e, et &eacute;galement prendre leur revanche sur Pamiers (d&eacute;faite lors de la premi&egrave;re journ&eacute;e). Hormis un premier quart d'heure d&eacute;licat en d&eacute;fense, les joueurs du HBCSJ ont livr&eacute; un de leurs meilleurs matchs. Efficaces en attaque, finalement solides devant leur but, ils ont inflig&eacute; un +10 &agrave; leur adversaire &agrave; chaque mi-temps. R&eacute;sultat final : 47-27 !
</p>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite contre Lavaur (Coupe du 31)
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre Saint-Jory (Coupe du 31)
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite contre Pechbonnieu-Coteau (Coupe du 31)
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>D&eacute;faite contre le Fenix (Coupe du 31)
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre L'Union
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Muret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Pamiers
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Beauzelle
    </li>
</ul>
<h2>Programme : 16 / 17 Novembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Pechbonnieu
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Colomiers
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Revel
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Bram
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Pins-Justaret
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Lunel-Marsillargues
    </li>
</ul>