<h2>R&eacute;sultats : 16 / 17 Novembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Pechbonnieu
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Colomiers
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>Victoire aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-15 Filles : </b>Victoire &agrave; Revel
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Bram
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire &agrave; Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Pins-Justaret
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Lunel
    </li>
</ul>
<h2>Programme : 23 / 24 Novembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Castanet, contre le CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de La Salvetat
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Roques
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Beauzelle
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Saint-Girons
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Vall&eacute;e d'Ax
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de Castres-Vall&eacute;e-du-Thore
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Muret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Merville
    </li>
</ul>