<h2>R&eacute;sultats : 23 / 24 Novembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Castanet, contre le CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite contre La Salvetat
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite contre Roques
    </li>
    <li>
        <b>-13 Gar&ccedil;ons : </b>D&eacute;faite contre Beauzelle
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;faite &agrave; Saint-Girons
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre CIEL
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire contre Vall&eacute;e d'Ax
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite contre Castres-Vall&eacute;e-du-Thore
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Muret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire Quint-Fonsegrives
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre Merville
    </li>
</ul>
<h2>Programme : 30 Novembre / 1er D&eacute;cembre</h2>
<ul>
    <li>
        <b>-9 Ans : </b>Tournoi &agrave; Ren&eacute; Cassin et aux Argoulets
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Pechbonnieu-Coteaux
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Pins-Justaret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Aucamville
    </li>
</ul>