<h2>R&eacute;sultats : 30 Novembre / 1er D&eacute;cembre</h2>
<ul>
    <li>
        <b>-9 Ans : </b>Tournoi &agrave; Ren&eacute; Cassin et aux Argoulets
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Filles : </b>Victoire &agrave; Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Pechbonnieu-Coteaux
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Pins-Justaret
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Aucamville
    </li>
</ul>
<h2>Formation arbitrage / Tournoi -9 Samedi matin</h2>
<p>
	Samedi matin, l'association recevait les clubs de Villefranche-de-Lauragais et Pechbonnieu, pour un tournoi destin&eacute; aux -9.<br>
	Pour l'occasion, de nombreux jeunes arbitres - fraichement form&eacute;s une heure auparavant ! - &eacute;taient au sifflet des rencontres 
	organis&eacute;es &agrave; Ren&eacute; Cassin.<br>
	Avec une quinzaine de volontaires, le HBCSJ a su motiver ses adh&eacute;rents au sujet de ce r&ocirc;le de "directeur du jeu", primordial mais l&eacute;g&egrave;rement en p&eacute;nurie dans le club ces derni&egrave;res saisons.<br><br>
	Voici quelques photos de l'&eacute;v&eacute;nement :
</p>
<p style="text-align: center;">
    <a href="../_data/news/125/1.jpg" target="_blank"><img src="../_data/news/125/1.jpg" style="height: 150px;"></a>
    <a href="../_data/news/125/2.jpg" target="_blank"><img src="../_data/news/125/2.jpg" style="height: 150px;"></a>
    <a href="../_data/news/125/3.jpg" target="_blank"><img src="../_data/news/125/3.jpg" style="height: 150px;"></a>
</p>
<p style="text-align: center;">
    <a href="../_data/news/125/4.jpg" target="_blank"><img src="../_data/news/125/4.jpg" style="height: 150px;"></a>
    <a href="../_data/news/125/5.jpg" target="_blank"><img src="../_data/news/125/5.jpg" style="height: 150px;"></a>
    <a href="../_data/news/125/6.jpg" target="_blank"><img src="../_data/news/125/6.jpg" style="height: 150px;"></a>
</p>
<h2>Programme : 7 / 8 D&eacute;cembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Tournefeuille (Challenge du 31)
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais (Challenge du 31)
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;placement &agrave; Muret (Challenge du 31)
    </li>
    <li>
        <b>-15 Filles : </b>R&eacute;ception de Thuir
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Blagnac
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Ramonville, contre le CRAHB
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Flourens
    </li>
</ul>