<h2>R&eacute;sultats : 7 / 8 D&eacute;cembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire contre Tournefeuille (Challenge du 31)
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Villefranche-de-Lauragais (Challenge du 31)
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;faite &agrave; Muret (Challenge du 31)
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;faite contre Thuir
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Tournefeuille
    </li>
    <li>
        <b>-18 Filles : </b>Victoire &agrave; Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Blagnac
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire &agrave; Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Ramonville, contre le CRAHB
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Flourens
    </li>
</ul>
<h2>Programme : 14 / 15 D&eacute;cembre</h2>
<ul>
    <li>
        <b>-9 Ans : </b>Tournoi de No&euml;l, &agrave; L'Union
    </li>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Flourens
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;placement au Mas d'Azil, contre Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Capendu, contre Barbaira
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception de Castelnaudary
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Colomiers
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de Pennautier
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de La Salvetat
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception d'Aucamville 
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Maz&egrave;res
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; L'Union
    </li>
</ul>