<h2>R&eacute;sultats : 14 / 15 D&eacute;cembre</h2>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire &agrave; Blagnac
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire &agrave; Flourens
    </li>
    <li>
		<b>-13 Filles : </b>Victoire &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;faite au Mas d'Azil, contre Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;faite &agrave; Capendu, contre Barbaira
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Castelnaudary
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire contre Colomiers
    </li>
    <li>
        <b>-18 Filles : </b>Victoire contre Pennautier
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre La Salvetat
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Aucamville 
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Maz&egrave;res
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; L'Union
    </li>
</ul>
<p>
	En prenant leur revanche 36-29 contre CIEL, les Seniors Gar&ccedil;ons 1 terminent premiers de leur poule de championnat Territorial.<br>
	En seconde phase - poule Pr&eacute;-R&eacute;gion - les Saint-Jeannais devront retrouver L&eacute;vezou, Castres, Flourens, Aucamville (d&eacute;j&agrave; jou&eacute;s par l'&eacute;quipe 2) et Quint-Fonsegrives (d&eacute;j&agrave; adversaires en premi&egrave;re phase).
</p>
<p>
	Les Seniors Filles ont elles aussi pris leur revanche, contre Maz&egrave;res, lors d'un match qui a pris une tournure pour le moins &eacute;tonnante.<br>
	Le climat de la rencontre &eacute;tant un peu tendu, les Ari&eacute;geoises ont pr&eacute;f&eacute;r&eacute; quitter le gymnase Ren&eacute; Cassin d&egrave;s la mi-temps, assurant ainsi le succ&egrave;s des locales, d&eacute;j&agrave; en t&ecirc;te &agrave; ce moment-l&agrave;.
</p>