<h2>Programme : 11 / 12 Janvier</h2>
<p>
	Les jeunes reprennent, les Seniors devront attendre le week-end prochain...
</p>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Merville
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;placement &agrave; Flourens
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory (Samedi, en Coupe) puis de Quint-Fonsegrives (Dimanche)
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lavelanet
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Carcassonne
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; L'Union
    </li>
</ul>
<h2>Bilan &agrave; la mi-saison</h2>
<h3>Les Seniors Filles - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=2" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Apr&egrave;s un d&eacute;but de saison un peu compliqu&eacute; (6 d&eacute;faites en 8 rencontres), l'&eacute;quipe fanion du club (Championnat Pr&eacute;national) a su relever la t&ecirc;te avant la tr&ecirc;ve de No&euml;l (2 victoires).
	Et pourtant, le d&eacute;part de l'entraineur en cours de premi&egrave;re phase n'a pas facilit&eacute; la situation des joueuses Saint-Jeannaises...<br>
	Elles peuvent viser une premi&egrave;re partie de tableau en seconde phase (voir <a href="https://www.ffhandball.fr/fr/competition/13088#poule-74770" target="_blank">ici</a>).
</p>
<h3>Les Seniors Gar&ccedil;ons - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=1" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Renforc&eacute; par de nombreuses arriv&eacute;es et la mont&eacute;e de plusieurs -18 motiv&eacute;s, le collectif masculin du HBCSJ peut proposer deux &eacute;quipes relativement compl&egrave;tes cette saison.<br>
	Malgr&eacute; tout, le d&eacute;but de saison fut parfois laborieux : la 1 connaissait deux revers anormaux pendant les rencontres allers (d'entr&eacute;e &agrave; Pamiers puis plus tard &agrave; Lab&egrave;ge), tandis que la 2 accumulait les lourdes d&eacute;faites...<br>
	Des premiers r&eacute;sultats mitig&eacute;s donc, mais finalement rattrap&eacute;s par des matchs retours bien plus encourageants.<br>
	Revancharde, la 1 signait un sans-faute, avec notamment deux parties r&eacute;f&eacute;rences (contre Pamiers et Quint) et terminait la premi&egrave;re phase leader de poule, et davantage de confiance pour attaquer la poule Haute Territoriale (voir <a href="https://www.ffhandball.fr/fr/competition/15242#poule-73626" target="_blank">ici</a>).<br>
	De son c&ocirc;t&eacute;, la 2 - certes en panne de victoires - proposait des oppositions en nets progr&egrave;s face &agrave; des &eacute;quipes de beau calibre (Flourens, L'Union...) et peut esp&eacute;rer remporter quelques rencontres en seconde phase (voir <a href="https://www.ffhandball.fr/fr/competition/15324#poule-74924" target="_blank">ici</a>).
	
</p>
<h3>Les -18 Filles - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=4" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	La rel&egrave;ve f&eacute;minine Saint-Jeannaise aura propos&eacute; une belle premi&egrave;re partie de saison (la premi&egrave;re phase se terminant le 12 Janvier) avec un bilan au minimum &eacute;quilibr&eacute; et une possible place dans le trio de t&ecirc;te.<br>
</p>
<h3>Les -18 Gar&ccedil;ons - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=3" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Un collectif complet, beaucoup de jeunes au club depuis plusieurs ann&eacute;es, plus quelques arriv&eacute;s, pour former deux &eacute;quipes dont les r&eacute;sultats sont pour l'instant relativement mitig&eacute;s.<br>
	La premi&egrave;re phase est &eacute;galement bient&ocirc;t achev&eacute;e (le 12 Janvier aussi) : la 1 terminera en milieu de tableau, et la 2 &agrave; la derni&egrave;re place.
</p>
<h3>Les -15 Filles - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=6" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Une premi&egrave;re phase sans faute, une entame de seconde plus compliqu&eacute;e (le niveau &eacute;tant plus &eacute;lev&eacute;), le bilan des -15 Filles est pour le moment &eacute;quilibr&eacute;.<br>
	Les derni&egrave;res d&eacute;faites sont n&eacute;anmoins sur d'assez faibles &eacute;carts et les jeunes Saint-Jeannaises peuvent viser la premi&egrave;re partie de tableau dans leur poule de Championnat R&eacute;gional (voir <a href="https://www.ffhandball.fr/fr/competition/13823#poule-71539" target="_blank">ici</a>).
</p>
<h3>Les -15 Gar&ccedil;ons - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=5" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Un gros collectif, et deux &eacute;quipes avec pour l'instant des r&eacute;sultats bien diff&eacute;rents...<br>
	Si l'&eacute;quipe 2 conna&icirc;t pour le moment un bilan positif - &eacute;tant m&ecirc;me invaincue et en t&ecirc;te de sa poule de seconde phase (voir <a href="https://www.ffhandball.fr/fr/competition/14910#poule-72365" target="_blank">ici</a>) -, la 1 n'a pour le moment connu que la d&eacute;faite.
</p>
<h3>Les -13 Filles - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=8" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Une premi&egrave;re phase dans une poule d&eacute;licate, sans victoire mais formatrice, pour une &eacute;quipe avec de nombreuses joueuses.<br>
	La seconde phase (voir <a href="https://www.ffhandball.fr/fr/competition/13658#poule-73395" target="_blank">ici</a>) est bien mieux lanc&eacute;e, avec une premi&egrave;re victoire nette.
</p>
<h3>Les -13 Gar&ccedil;ons - <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=7" target="_blank">Aller &agrave; la page &eacute;quipe</a></h3>
<p>
	Un bilan pour le moment relativement &eacute;quilibr&eacute; pour ces jeunes Saint-Jeannais, qui &eacute;voluent dans le niveau interm&eacute;diaire du Championnat D&eacute;partemental (voir <a href="https://www.ffhandball.fr/fr/competition/13657#poule-73381" target="_blank">ici</a>).
</p>
<h3>Les -11 <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=10" target="_blank">Filles</a> &amp; <a href="http://hbc-saintjean.fr/club/equipes/equipe?id=9" target="_blank">Gar&ccedil;ons</a></h3>
<p>
	M&ecirc;me type de parcours que pour leurs a&icirc;n&eacute;es -13 Filles : une premi&egrave;re phase d&eacute;licate en terme de r&eacute;sultats, mais un travail qui finit par payer avec un succ&egrave;s d'entr&eacute;e 
	de jeu en seconde partie de saison (voir <a href="https://www.ffhandball.fr/fr/competition/13660#poule-73535" target="_blank">ici</a> et <a href="https://www.ffhandball.fr/fr/competition/13659#poule-73549" target="_blank">ici</a>).
</p>
<h3>L'&eacute;cole de Handball</h3>
<p>
	Les -9 et les babys sont une nouvelle fois tr&egrave;s nombreux : plus de 60 mini-handballeurs Saint-Jeannais, soit presque le quart des licenci&eacute;s de l'association. Le Samedi matin leur est enti&egrave;rement d&eacute;di&eacute;.<br>
	Et comme chaque saison, les -9 encha&icirc;nent les tournois (plateaux) d&eacute;di&eacute;s &agrave; cette cat&eacute;rie, dans la r&eacute;gion Toulousaine.
</p>
<h3>40 Saint-Jeannais pour Fenix-Istres</h3>
<p>
	Comme chaque saison, le HBCSJ est abondamment pr&eacute;sent au Palais des Sports, pour encourager le Fenix Toulouse Handball qui &eacute;volue au plus haut niveau national.
	Il y a quelques semaines, 40 de nos jeunes joueurs ont m&ecirc;me &eacute;t&eacute; convi&eacute;s &agrave; entrer avec les pros, porter les drapeaux et jouer les serpilleros au bord du terrain.<br>
	Une belle exp&eacute;rience qui a ravi les enfants et, &eacute;videmment leurs familles !!
</p>