<h2>R&eacute;sultats : 11 / 12 Janvier</h2>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire &agrave; Merville
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;faite &agrave; Flourens
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;faite contre Quint-Fonsegrives
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;faite &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire &agrave; Lavelanet
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Carcassonne
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; L'Union
    </li>
</ul>
<h2>Programme : 18 / 19 Janvier</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Colomiers-La Salvetat
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
		<b>-13 Filles : </b>R&eacute;ception de Comminges Handball
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Flourens
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Revel
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Auterive
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Muret
    </li>
</ul>