<h2>Seniors Filles : une confirmation avec la mani&egrave;re</h2>
<p>
    Une semaine apr&egrave;s leur victoire tant attendue &agrave; Montauban, cl&ocirc;turant une longue p&eacute;riode de 
    d&eacute;faites, les Seniors Filles voulaient encha&icirc;ner &agrave; domicile contre Pays-des-Nestes, situ&eacute;es juste devant 
    elles au classement. Et le moins que l'on puisse dire, c'est qu'elles n'ont pas laiss&eacute; le suspense s'installer longtemps : 
    4-0 apr&egrave;s 4 minutes de jeu, 6-1 &agrave; la 10<sup>&egrave;me</sup>, 10-3 &agrave; la 20<sup>&egrave;me</sup>, et une 
    premi&egrave;re mi-temps conclue avec autorit&eacute; 15 &agrave; 8.<br>
    Le seconde acte est du m&ecirc;me acabit, une d&eacute;fense verrouill&eacute;e et une attaque efficace font grimper l'&eacute;cart 
    &agrave; +10 &agrave; la 40<sup>&egrave;me</sup> minute et un dernier coup de gr&acirc;ce des Saint-Jeannaises porte le score final 
    &agrave; 29-15.<br>
    Une belle d&eacute;monstration de force, une nouvelle fois source de confiance, avant un d&eacute;placement &agrave; Castelsarrasin, 
    pour lequel la victoire et l'unique objectif.
</p>
<h2>Equipes jeunes : bilan &eacute;quilibr&eacute;</h2>
<ul>
    <li>
        <b>-11 Filles</b> : Belle victoire &agrave; L'Isle-Jourdain.
    </li>
    <li>
        <b>-13 Filles</b> : Victoire d'un petit but, chez le TFH.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;faite &agrave; Brugui&egrave;res.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite contre Fontenilles.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Nouveau festival de buts, et belle victoire chez le Fenix.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;faite chez Ouest-Tarn, malgr&eacute; le 2<sup>&egrave;me</sup> tiers-temps remport&eacute;.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;faite contre Pins-Justaret.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Victoire contre Beauzelle.
    </li>
</ul>
<h2>Un tournoi Rois &amp; Reines r&eacute;ussi</h2>
<p>
    Le club de Beauzelle accueille ce week-end, dans son Complexe Eug&egrave;ne Chamayou, le tournoi Rois et Reines, destin&eacute; 
    aux &eacute;quipes -9 de la r&eacute;gion.<br>
    Cet &eacute;v&eacute;nement a &eacute;t&eacute; un succ&egrave; et nos plus jeunes joueurs ont d&eacute;j&agrave; montr&eacute; 
    un bel esprit collectif !<br>
    Mention sp&eacute;ciale &agrave; Mikas qui joue en -11 et qui s'est adonn&eacute; &agrave; l'indispensable r&ocirc;le d'arbitre.<br>
    De belles r&eacute;compenses pour lui : un troph&eacute;e et 2 places pour voir le Fenix.
</p>
<p>
    <a href="../_data/news/13/1.png" target="_blank"><img src="../_data/news/13/1.png" style="height: 80px;"></a>
    <a href="../_data/news/13/2.png" target="_blank"><img src="../_data/news/13/2.png" style="height: 80px;"></a>
    <a href="../_data/news/13/3.png" target="_blank"><img src="../_data/news/13/3.png" style="height: 80px;"></a>
    <a href="../_data/news/13/4.png" target="_blank"><img src="../_data/news/13/4.png" style="height: 80px;"></a>
    <a href="../_data/news/13/5.png" target="_blank"><img src="../_data/news/13/5.png" style="height: 80px;"></a>
    <a href="../_data/news/13/6.png" target="_blank"><img src="../_data/news/13/6.png" style="height: 80px;"></a>
    <a href="../_data/news/13/7.png" target="_blank"><img src="../_data/news/13/7.png" style="height: 80px;"></a>
    <a href="../_data/news/13/8.png" target="_blank"><img src="../_data/news/13/8.png" style="height: 80px;"></a>
    <a href="../_data/news/13/9.png" target="_blank"><img src="../_data/news/13/9.png" style="height: 80px;"></a>
</p>