<h2>R&eacute;sultats : 18 / 19 Janvier</h2>
<p>
	7 victoires en 9 matchs, un 100% de succ&egrave;s chez les Seniors, un week-end quasi-r&eacute;f&eacute;rence pour cette saison !
</p>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire contre Colomiers-La Salvetat
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre Saint-Jory
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;faite contre Comminges Handball
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>Victoire contre Flourens
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Revel
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2 : </b>Victoire &agrave; Auterive
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire &agrave; Muret
    </li>
</ul>
<h2>Programme : 25 / 26 Janvier</h2>
<ul>
    <li>
		<b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Saint-Affrique
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Quint-Fonsegrives (&agrave; Belb&egrave;ze)
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Auterive, contre Sud-Toulousain
    </li>
</ul>