<h2>R&eacute;sultats : 25 / 26 Janvier</h2>
<ul>
    <li>
		<b>-13 Gar&ccedil;ons : </b>Victoire contre Saint-Jory
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Saint-Affrique
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Match nul contre Quint-Fonsegrives
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire &agrave; Auterive, contre Sud-Toulousain
    </li>
</ul>
<h2>Programme : 1 / 2 F&eacute;vrier</h2>
<ul>
    <li>
		<b>-11 Filles : </b>D&eacute;placement &agrave; Muret
    </li>
    <li>
		<b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Flourens
    </li>
    <li>
		<b>-15 Filles : </b>D&eacute;placement &agrave; Rivesaltes
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception de Castres-Vall&eacute;e du Thore
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Flourens
    </li>
    <li>
		<b>-18 Filles : </b>R&eacute;ception de Castelnaudary
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Pamiers
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Castres
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception du CRAHB
    </li>
</ul>