<ul>
    <li>
		<b>-11 Filles : </b>Victoire &agrave; Muret
    </li>
    <li>
		<b>-11 Gar&ccedil;ons : </b>Victoire contre Flourens
    </li>
    <li>
		<b>-15 Filles : </b>D&eacute;faite &agrave; Rivesaltes
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Castres-Vall&eacute;e du Thore
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>Victoire contre Flourens
    </li>
    <li>
		<b>-18 Filles : </b>Victoire contre Castelnaudary
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Pamiers
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Castres
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre le CRAHB
    </li>
</ul>
<h2>C'est la tr&ecirc;ve jusqu'&agrave; fin F&eacute;vrier !!</h2>