<h2>Programme : 29 F&eacute;vrier / 1er Mars</h2>
<ul>
    <li>
		<b>-11 Filles : </b>R&eacute;ception de Pamiers
    </li>
    <li>
		<b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
		<b>-13 Filles : </b>R&eacute;ception de Flourens
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Quint-Fonsegrives
    </li>
    <li>
		<b>-15 Filles : </b>R&eacute;ception de Revel
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>R&eacute;ception de Bram
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>R&eacute;ception de Roques
    </li>
    <li>
		<b>-18 Filles : </b>R&eacute;ception de Pennautier-Carcassonne
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Montech
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Saint-Sulpice
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception d'Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Flourens
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Merville
    </li>
</ul>