<h2>R&eacute;sultats : 29 F&eacute;vrier / 1er Mars</h2>
<ul>
    <li>
		<b>-11 Filles : </b>Victoire contre Pamiers
    </li>
    <li>
		<b>-11 Gar&ccedil;ons : </b>Victoire contre Tournefeuille
    </li>
    <li>
		<b>-13 Filles : </b>Victoire contre Flourens
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Quint-Fonsegrives
    </li>
    <li>
		<b>-15 Filles : </b>Victoire contre Revel
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Bram
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>Victoire contre Roques
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Montech
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Saint-Sulpice
    </li>
    <li>
        <b>Seniors Filles : </b>Match nul contre Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Flourens
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre Merville
    </li>
</ul>
<h2>Programme : 7 / 8 Mars</h2>
<ul>
    <li>
		<b>-13 Filles : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>R&eacute;ception de Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
		<b>-15 Filles : </b>R&eacute;ception de Saint-Girons
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
		<b>-18 Filles : </b>D&eacute;placement &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Gramat
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Levezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Pins-Justaret
    </li>
</ul>