<h2>R&eacute;sultats : 7 / 8 Mars</h2>
<ul>
    <li>
		<b>-13 Filles : </b>Victoire &agrave; Tournefeuille
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;faite contre Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
		<b>-15 Filles : </b>D&eacute;faite contre Saint-Girons
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 2 : </b>Victoire &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
		<b>-18 Filles : </b>Victoire &agrave; Luzenac, contre Vall&eacute;es d'Ax
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Gramat
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre CIEL
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Levezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre Pins-Justaret
    </li>
</ul>
<h2>Les Seniors Gar&ccedil;ons invaincus &agrave; mi-parcours</h2>
<p>
	Apr&egrave;s les matchs allers de la seconde phase, les deux &eacute;quipes masculines pr&eacute;sentent un bilan tr&egrave;s largement positif.<br>
	Avec un match nul pour quatre victoires, la 1 partage la t&ecirc;te de son groupe avec Quint-Fonsegrives, contre qui elle a d&eacute;j&agrave; "grill&eacute;" son joker.<br>
	De son c&ocirc;t&eacute;, la 2 est seule leader, devant son dernier adversaire Pins-Justaret, avec 5 succ&egrave;s en autant de matchs.
</p>
<h2>Programme : 14 / 15 Mars</h2>
<ul>
    <li>
		<b>-11 Filles : </b>R&eacute;ception de Blagnac
    </li>
    <li>
		<b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Saint-Jory
    </li>
    <li>
		<b>-13 Filles : </b>D&eacute;placement &agrave; Montr&eacute;jeau, contre Comminges Handball
    </li>
    <li>
		<b>-13 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
		<b>-15 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Maz&egrave;res
    </li>
    <li>
		<b>-18 Filles : </b>D&eacute;placement &agrave; Saint-Jory
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Merville
    </li>
    <li>
		<b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Balma
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Espalion
    </li>
</ul>