<p>
	La semaine pass&eacute;e, la Ligue a tranch&eacute; concernant la fin de saison, tronqu&eacute;e par l'&eacute;pisode de COVID-19. Il s'agissait notamment de d&eacute;terminer quelles &eacute;quipes allaient monter ou descendre de niveau, pour 2020 / 2021, par rapport aux classements des comp&eacute;titions arr&ecirc;t&eacute;es d&eacute;but Mars.
<br><br>
Et les deux bonnes nouvelles sont tomb&eacute;es :
<br><br>
- les Seniors Filles, en milieu de classement de la Poule Basse du Championnat Pr&eacute;national, vont bien &eacute;voluer au m&ecirc;me niveau la saison prochaine.
<br><br>
- les Seniors Garçons, &agrave; la lutte et &agrave; &eacute;galit&eacute; avec Quint-Fonsegrives en t&ecirc;te de la Poule Haute du Championnat Territorial, vont finalement monter d'un niveau (ainsi que Quint) et acc&eacute;der au niveau Régional Excellence !!
</p>