<h2>Jamais 2 sans 3 pour les Seniors Filles ?</h2>
<p>
    Elles sont lanc&eacute;es et comptent bien rester sur cette excellente dynamique. Avec deux victoires cons&eacute;cutives, les 
    Saint-Jeannaises - qui restent sur une magnifique prestation contre Pays-des-Nestes - vont Samedi &agrave; Castelsarrasin l'esprit 
    conqu&eacute;rant. Contre les actuelles derni&egrave;res du Championnat R&eacute;gional Excellence, l'&eacute;quipe f&eacute;minine sera 
    chauff&eacute;e &agrave; blanc pour r&eacute;aliser la passe de trois !
</p>
<h2>D&eacute;but de la 2<sup>&egrave;me</sup> phase pour les Seniors Gar&ccedil;ons</h2>
<p>
    Vendredi soir exceptionnellement, l'&eacute;quipe 1 masculine recevra L'Isle-Jourdain &agrave; Belb&egrave;ze pour l'ouverture de la seconde phase 
    de la Division 1 du Championnat Territorial (Pr&eacute;-R&eacute;gion). Il s'agira d'entr&eacute;e de jeu d'obtenir un bon r&eacute;sultat, 
    dans cette comp&eacute;tition tr&egrave;s relev&eacute;e.<br>
    Dans la Poule Excellence, l'&eacute;quipe 2 est exempte pour cette premi&egrave;re journ&eacute;e.
</p>
<h2>Week-end complet pour les jeunes</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;placement &agrave; Saint-Gaudens.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Rieux-Volvestre.
    </li>
    <li>
        <b>-13 Filles</b> : R&eacute;ception de Blagnac, pour le match au sommet de la Poule Excellence.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;placement aux Argoulets, contre le Fenix.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Merville.
    </li>
    <li>
        <b>-15 Filles</b> : D&eacute;placement &agrave; Saint-Jory.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Merville.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : R&eacute;ception de Pechbonnieu - Coteaux.
    </li>
    <li>
        <b>-18 Filles</b> : R&eacute;ception de Muret.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Merville.
    </li>
</ul>