<h2>La passe de trois pour les Seniors Filles</h2>
<p>
    Le nouveau visage de l'&eacute;quipe f&eacute;minine est bel et bien là ! Les matchs retours se poursuivent de la plus belle des mani&egrave;res, avec une nouvelle 
    victoire autoritaire &agrave; Castelsarrasin. Deux entames de mi-temps &agrave; sens unique ont pos&eacute; les bases du 3<sup>&egrave;me</sup> 
    succ&egrave;s cons&eacute;cutif des joueuses Saint-Jeannaises. Score final 31 &agrave; 20 : encore une fois, une belle association entre attaque 
    efficace et d&eacute;fense solide !<br>
    Place &agrave; une tr&ecirc;ve m&eacute;rit&eacute;e : RDV le 10 Mars &agrave; Cassin, contre Muret.
</p>
<h2>Seniors Gar&ccedil;ons : couac pour le d&eacute;but de la 2<sup>de</sup> phase</h2>
<p>
    A la fin de saison, on esp&egrave;re que cette premi&egrave;re opposition de Pr&eacute;-R&eacute;gion ne laissera pas trop de regrets... En recevant L'Isle-Jourdain 
    &agrave; Belb&egrave;ze Vendredi soir, l'&eacute;quipe masculine voulait entamer cette seconde phase de la meilleure des mani&egrave;res. C'est pourtant 
    d&eacute;&ccedil;us que les Saint-Jeannais sont rentr&eacute;s au vestiaire.<br>
    Le public et les joueurs seront pass&eacute;s pas tous les &eacute;tats : 3 premi&egrave;res minutes horribles (1-5), un beau rattrapage les 15 suivantes 
    (8-7) et une premi&egrave;re mi-temps finalement maitris&eacute;e (15-13). Le retour de la pause &eacute;tait m&ecirc;me s&eacute;duisant (23-18 &agrave; la 41<sup>&egrave;me</sup>)...
    Seulement, les vingt ultimes minutes cauchemardesques auront raison de la domination des locaux. Les tous derniers instants, extr&ecirc;memement confus, de la partie, 
    ont permis aux Gersois de repartir vainqueurs 30 &agrave; 29 d'un match d&eacute;j&agrave; clef dans la lutte pour la mont&eacute;e.
</p>
<h2>Chez les jeunes : des gar&ccedil;ons offensifs</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;faite &agrave; Saint-Gaudens.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Victoire &agrave; Rieux-Volvestre.
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;faite &agrave; Blagnac, malgr&eacute; le 3<sup>&egrave;me</sup> tiers-temps remport&eacute;.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Belle victoire contre le Fenix.
    </li>
    <li>
        <b>-15 Filles</b> : D&eacute;faite &agrave; Saint-Jory malgr&eacute; le 1<sup>er</sup> tiers-temps remport&eacute;.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Belle victoire &agrave; Merville.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;faite contre Pechbonnieu - Coteaux, malgr&eacute; le 3<sup>&egrave;me</sup> tiers-temps remport&eacute;.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;faite contre Muret.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Victoire &agrave; Merville.
    </li>
</ul>