<h2>Les Seniors Gar&ccedil;ons doivent se relancer</h2>
<p>
    Samedi, &agrave; Lisle-sur-Tarn contre Ouest-Tarn, l'&eacute;quipe 1 masculine devra se rattraper de sa d&eacute;cevante prestation de la 
    semaine derni&egrave;re contre L'Isle-Jourdain. Face &agrave; un adversaire d&eacute;j&agrave; rencontr&eacute; trois fois cette saison, les 
    gar&ccedil;ons doivent absolument revenir avec la victoire.
</p>
<p>
    De leur c&ocirc;t&eacute;, l'&eacute;quipe 2 entame sa seconde phase &agrave; Aucamville, en poule Excellence du Championnat Territorial.
</p>
<h2>Match en retard pour les -13 Gar&ccedil;ons 2</h2>
<p>
    Initialement pr&eacute;vu le week-end dernier, la rencontre &agrave; Merville a lieu ce Samedi, &agrave; 15h.
</p>
<h2>Pour les autres, c'est la tr&ecirc;ve !</h2>
<p>
    Pour les autres collectifs Saint-Jeannais, c'est l'heure de quelques semaines de repos. Les matchs reprendront le week-end du 3 / 4 Mars pour les 
    -11 Gar&ccedil;ons, les -11 Filles et les -13 Filles (Coupe du 31), et le 10 / 11 Mars pour tout le monde.
</p>