<p>
    <b>
        Avant tout, l'ensemble des Seniors Gar&ccedil;ons remercient les trois joueurs -18 venus les renforcer pour ces deux rencontres.
        En effectif r&eacute;duit, les deux &eacute;quipes avaient clairement besoin de leur participation.
    </b>
</p>
<h2>Courte mais pr&eacute;cieuse victoire pour les Seniors Gar&ccedil;ons 1</h2>
<p>
    Face &agrave; une &eacute;quipe que les Saint-Jeannais avaient d&eacute;j&agrave; affront&eacute; &agrave; trois reprises, l'objectif &eacute;tait 
    de se racheter apr&egrave;s la fin de match d&eacute;cevante contre L'Isle-Jourdain.<br>
    Durant 60 minutes crispantes, contre des Tarnais toujours difficiles &agrave; manoeuvrer, les joueurs du HBCSJ ont rapidement men&eacute;, 
    et su conserver une courte avance. Le score final - inhabituel pour les deux adversaires du soir - d&eacute;montre &agrave; quel point la lutte sera 
    serr&eacute;e dans cette poule Pr&eacute;-R&eacute;gion. Mais cette victoire 22-19 de l'&eacute;quipe 1 permet &agrave; nos joueurs d'aborder la tr&ecirc;ve 
    plus sereinement.
</p>
<h2>Seconde mi-temps fatale aux Seniors Gar&ccedil;ons 2</h2>
<p>
    A Aucamville, contre un beau collectif renforc&eacute; de quelques &eacute;l&eacute;ments de R&eacute;gion Excellence, l'&eacute;quipe 2 a 
    elle propos&eacute; deux visages, totalement oppos&eacute;s.<br>
    Une premi&egrave;re mi-temps &eacute;quilibr&eacute;e, voire surprenante, pendant laquelle les visiteurs - n'ayant qu'un joueur de champ rempla&ccedil;ant - 
    ont su tenir t&ecirc;te, et parfois mener au score, avec un jeu h&eacute;sitant mais d&eacute;complex&eacute;.<br>
    Un retour des vestiaires catastrophique, qui vit les locaux infliger un 13-0 en 16 minutes &agrave; des Saint-Jeannais totalement &agrave; 
    cours de solutions...<br>
    Un match &agrave; oublier, pour une entame de 2<sup>&egrave;me</sup> phase bien compliqu&eacute;e...
</p>
<h2>D&eacute;faite &agrave; Merville pour les -13 Gar&ccedil;ons 2</h2>
<p>
    Pour le match en retard initialement pr&eacute;vu le week-end pr&eacute;c&eacute;dent, la jeune &eacute;quipe masculine a du s'incliner, 
    dans le Nord-Ouest Toulousain.
</p>