<h2>Week-end de Coupe pour les -11 et -13 Filles</h2>
<p>
    En cette p&eacute;riode de tr&ecirc;ve, ces deux jours sont r&eacute;serv&eacute;s &agrave; la Coupe du 31, la nouvelle comp&eacute;tition 
    instaur&eacute;e cette saison pour les -11 et les -13.
</p>
<p>
    Samedi, les -11 Filles seront oppos&eacute;es &agrave; Aucamville puis Bessieres dans le tournoi &agrave; trois du Challenge.
</p>
<p>
    Dimanche, les -11 Gar&ccedil;ons rencontreront le CRAHB et le Fenix, &eacute;galement en Challenge.<br>
    Enfin, les -13 Filles joueront, pour la 4<sup>&egrave;me</sup> fois cette saison, contre Blagnac, &agrave; Ren&eacute;-Cassin, pour tenter de 
    passer un nouveau tour de Coupe.
</p>
<h2>Les autres &eacute;quipes sont toujours en vacances !!</h2>