<h2>Elimination des trois &eacute;quipes jeunes en lice en Coupe du 31</h2>
<p>
    Fin du beau parcours des -11 Filles, -11 Gar&ccedil;ons et -13 Filles en Coupe de Haute-Garonne.
</p>
<p>
    A Aucamville, les -11 Filles ont pourtant commenc&eacute; de la meilleure des mani&egrave;res (gain du premier tiers-temps), mais 
    ont subi les assauts des locaux dans les deux suivants.
</p>
<p>
    Dans un tournoi &agrave; trois aux Argoulets, les -11 Gar&ccedil;ons ont perdu leurs deux rencontres contre le Fenix et le CRAHB.
</p>
<p>
    Enfin, oppos&eacute;es &agrave; Blagnac pour la 4<sup>&egrave;me</sup> fois cette saison, les -13 Filles ont de nouveau conc&eacute;d&eacute; 
    la d&eacute;faite, malgr&eacute; un 1<sup>er</sup> tiers-temps prometteur.
</p>