<h2>
    Qualifi&eacute;s pour le 5<sup>&egrave;me</sup> tour de Coupe de France D&eacute;partementale, 
    les Seniors Gar&ccedil;ons iront dans le Limousin le week-end du 13 / 14 Janvier
</h2>
<p>
    Vainqueurs de Druelle &agrave; la mi-D&eacute;cembre, le tirage au sort a d&eacute;sign&eacute; Oradour-sur-Glane comme 
    &eacute;tant le prochain adversaire des co&eacute;quipiers de Yann Foultier.
</p>
<p>
    Premiers et invaincus de leur poule de brassage du Championnat Territorial de Haute-Vienne, ce collectif se pr&eacute;sente 
    comme un adversaire coriace pour ce premier match de l'ann&eacute;e 2018.
</p>
<p>
    C'est la derni&egrave;re &eacute;tape avant les 1/16<sup>&eacute;mes</sup> de finale, et le week-end de plateau entre les 
    meilleures &eacute;quipes du Sud-Ouest.
</p>