<h2>-15 Gar&ccedil;ons : remise des maillots par Bruno Leclerc et des personnalit&eacute;s du Handball</h2>
<p>
    A la mi-temps du match des -18 Gar&ccedil;ons contre le CRAHB, les -15 Gar&ccedil;ons se verront remettre leur nouveau jeu de 
    maillots par Bruno Leclerc, leur sponsor, qui viendra &agrave; Ren&eacute; Cassin accompagn&eacute; de trois Handballeurs (anciens ? actuels ? surprise !!) 
    arborant des palmar&egrave;s de Champions Olympiques, d'Europe et du Monde.
</p>
<h2>Seniors : les filles re&ccedil;oivent Muret, les gar&ccedil;ons &agrave; l'assaut de Brugui&egrave;res</h2>
<p>
    A la suite du match des Seniors Gar&ccedil;ons 2 contre Merville, les filles voudront poursuivre leur belle s&eacute;rie de 
    victoires &agrave; domicile contre Muret. Ce nouveau remake de la demi-finale de la saison pass&eacute;e donnera certainement lieu 
    &agrave; une nouvelle rencontre intense et accroch&eacute;e.
</p>
<p>
    Dimanche, l'&eacute;quipe 1 masculine se rendra &agrave; Brugui&egrave;res, pour un des principaux rivaux pour la mont&eacute;e en 
    R&eacute;gion. Pour ce 3<sup>&egrave;me</sup> match de la saison face aux rouges et noirs, la victoire est quasi-obligatoire.
</p>
<h2>Jeunes : 7 matchs au programme</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;placement &agrave; Ramonville, chez le CRAHB.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : R&eacute;ception de Fontenilles.
    </li>
    <li>
        <b>-13 Filles</b> : R&eacute;ception de l'entente Brugui&egrave;res / Saint-Jory.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : R&eacute;ception de La Salvetat.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : R&eacute;ception d'Aucamville.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;placement &agrave; Albi.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : R&eacute;ception du CRAHB.
    </li>
</ul>