<h2>Les Seniors Filles solides face &agrave; Muret</h2>
<p>
    En recevant les 8<sup>&egrave;mes</sup> du Championnat R&eacute;gional Excellence, les Saint-Jeannaises avaient deux objectifs :
    poursuivre leur s&eacute;rie d'invincibilit&eacute; depuis le d&eacute;but de la phase retour, et passer devant leurs adversaires 
    du soir au classement.<br>
    Et comme en demi-finale la saison pass&eacute;e, et au mois d'Octobre, le combat fut ind&eacute;cis jusque dans les 
    derniers instants. Bien que menant au score la grande majorit&eacute; de la rencontre, les filles du HBCSJ n'ont jamais pu se mettre 
    totalement &agrave; l'abri, les Mur&eacute;taines ne s'avouant jamais vaincues. Mais fortes d'une d&eacute;fense solidaire et de deux gardiennes 
    efficaces, les locales ont su valider une 5<sup>&egrave;me</sup> victoire cons&eacute;cutive, et passer devant leurs invit&eacute;es du soir.
</p>
<h2>Les Seniors Gar&ccedil;ons 1 conqu&eacute;rants &agrave; Brugui&egrave;res, la 2 d&eacute;cevante face &agrave; Merville</h2>
<p>
    En ouverture de ce match, l'&eacute;quipe 2 masculine recevait la 1 de Merville. Contre des adversaires bien connus depuis 
    plusieurs saisons, l'opposition est rest&eacute;e &eacute;quilibr&eacute;e pendant 25 minutes, puis bascula lentement mais s&ucirc;rement 
    dans le camp des visiteurs. Bien plus appliqu&eacute;s, les jaunes et noirs ont encha&icirc;n&eacute; avec une seconde p&eacute;riode 
    s&eacute;rieuse, pour l'emporter de 10 buts.
</p>
<p>
    Le lendemain, les Seniors Gar&ccedil;ons 1 se d&eacute;pla&ccedil;aient &agrave; Brugui&egrave;res, pour une 3<sup>&egrave;me</sup> rencontre 
    cette saison entre les deux &eacute;quipes.<br>
    Tr&egrave;s diminu&eacute;s (sans rempla&ccedil;ants...), les locaux ont tenu 10 minutes avant de c&eacute;der face aux Saint-Jeannais.<br>
    Deuxi&egrave;me victoire en 3 matchs, dans cette Poule Haute du Championnat Territorial, dans laquelle chaque rencontre sera d&eacute;cisive pour la mont&eacute;e en R&eacute;gion.
</p>
<h2>Chez les jeunes : reprise du championnat pour les -13 Gar&ccedil;ons, les -11 et les -18</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;faite &agrave; Ramonville, chez le CRAHB (malgr&eacute; le gain des 1<sup>er</sup> et 3<sup>&egrave;me</sup> tiers-temps !).
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Belle victoire contre Fontenilles.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Victoire face &agrave; La Salvetat.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite face &agrave; Aucamville.
    </li>
    <li>
        <b>-18 Filles</b> : Match nul &agrave; Albi, et la naissance d'une vocation au poste d'entra&icirc;neur (voir image ci-dessus) ?
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Victoire face au CRAHB.
    </li>
</ul>