<p>
    Monsieur Bruno Leclerc l'avait annonc&eacute; : il d&eacute;voilerait les deux nouveaux jeux de maillots des -15 Gar&ccedil;ons aux 
    licenci&eacute;s et parents du club.<br>
    Micro &agrave; la main, &agrave; la mi-temps de la rencontre -18 Gar&ccedil;ons - CRAHB, le fondateur de l'entreprise de peinture, 
    bas&eacute;e &agrave; Saint-Jean et accessoirement partenaire majeur du Fenix Toulouse Handball, pr&eacute;sentait les nouvelles 
    tenues des jeunes joueurs, fruit de son sponsoring. Et pour ce faire, il n'est pas venu seul, et a propos&eacute; une surprise de 
    taille aux dizaines de personnes pr&eacute;sentes dans le gymnase : la venue de trois personnalités, acteurs principaux du succ&egrave;s 
    du Handball Fran&ccedil;ais et Toulousain depuis les ann&eacute;es 1990.
</p>
<p>
    <b>Le Docteur Pierre S&eacute;bastien : </b> m&eacute;decin du sport le plus titr&eacute; de l'hexagone, il accompagne depuis 
    2004 l'&eacute;quipe de France de Handball, en plus d'&ecirc;tre fid&egrave;le &agrave; la formation Toulousaine, et &agrave; 
    son cabinet de g&eacute;n&eacute;raliste en ville.<br>
    Dans les nombreux documentaires et vid&eacute;os sur la vie des bleus, on peut y constater la pr&eacute;sence de ce docteur, aux 
    petits soins pour suivre et g&eacute;rer l'&eacute;tat de forme des Karabatic, Omeyer &amp; co.
</p>
<p>
    <b>Philippe Gardent : </b> un des entra&icirc;neurs les plus exp&eacute;riment&eacute;s de France, il s'occupe aujourd'hui, et depuis 2015, 
    du Fenix Toulouse Handball.<br>
    D'abord pendant 16 ans &agrave; Chamb&eacute;ry (1996 / 2012), il est &agrave; l'origine de l'&eacute;closion de noms comme Bertrand &amp; Guillaume 
    Gille, Daniel Narcisse, Xavier Barachet, Cyril Dumoulin, Timotey N'Guessan... Puis pendant 3 ans au PSG Handball (2012 / 2015) quand le club fut rachet&eacute; 
    par Qatar Investment Authority, provoquant la venue de stars comme Mikkel Hansen, Luc Abalo, Didier Dinart...<br>
    Il est donc depuis 3 ans &agrave; la t&ecirc;te du club Toulousain et fait r&eacute;sonner sa voix grave dans le Palais des Sports.<br>
    N'oublions pas non plus sa carri&egrave;re exceptionnelle de joueur : pivot rugueux et membre majeur de la fameuse &eacute;quipe des Barjots, il gagna 
    la m&eacute;daille de Bronze aux J.O. de Barcelone (1992) et surtout le Championnat du Monde en Islande (1995), premi&egrave;res lignes 
    du palmar&egrave;s titanesque des bleus.
</p>
<p>
    <b>Claude Onesta : </b> est-il encore n&eacute;cessaire de le pr&eacute;senter... Vainqueur de toutes les comp&eacute;titions 
    internationales possibles et imaginables avec l'&eacute;quipe de France - en plusieurs exemplaires - on en oublie presque qu'il a 
    men&eacute; Toulouse &agrave; la 3<sup>&egrave;me</sup> place du Championnat de France (1997 / 1998) et surtout &agrave; la victoire en 
    Coupe de France (1999).<br>
    Exemple d'entra&icirc;neur et de manager, &agrave; la t&ecirc;te des Experts entre 2001 et 2016, ce natif d'Albi ayant grandi &agrave; 
    Toulouse est aujourd'hui en mission sur les J.O. de Paris 2024, afin de renforcer le haut niveau Fran&ccedil;ais.
</p>
<p>
    Trois personnages donc, qui nous ont fait l'honneur et le plaisir de passer un moment &agrave; Ren&eacute; Cassin, qui ont pris le temps 
    de dire quelques mots d'encouragement pour le club familial que nous repr&eacute;sentons, et le sport amateur dont nous sommes tous acteurs.<br>
    Un grand merci &agrave; eux, et &agrave; Bruno Leclerc pour cette surprise qui a permis ce superbe &eacute;v&eacute;nement !
</p>
<p>
    <b>
        Les photos de cette pr&eacute;sentation sont disponibles <a href="https://photos.app.goo.gl/vGZakqUtzQO3Ojt23" target="_blank">dans cet album</a>.
    </b>
</p>