<h2>Seniors Filles : 5<sup>&egrave;me</sup> succ&egrave;s de rang &agrave; Cahors ?</h2>
<p>
    Apr&egrave;s une nouvelle belle victoire contre Muret la semaine pass&eacute;e, les f&eacute;minines se d&eacute;placent &agrave; 
    Cahors, chez une &eacute;quipe qui les avait lourdement battues au mois d'Octobre. Une revanche &agrave; prendre donc, face aux 5<sup>&egrave;mes</sup> 
    du Championnat R&eacute;gional Honneur, deuxi&egrave;me d&eacute;fense de la comp&eacute;tition.
</p>
<h2>Seniors Gar&ccedil;ons : Condom pour confirmer</h2>
<p>
    De leur c&ocirc;t&eacute;, l'&eacute;quipe 1 masculine recevra Condom, pour valider un 3<sup>&egrave;me</sup> succ&egrave;s en 4 matchs de 
    Pr&eacute;-R&eacute;gion. Face aux Gersois, qui viennent de signer leur premi&egrave;re victoire dans cette poule, les Saint-Jeannais devront &ecirc;tre prudents.
</p>
<p>
    En ouverture de cette rencontre, l'&eacute;quipe 2 recevra Montech, d&eacute;j&agrave; affront&eacute;e deux fois en 1<sup>&egrave;re</sup> phase. Face &agrave; une formation pour le moment leader 
    de la comp&eacute;tition, les gar&ccedil;ons devront faire oublier les oppositions rat&eacute;es contre Aucamville et Merville.
</p>
<h2>Chez les jeunes : 6 matchs au programme</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;placement aux Argoulets, chez le TFH.
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;placement &agrave; Castanet, chez les CRAHB.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : R&eacute;ception de Vall&eacute;es Arize-L&egrave;ze.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Caussade.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;placement &agrave; Saint-Sulpice.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : R&eacute;ception du Fenix.
    </li>
</ul>