<h2>Seniors Filles : 1<sup>&egrave;re</sup> d&eacute;faite en 5 matchs</h2>
<p>
    La belle s&eacute;rie des matchs retours s'est arr&ecirc;t&eacute;e &agrave; Cahors pour l'&eacute;quipe f&eacute;minine.
    Au coude &agrave; coude pendant 20 minutes (10-10), elles s'ont pas su contenir l'acc&eacute;l&eacute;ration Cadurcienne d'avant mi-temps.
    La pause siffl&eacute;e sur le score de 16-12 pour les locales, le second acte se d&eacute;roula sur le m&ecirc;me sch&eacute;ma que la 
    premi&egrave;re. R&eacute;sistantes jusqu'&agrave; la 40<sup>&egrave;me</sup> minute, les Saint-Jeannaises ont fini par d&eacute;finitivement 
    craquer, pour s'incliner 32 &agrave; 25.<br>
    Une d&eacute;faite malgr&eacute; tout loin d'&ecirc;tre alarmante, une semaine avant un nouveau long d&eacute;placement &agrave; Rabastens-de-Bigorre.
</p>
<h2>Seniors Gar&ccedil;ons : un Samedi soir offensif et victorieux</h2>
<p>
    70 buts marqu&eacute;s en deux matchs : les &eacute;quipes masculines ont fait trembler les filets de Ren&eacute; Cassin.<br>
    En ouverture de la soir&eacute;e, l'&eacute;quipe 2 n'a pas eu de mal &agrave; se d&eacute;faire de Montech, le match &eacute;tant pli&eacute; d&egrave;s 
    la mi-temps (21-10, 34-21 score final).<br>
    Ce fut forc&eacute;ment plus serr&eacute; pour la 1, face &agrave; Condom, pour une rencontre encore une fois tr&egrave;s importante, dans cette 
    poule Pr&eacute;-R&eacute;gion tr&egrave;s relev&eacute;e. Apr&egrave;s un premier acte bien men&eacute; (18-11), les joueurs de l'HBCSJ ont 
    du faire face &agrave; la tentative de retour des coriaces Gersois (29-26 &agrave; la 52<sup>&egrave;me</sup>), avant une derni&egrave;re acc&eacute;l&eacute;ration 
    pour porter le score &agrave; 36-29 au coup de sifflet final.<br>
    Deux matchs s&eacute;rieux, deux belles victoires, un bilan tr&egrave;s positif.
</p>
<h2>Chez les jeunes : quelques beaux r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles</b> : Belle victoire aux Argoulets, chez le TFH.
    </li>
    <li>
        <b>-13 Filles</b> : Belle victoire &agrave; Castanet, chez les CRAHB.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite face &agrave; Vall&eacute;es Arize-L&egrave;ze.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Belle victoire &agrave; Caussade.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;faite &agrave; Saint-Sulpice.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : D&eacute;faite face au Fenix.
    </li>
</ul>