<h2>-18 Filles : remise des maillots par des repr&eacute;sentants du Cr&eacute;dit Agricole</h2>
<p>
    Apr&egrave;s les -15 Gar&ccedil;ons il y a deux semaines, c'est au tour de la jeune &eacute;quipe f&eacute;minine de recevoir sa nouvelle tenue, 
    sponsoris&eacute;e par le Cr&eacute;dit Agricole.<br>
    La remise est pr&eacute;vue &agrave; la mi-temps de leur match, &agrave; 19h30, au Gymnase Ren&eacute; Cassin. Madame Holivier et plusieurs repr&eacute;sentants 
    de la banque et de la mairie seront pr&eacute;sents pour l'occasion. Enfin, une tombola sera organis&eacute;e &agrave; la suite de l'&eacute;v&eacute;nement.
</p>
<h2>Seniors : les filles et les gar&ccedil;ons en d&eacute;placement</h2>
<p>
    Alors que les jeunes &eacute;volueront pour la plupart &agrave; domicile, les trois &eacute;quipes Seniors joueront dans les gymnases adverses.<br>
    L'&eacute;quipe f&eacute;minine cherchera &agrave; se relancer &agrave; Rabastens-de-Bigorre. Les 2 heures de route ne devront pas les emp&ecirc;cher de 
    rego&ucirc;ter imm&eacute;diatement &agrave; la victoire.<br>
    L'&eacute;quipe 1 masculine se rendra elle &agrave; Escalquens, contre un collectif qui a r&eacute;alis&eacute; un beau d&eacute;but de seconde phase.<br>
    Enfin, la 2 ira &agrave; Blagnac et cherchera &agrave; jouer avec autant de s&eacute;rieux et de plaisir que le week-end pr&eacute;c&eacute;dent.
</p>
<h2>Jeunes : un carnaval et 9 matchs</h2>
<ul>
    <li>
        <b>-9 ans</b> : Participation au Carnaval organis&eacute; par le Fenix et le TFH, aux Argoulets.
    </li>
    <li>
        <b>-11 Filles</b> : R&eacute;ception de Bessieres.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : R&eacute;ception des Coteaux.
    </li>
    <li>
        <b>-13 Filles</b> : R&eacute;ception de Colomiers.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : R&eacute;ception de Brugui&egrave;res.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Roques.
    </li>
    <li>
        <b>-15 Filles</b> : R&eacute;ception de Lavaur.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : R&eacute;ception d'Albi.
    </li>
    <li>
        <b>-18 Filles</b> : R&eacute;ception de Ouest-Tarn.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Roques.
    </li>
</ul>