<h2>Seniors : seule l'&eacute;quipe 1 gar&ccedil;ons gagne</h2>
<p>
    Les filles, en d&eacute;placement &agrave; Rabastens-de-Bigorre, cherchaient &agrave; retrouver le chemin de la victoire apr&egrave;s leur 
    d&eacute;faite &agrave; Cahors. Malheureusement, face aux secondes du Championnat R&eacute;gional Excellence, s'av&eacute;rait complexe.
    Offrant une belle r&eacute;sistance pendant 21 minutes (12-12), les Saint-Jeannaises allaient peu &agrave; peu laisser s'&eacute;chapper leurs 
    h&ocirc;tes. Et apr&egrave;s une seconde p&eacute;riode bien g&eacute;r&eacute;e, les Bigourdanes signaient un succ&egrave;s 30 &agrave; 27. 
    Malgr&eacute; tout, ce match a montr&eacute; aux joueuses du HBCSJ qu'elles sont au niveau du haut de tableau de la comp&eacute;tition.
</p>
<p>
    De leur c&ocirc;t&eacute;, les gar&ccedil;ons se d&eacute;pla&ccedil;aient &agrave; Blagnac puis Escalquens. L'&eacute;quipe 2, toujours en effectif 
    r&eacute;duit, a bien entam&eacute; sa rencontre dans le Nord-Ouest Toulousain (+3 &agrave; la 13<sup>&egrave;me</sup>) mais a connu un trou d'air 
    r&eacute;dhibitoire dans la seconde moiti&eacute; du premier acte. Un retard &agrave; la mi-temps de 4 buts, jamais combl&eacute; malgr&eacute; 
    une belle r&eacute;volte jusqu'&agrave; la 45<sup>&egrave;me</sup> minute. Mais un r&eacute;current manque de lucidit&eacute; &eacute;tait fatal aux 
    visiteurs, qui s'inclinaient finalement 32 &agrave; 24.<br>
    La bonne op&eacute;ration allait venir du Sud-Est, o&ugrave; l'&eacute;quipe 1 se d&eacute;pla&ccedil;ait dans le gymnase de CIEL. Auteurs d'une bonne 
    premi&egrave;re partie de seconde phase, les locaux faisaient douter les Saint-Jeannais jusqu'&agrave; la pause, siffl&eacute;e sur un d&eacute;ficit 
    d'un petit but (19-18)... 20 nouvelles minutes accroch&eacute;es plus tard (29-29 &agrave; la 50<sup>&egrave;me</sup>), les joueurs du HBCSJ 
    se d&eacute;cidaient &agrave; passer la vitesse sup&eacute;rieure, et, apr&egrave;s un dernier 8-2, sont repartis f&ecirc;ter les 40 ans de leur 
    ailier / pr&eacute;sident, une victoire 37 &agrave; 31 en poche !
</p>
<h2>Jeunes : 7 victoires en 9 matchs</h2>
<ul>
    <li>
        <b>-11 Filles</b> : Belle victoire face &agrave; Bessieres.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Belle victoire face aux Coteaux.
    </li>
    <li>
        <b>-13 Filles</b> : Victoire face &agrave; Colomiers.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Victoire face &agrave; Brugui&egrave;res.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite &agrave; Roques.
    </li>
    <li>
        <b>-15 Filles</b> : Victoire face &agrave; Lavaur.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : Belle victoire face &agrave; Albi.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;faite face &agrave; Ouest-Tarn.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Victoire &agrave; Roques.
    </li>
</ul>
<h2>-18 Filles : le Cr&eacute;dit Agricole pr&eacute;sente les nouveaux maillots</h2>
<p>
    Comme les -15 Gar&ccedil;ons deux semaines auparavant, les -18 Filles ont eu droit &agrave; leur nouveau jeu de maillots. Sponsoris&eacute;es par le 
    Cr&eacute;dit Agricole, les tenues ont &eacute;t&eacute; pr&eacute;sent&eacute;es Samedi en d&eacute;but de soir&eacute;e par les responsables de l'agence 
    Saint-Jeannaise.
</p>
<p style="text-align: center;">
    <a href="../_data/news/26/1.png" target="_blank"><img src="../_data/news/26/1.png" style="width: 75%;"></a>
</p>
<h2>-9 ans : un carnaval r&eacute;ussi</h2>
<p>
    Les deux clubs Toulousains, le Fenix et le TFH, organisaient ce week-end un tournoi destin&eacute; aux &eacute;coles de Handball de la r&eacute;gion, sur le 
    th&egrave;me du carnaval. D&eacute;guis&eacute;s, ravis, nos plus jeunes joueurs et leurs entra&icirc;neurs ont fait honneur &agrave; l'&eacute;v&eacute;nement, 
    arborant leurs plus belles tenues de pirates et maniant le ballon avec entousiasme !
</p>
<p>
    <b>
        Les photos de cet &eacute;v&eacute;nement sont disponibles <a href="https://photos.app.goo.gl/EWadAm6ekU8if4mG2" target="_blank">dans cet album</a>.
    </b>
</p>