<h2>Seulement 3 matchs : -18 Filles, -18 Gar&ccedil;ons et -15 Gar&ccedil;ons 2</h2>
<p>
    Forts d'un succ&egrave;s impressionnant (plus de 50 buts inscrits) contre Albi le week-end dernier, l'&eacute;quipe 2 
    des -15 Gar&ccedil;ons voyageront &agrave; Beauzelle &agrave; la recherche d'une seconde victoire cons&eacute;cutive.
</p>
<p>
    Dans une p&eacute;riode compliqu&eacute;e en terme de r&eacute;sultats, les -18 Filles se d&eacute;placent &agrave; Pins-Justaret, 
    face &agrave; qui elles se sont inclin&eacute;es de 5 petits buts au mois de F&eacute;vrier.<br>
    Leurs nouveaux maillots leur porteront-ils bonheur ?
</p>
<p>
    Les -18 Gar&ccedil;ons eux, surfent sur les bons r&eacute;sultats (5 victoires sur les 6 derniers matchs), et iront &eacute;galement &agrave; 
    Beauzelle pour poursuivre cette belle s&eacute;rie. Premiers de leur poule, ils ont un statut &agrave; honorer !
</p>
<h2>Pour le reste : tr&ecirc;ve de P&acirc;ques !</h2>
<p>
    Pour la plupart, les autres collectifs reprennent d&egrave;s la semaine prochaine.
</p>