<h2>-15 Gar&ccedil;ons 2 et -18 Gar&ccedil;ons victorieux &agrave; Beauzelle</h2>
<p>
    Samedi soir, deux &eacute;quipes du HBCSJ jouaient &agrave; Beauzelle. Premiers &agrave; affronter les verts, les -15 Gar&ccedil;ons 2.
    Et, comme pour les pr&eacute;c&eacute;dents matchs, les jeunes Saint-Jeannais ont fait parler la poudre en attaque. Trois tiers-temps 
    victorieux et 36 buts inscrits plus tard, les bleus et noirs validaient une seconde victoire cons&eacute;cutive.
</p>
<p>
    Une heure et demie plus tard, leurs a&icirc;n&eacute;s des -18 affrontaient une nouvelle fois l'&eacute;quipe locale. Et apr&egrave;s 
    une premi&egrave;re mi-temps compliqu&eacute;e (men&eacute;s 16-12) et un seconde acte beaucoup plus convaincant, la jeune rel&egrave;ve 
    du HBC Saint-Jean a pu f&ecirc;ter P&acirc;ques un succ&egrave;s 25 &agrave; 22 en poche.
</p>
<h2>-18 Filles courageuses mais battues &agrave; Pins-Justaret</h2>
<p>
    De leur c&ocirc;t&eacute;, les -18 Filles voyagaient &agrave; Pins-Justaret, priv&eacute;es d'une partie de leur base arri&egrave;re et 
    de leur gardienne titulaire. Et leurs nouveaux maillots n'ont pas produit de miracle... R&eacute;sistantes pendant un quart d'heure, 
    l'&eacute;quipe visiteuse n'a ensuite rien pu faire pour &eacute;viter leurs adversaires de s'&eacute;chapper au score.<br>
    Cette d&eacute;faite 23 &agrave; 17 confirme un d&eacute;but d'ann&eacute;e compliqu&eacute; pour ce collectif, &agrave; la 
    recherche d'une premi&egrave;re victoire en 2018.
</p>