<h2>Les Seniors Gar&ccedil;ons 1 en qu&ecirc;te de revanche &agrave; L'Isle-Jourdain</h2>
<p>
    Avec encore en t&ecirc;te le Vendredi 9 F&eacute;vrier dernier, l'&eacute;quipe masculine ira dans le Gers avec un gros 
    esprit de revanche. Cette rencontre, d&eacute;finitivement d&eacute;cisive dans la course &agrave; la mont&eacute;e en R&eacute;gion, ne 
    laissera pas le droit &agrave; l'erreur. Invaincus jusqu'&agrave; pr&eacute;sent, les adversaires de ce Samedi soir ne feront pas 
    de cadeaux.
</p>
<h2>Les Seniors Filles face &agrave; l'ogre Tournefeuille</h2>
<p>
    Battues d'un petit but en D&eacute;cembre, les Saint-Jeannaises iront dans l'Ouest-Toulousain en outsiders mais r&eacute;solues 
    &agrave; rego&ucirc;ter &agrave; la victoire. Contre les leaders du Championnat R&eacute;gional Excellence, l'&eacute;quipe f&eacute;minine 
    devra se montrer efficace et solidaire.
</p>
<h2>6 matchs et 2 tournois chez les jeunes</h2>
<ul>
    <li>
        <b>-9 ans Filles</b> : Participation au tournoi de P&acirc;ques aux Argoulets.
    </li>
    <li>
        <b>-9 ans Gar&ccedil;ons</b> : Participation au tournoi de Saint-Jory
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : D&eacute;placement aux Argoulets, face au Fenix.
    </li>
    <li>
        <b>-13 Filles</b> : R&eacute;ception du TFH.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : R&eacute;ception de Villefranche-de-Lauragais.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Montauban.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Bessi&egrave;res.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;placement &agrave; Muret.
    </li>
</ul>