<h2>
    Coupe de Haute-Garonne : direction les demies
</h2>
<p>
    Match de reprise avant l'heure pour les -13 Filles, en quart de finale de la Coupe du 31, face au TFH. Le d&eacute;but de match est catastrophique et les joueuses du HBCSJ encaissent un 4-1. Apr&egrave;s un temps-mort la machine se met en route et les Saint-Jeannaises infligent un 6-0 aux locales. Premier tiers-temps gagn&eacute; 10-6.<br><br>Les deux suivants se ressemblent, les filles d&eacute;roulent leur handball et s'imposent au final 35-13.<br><br>Rendez-vous pour les demies !!
</p>
<p>Adrien et Yannick</p>
