<h2>Les Seniors en difficult&eacute; &agrave; l'ext&eacute;rieur...</h2>
<p>
    A Tournefeuille, les filles - restant sur deux d&eacute;faites cons&eacute;cutives, rencontraient les leaders du Championnat R&eacute;gional 
    Excellence. Face &agrave; la grande base arri&egrave;re locale, les tireuses Saint-Jeannaises n'ont pas eu la partie facile, mais la d&eacute;fense 
    des joueuses du HBCSJ ne s'est pas avou&eacute;e vaincue sans combattre. Du courage, face &agrave; l'armada adverse, il y en a eu, mais cela restait 
    insuffisant pour repartir la victoire en poche. Cette d&eacute;faite de deux petits buts reste encourageante pour la fin de la comp&eacute;tition, 
    et l'&eacute;ternel objectif de maintien.
</p>
<p>
    Programme similaire pour les gar&ccedil;ons de l'&eacute;quipe 1, seuls &agrave; jouer (la 2 &eacute;tant exempte) dans le Gers, &agrave; 
    l'Isle-Jourdain, adversaire synonyme de mauvais souvenir avec une d&eacute;faite dure &agrave; dig&eacute;rer au match aller. R&eacute;guli&egrave;rement 
    men&eacute;s au score, mais &agrave; chaque fois revenus, durant les trois premiers quarts d'heures, les joueurs du HBC Saint-Jean laissaient 
    finalement &eacute;chapper la rencontre dans le money time (27 &agrave; 33).<br>
    Un nouveau revert face &agrave; cette &eacute;quipe, redoutable dans une course &agrave; la mont&eacute;e... pas encore totalement termin&eacute;e...
</p>
<h2>Tandis que les Jeunes r&eacute;ussissent</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Victoire aux Argoulets, face au Fenix.
    </li>
    <li>
        <b>-13 Filles</b> : Victoire face au TFH.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Victoire face &agrave; Villefranche-de-Lauragais.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite &agrave; Fontenilles.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Victoire &agrave; Montauban.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : Victoire &agrave; Bessi&egrave;res.
    </li>
    <li>
        <b>-18 Filles</b> : Victoire &agrave; Muret.
    </li>
</ul>
<h2>Deux beaux tournois -9</h2>
<p>
    Deux &eacute;quipes -9 ont - une filles, une gar&ccedil;ons - ont &eacute;galement jou&eacute; ce week-end, respectivement aux tournois de P&acirc;ques 
    aux Argoulets, et &agrave; Saint-Jory. Encore une fois, deux beaux &eacute;v&eacute;nements qui ont su donner la part belle aux &eacute;coles 
    de Handball de la r&eacute;gion !
</p>
<p style="text-align: center;">
    <a href="../_data/news/30/1.jpg" target="_blank"><img src="../_data/news/30/1.jpg" style="width: 20%;"></a>
    <a href="../_data/news/30/2.jpg" target="_blank"><img src="../_data/news/30/2.jpg" style="width: 20%;"></a>
    <a href="../_data/news/30/3.jpg" target="_blank"><img src="../_data/news/30/3.jpg" style="width: 20%;"></a>
    <a href="../_data/news/30/4.jpg" target="_blank"><img src="../_data/news/30/4.jpg" style="width: 20%;"></a>
</p>
<p>
    <b>
        Les photos du tournoi des Argoulets sont disponibles <a href="https://photos.app.goo.gl/ei1NSXML8ayNjGlr2" target="_blank">dans cet album</a>.
    </b>
</p>