<h2>A Cassin, les Seniors Gar&ccedil;ons veulent tout de suite se relancer</h2>
<p>
    Battus &agrave; l'Isle-Jourdain le week-end dernier, l'&eacute;quipe 1 masculine doit imm&eacute;diatement se relancer pour conserver 
    ses chances de mont&eacute;e en R&eacute;gion. Ca passe par un bon r&eacute;sultat contre Ouest-Tarn, face &agrave; qui les Saint-Jeannais 
    joueront pour la cinqui&egrave;me fois cette saison.
</p>
<p>
    En ouverture, l'&eacute;quipe 2 voudra rego&ucirc;ter &agrave; la victoire, contre Aucamville, pour une quatri&egrave;me confrontation cette 
    saison.
</p>
<h2>Chez les jeunes, seuls les -13 Filles et les -15 Gar&ccedil;ons jouent</h2>
<p>
    En match en retard, les -13 Filles re&ccedil;oivent ce soir l'entente Saint-Jory / Brugui&egrave;res, &agrave; Belb&egrave;ze.<br>
    Les deux &eacute;quipes -15 Gar&ccedil;ons joueront eux Samedi, &agrave; Saint-Jory et aux Argoulets.
</p>
<h2>Pour les autres, c'est les vacances...</h2>