<h2>Seniors Gar&ccedil;ons : la 1 offensive, la 2 avec les honneurs</h2>
<p>
    Pour la cinqui&egrave;me et derni&egrave;re fois cette saison, l'&eacute;quipe 1 masculine affrontait Ouest-Tarn, Samedi soir &agrave; Cassin.
    Battus la semaine pass&eacute;e &agrave; l'Isle-Jourdain, les gar&ccedil;ons savaient qu'ils n'avaient pas droit &agrave; l'erreur, face &agrave; 
    un jeune collectif au style de jeu &eacute;galement tr&egrave;s offensif. S&eacute;rieux en d&eacute;but de rencontre (9-5 &agrave; la 10<sup>&egrave;me</sup>, 
    17-9 &agrave; la 20<sup>&egrave;me</sup>), les Saint-Jeannais pouvaient ensuite g&eacute;rer la seconde mi-temps - pas toujours tr&egrave;s propre, 
    et non sans tentatives de retours adverses - pour l'emporter 40 &agrave; 34.
</p>
<p>
    De leur c&ocirc;t&eacute;, en ouverture, l'&eacute;quipe 2 recevait Aucamville. Dans un match qui opposait deux &eacute;quipes 
    mixant Seniors et renforts de jeunes, les visiteurs entamaient le mieux les d&eacute;bats. Men&eacute;s 6-2 (10<sup>&egrave;me</sup>) puis 
    9-4 (15<sup>&egrave;me</sup>), les locaux ont pu compter sur l'apport de leurs deux meilleurs artilleurs du jour - Hugo (7 buts) et Louis (6 buts) - frais et motiv&eacute;s 
    -18 ans, pour faire trembler les filets adverses et recoller au score. Mais, malgr&eacute; leur retour en d&eacute;but de seconde 
    p&eacute;riode (les Saint-Jeannais ont m&ecirc;me men&eacute; 16-15 quelques secondes...), ils ont du s'incliner face &agrave; des adversaires 
    plus pr&eacute;cis. Une d&eacute;faite 25 &agrave; 29 certes, mais porteuse d'espoir quant &agrave; l'int&eacute;gration des jeunes la saison prochaine.<br>
    Merci encore &agrave; Adem, Hugo, J.P., Louis et Mathieu pour leur belle participation, indispensable &agrave; ce match.
</p>
<h2>-15 Gar&ccedil;ons : 1/2 &eacute;galement</h2>
<p>
    A Saint-Jory, les -15G1, dans un style toujours aussi offensif, n'ont pas fait de d&eacute;tails... Trois tiers-temps gagn&eacute;s avec s&eacute;rieux 
    (malgr&eacute; un peu de nonchalance dans le second...) et une victoire 45 &agrave; 9 au coup de sifflet final.
</p>
<p>
    Leurs camarades de la 2 ont eux, du subir les assauts des jeunes du Fenix, malgr&eacute; un troisi&egrave;me tiers-temps courageux.
</p>
<h2>-13 Filles : une d&eacute;faite inattendue</h2>
<p>
    Les d&eacute;faites font parfois du bien, on esp&egrave;re que ce sera le cas pour celle-ci. Pourtant en confiance apr&egrave;s un parcours 
    presque sans fautes, les -13 Filles se sont inclin&eacute;es d'un petit but face &agrave; l'entente Brugui&egrave;res / Saint-Jory. Pourtant 
    en-t&ecirc;te (7-4) apr&egrave;s le premier tiers-temps, les jeunes Saint-Jeannaises ont rat&eacute; leur second acte (5-10) puis ont 
    manqu&eacute; de temps pour recoller au score.<br>
    Elles sont n&eacute;anmoins toujours en lice pour disputer les finalit&eacute;s de fin de saison !
</p>