<h2>Seniors Filles : match en retard important contre Bagn&egrave;res-de-Bigorre</h2>
<p>
    En match en retard de la 18<sup>&egrave;me</sup> journ&eacute;e de Championnat R&eacute;gional Excellence, l'&eacute;quipe f&eacute;minine 
    re&ccedil;oit les Hautes-Pyr&eacute;n&eacute;ennes, actuelles quatri&egrave;mes de la comp&eacute;tition.<br>
    A la recherche d'une victoire, apr&egrave;s 3 courtes d&eacute;faites contre des t&eacute;nors du classement, les joueuses du couple Calpena 
    devront se montrer rigoureuses pour poursuivre leur op&eacute;ration maintien, plut&ocirc;t bien entam&eacute;e depuis d&eacute;but 2018.
</p>