<h2>Seniors Filles : d&eacute;faite s&egrave;che contre Bagn&egrave;res...</h2>
<p>
    Pour ce match en retard de la 18<sup>&egrave;me</sup> journ&eacute;e, les Saint-Jeannaises recevaient des Bigourdanes quatri&egrave;mes 
    du Championnat R&eacute;gional Excellence. Et malheureusement, les visiteuses ont rapidement fait valoir leur classement, puisqu'apr&egrave;s 
    8 minutes de jeu, elles prenaient leur envol au score.<br>
    Apr&egrave;s un premier acte siffl&eacute; avec un retard de 7 buts, blessures et expulsion c&ocirc;t&eacute; HBCSJ n'arrangeaient rien en seconde mi-temps.<br>
    Un match compliqu&eacute; qu'il faudra oublier, pour assurer des prochaines &eacute;ch&eacute;ances d&eacute;j&agrave; d&eacute;cisives.
</p>