<h2>Les Seniors Gar&ccedil;ons en mode chantier...</h2>
<p>
    Seules &agrave; fouler les gymnases ce week-end, les deux &eacute;quipes masculines devront composer avec de nombreuses absences.<br>
    A Cassin, contre Brugui&egrave;res, la 1 devra absolument gagner pour conserver ses chances de mont&eacute;e.<br>
    A Merville, la 2 sera - comme souvent ces derniers matchs - en effectif r&eacute;duit et en mode commando, face aux rugueux jaunes et noirs, 
    que les Saint-Jeannais connaissent bien.
</p>
<p>
    Bref, les gar&ccedil;ons devront se montrer d'autant plus solidaires pour compenser les absences. Les victoires devront s'obtenir 
    dans la douleur !
</p>