<h2>Seniors Gar&ccedil;ons : la 1 assure, la 2 subit...</h2>
<p>
    Oppos&eacute;s pour la quatri&egrave;me et derni&egrave;re fois cette saison, l'&eacute;quipe 1 et la r&eacute;serve du BOC 31 
    allaient se livrer un match pour le moins offensif. 86 buts marqu&eacute;s, dans une rencontre quasi-imm&eacute;diatement &agrave; 
    l'avantage du HBCSJ. D&eacute;veloppant leur jeu rapide, les Saint-Jeannais se sont envol&eacute;s au score d&egrave;s le premier acte.<br>
    Score final d'une soir&eacute;e o&ugrave; les filets auront trembl&eacute; : 51 &agrave; 35 !
</p>
<p>
    Un arri&egrave;re, trois ailiers, deux pivots et deux gardiens... L'&eacute;quipe 2 se d&eacute;pla&ccedil;ait en effectif 
    tr&egrave;s r&eacute;duit &agrave; Merville. Et face &agrave; l'&eacute;quipe 1 des locaux, solide en d&eacute;fense et rod&eacute;e 
    en attaque, il faut avouer que c'&eacute;tait mission impossible.<br>
    Apr&egrave;s tr&egrave;s longues 60 minutes, le score final est sans appel : 37 &agrave; 13 pour les adversaires du soir.
</p>
<h2>-15 Filles : seconde victoire cons&eacute;cutive</h2>
<p>
    En match d&eacute;cal&eacute; de la 9<sup>&egrave;me</sup> journ&eacute;e de seconde phase, les jeunes Saint-Jeannaises recevaient 
    Flourens. Si jouer un mardi f&eacute;ri&eacute; aurait pu &ecirc;tre d&eacute;stabilisant, &ccedil;a n'a pas sembl&eacute; g&ecirc;ner 
    les locales, vainqueurs des trois tiers-temps du match.<br>
    Fin de saison positive, avec un second succ&egrave;s d'affil&eacute;e.
</p>