<h2>Seniors Filles : l'op&eacute;ration maintien continue</h2>
<p>
    Toujours neuvi&egrave;mes du Championnat R&eacute;gional Excellence, les joueuses du HBCSJ re&ccedil;oivent Montech, 
    actuelles sixi&egrave;mes. Pour prendre leur revanche du match aller, et surtout conforter leurs chances de sauver leur saison, 
    les Saint-Jeannaises devront inverser leur dynamique n&eacute;gative : 4 d&eacute;faites cons&eacute;cutives.
</p>
<h2>Seniors Gar&ccedil;ons : peu de joueurs, beaucoup de kilom&egrave;tres</h2>
<p>
    La 1 &agrave; Condom, dans le Gers... La 2 &agrave; Montech pr&egrave;s de Montauban... Les v&eacute;hicules des deux 
    &eacute;quipes masculines accumuleront les kilom&egrave;tres, mais seront all&eacute;g&eacute;es en joueurs. Mais m&ecirc;mes 
    avec des effectifs r&eacute;duits, l'objectif est de deux victoires : l'une pour rester en course pour la mont&eacute;e, l'autre 
    pour rego&ucirc;ter au succ&eacute;s, inconnu depuis le match aller contre... Montech.
</p>
<h2>Week-end complet chez les jeunes</h2>
<ul>
    <li>
        <b>-9 ans</b> : Tournoi &agrave; Ren&eacute;-Cassin.
    </li>
    <li>
        <b>-11 Filles</b> : R&eacute;ception de Saint-Gaudens.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : R&eacute;ception de Saint-Girons.
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;placement &agrave; Blagnac.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Auterive, contre Sud-Toulousain.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : R&eacute;ception de Merville.
    </li>
    <li>
        <b>-15 Filles</b> : R&eacute;ception d'Aucamville.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : R&eacute;ception de Montech.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : R&eacute;ception de Saint-Sulpice
    </li>
    <li>
        <b>-18 Filles</b> : R&eacute;ception d'Albi.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Castanet, contre le CRAHB.
    </li>
</ul>