<h2>Seniors Filles : une victoire au bout du suspense</h2>
<p>
    Ce n'est pas la premi&egrave;re fois cette saison : la sant&eacute; cardiaque des coachs Calpena et des joueuses a du 
    &ecirc;tre mise &agrave; mal, pendant la rencontre face &agrave; Montech. Offensive, engag&eacute;e et totalement 
    ind&eacute;cise jusque dans les derni&egrave;res secondes, cette opposition aura remu&eacute; les &eacute;motions des actrices 
    et de leur public.<br>
    Une entame clairement Tarn-et-Garonnaise (7-9, 15<sup>&egrave;me</sup>, 13-17, 26<sup>&egrave;me</sup>), une fin de premier 
    acte renvers&eacute; (19-19, 30<sup>&egrave;me</sup>), un d&eacute;but de seconde mi-temps Saint-Jeannaise (26-22, 40<sup>&egrave;me</sup>, 
    30-26, 50<sup>&egrave;me</sup>) et enfin un &eacute;pilogue irrespirable (31-30, 55<sup>&egrave;me</sup>, 32-33, mais enfin 34-33 dans les deux derni&egrave;res minutes)... La "timeline" de la rencontre, elle-m&ecirc;me difficile &agrave; suivre, 
    t&eacute;moigne d'un sc&eacute;nario Hitchcockien.<br>
    Une fois les esprits retrouv&eacute;s, l'ensemble du gymnase Ren&eacute; Cassin a pu f&ecirc;ter une victoire d&eacute;cisive pour l'objectif 
    de maintien. Ce succ&egrave;s importantissime face &agrave; un collectif difficile &agrave; manoeuvrer est en tout cas la preuve 
    que les filles ont leur place dans ce championnat R&eacute;gional Excellence.
</p>
<h2>Seniors Gar&ccedil;ons : re&ccedil;us 1 / 2</h2>
<p>
    Un long d&eacute;placement dans le Gers, &agrave; Condom, un seul rempla&ccedil;ant : tous les ingr&eacute;dients du pi&egrave;ge et du match 
    commando &eacute;taient pr&eacute;sents. Et pourtant, les joueurs du HBCSJ ont rapidement su se rendre la t&acirc;che plus ais&eacute;e, 
    avec une entame s&eacute;rieuse, et notamment une fin de premi&egrave;re mi-temps tonitruante (23-16). Une fois les 30 minutes 
    suivantes correctement g&eacute;r&eacute;es, et une victoire 44 &agrave; 36 valid&eacute;e, l'&eacute;quipe masculine peut d'ores et d&eacute;j&agrave; 
    se concentrer sur leur derni&egrave;re &eacute;ch&eacute;ance, dans deux semaines, avec une victoire n&eacute;cessaire 
    pour esp&eacute;rer une mont&eacute;e en R&eacute;gion.
</p>
<p>
    De leur c&ocirc;t&eacute;, la 2 - toujours aussi faible en nombre, avec une nouvelle fois 0 rempla&ccedil;ant et un renfort 
    -18 - a r&eacute;sist&eacute; 30 minutes &agrave; Montech, mais a connu un trou d'air fatal en seconde p&eacute;riode.<br>
    Nouvelle d&eacute;faite, 27 &agrave; 21, pour ce collectif dont la 2<sup>&egrave;me</sup> phase est d&eacute;cid&eacute;ment bien longue...
</p>
<h2>Jeunes : un beau tournoi -9 et une flopp&eacute;e de victoires</h2>
<ul>
    <li>
        <b>-11 Filles</b> : Victoire face &agrave; Saint-Gaudens.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Match nul face &agrave; Saint-Girons (mais gain de 2/3 tiers-temps).
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;placement &agrave; Blagnac (malgr&eacute; le gain du 2<sup>&egrave;me</sup> tiers-temps).
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Victoire &agrave; Auterive, contre Sud-Toulousain.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite face &agrave; Merville.
    </li>
    <li>
        <b>-15 Filles</b> : Victoire face &agrave; Aucamville.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Victoire face &agrave; Montech.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : Victoire face &agrave; Saint-Sulpice
    </li>
    <li>
        <b>-18 Filles</b> : Victoire face &agrave; Albi.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : Victoire &agrave; Castanet, contre le CRAHB.
    </li>
</ul>
<p>
    Enfin, Samedi matin, le HBCSJ recevait au gymnase Ren&eacute; Cassin, pr&egrave;s de 70 jeunes joueurs de -9 ans. Un nouveau tournoi, 
    pour les jeunes handballeurs de la r&eacute;gion. Un &eacute;v&eacute;nement d&eacute;roul&eacute; avec succ&egrave;s, avec encore une fois 
    de nombreux participants, surmotiv&eacute;s dans l'apprentissage du jeu et de l'esprit de comp&eacute;tion, toujours avec le sourire ! 
</p>
<p>
    <b>
        Les photos sont disponibles <a href="https://photos.app.goo.gl/n1kWQKGcm5SxTYMj7" target="_blank">dans cet album</a>.
    </b>
</p>