<h2>Seniors Filles : avant-dernier match de championnat</h2>
<p>
    Plus que deux rencontres avant la fin d'une saison difficile pour l'&eacute;quipe f&eacute;minine. Mais depuis le 
    d&eacute;but de la phase retour, les Saint-Jeannaises ont men&eacute; une belle op&eacute;ration maintien qui, on 
    l'esp&egrave;re, continuera ce week-end dans l'Aveyron, chez Rignac.<br>
    Actuelles avant-derni&egrave;res de la comp&eacute;tition, les finaliste malheureuses du championnat Territorial de la 
    saison pass&eacute;e contre ... Saint-Jean... ont elles aussi une victoire &agrave; aller chercher.<br>
    Mais revanchardes apr&egrave;s un match aller &agrave; oublier, les joueuses du HBCSJ donneront tout, dans une 
    rencontre importantissime.
</p>