<h2>
    L'ensemble des &eacute;quipes seront dans les gymnases
</h2>
<p>
    7 rencontres Samedi, 5 Dimanche, Ren&eacute;-Cassin plein &agrave; craquer pendant deux jours : la reprise de la comp&eacute;tition 
    a bel et bien sonn&eacute;.
</p>
<p>
    Rencontre phare du Samedi soir : le remake de la finale Territoriale de la saison pass&eacute;e entre les Seniors Filles et Rignac !
</p>
<h2>
    Aventure Limousine pour les Seniors Gar&ccedil;ons en Coupe de France !
</h2>
<p>
    Trois heures et demies de route, c'est ce qu'attend les 14 joueurs qui prendront part au 1/32<sup>&egrave;me</sup> de finale &agrave; 
    Oradour-sur-Glane.<br>
    Mais pour poursuivre l'aventure et int&eacute;grer le plateau Sud-Ouest de la comp&eacute;tition, comme les Seniors Filles la saison 
    pass&eacute;e, les Saint-Jeannais devront faire le match parfait.
</p>