<p>
    La fin de saison arrive, avec ses habituels tournois de finalit&eacute;s. Et pour cet exercice, le HBC Saint-Jean a le plaisir 
    de voir 4 de ses &eacute;quipes jeunes qualifi&eacute;es :
</p>
<p>
    Le Dimanche 20 Mai, les -18 Gar&ccedil;ons jouent les finalit&eacute;s R&eacute;gionales Honneur 
    &agrave; Montech.<br>
    Les 1/16<sup>&egrave;mes</sup> ont lieu &agrave; 13h, et si victoire, les 1/8<sup>&egrave;mes</sup> seront 
    &agrave; 15h30.<br>
    Ce tournoi opposera le HBCSJ, Montech, Pamiers (adversaires des -18G en 1/16<sup>&egrave;mes</sup>) et le Fenix.
</p>
<p>
    Le Dimanche 27 Mai, les -15 Gar&ccedil;ons jouent les finalit&eacute;s R&eacute;gionales Honneur 
    &agrave; <b>Saint-Jean !!</b><br>
    Les 1/16<sup>&egrave;mes</sup> ont lieu &agrave; 11h, et si victoire, les 1/8<sup>&egrave;mes</sup> seront 
    &agrave; 15h30.<br>
    Ren&eacute;-Cassin accueillera pour ce tournoi le HBCSJ, Blagnac (adversaires des -15G en 1/16<sup>&egrave;mes</sup>), 
    N&icirc;mes et Lattes.
</p>
<p>
    Ce m&ecirc;me week-end du 26 / 27 Mai :
    <ul>
        <li>Les -15 Filles joueront leur tournoi (1/8<sup>&egrave;mes</sup> et 1/4) &agrave; l'Isle-Jourdain.</li>
        <li>Les -13 Filles joueront les finalit&eacute;s de secteur &agrave; et contre Tournay (65).</li>
    </ul>
</p>
<p>
    Enfin, le Dimanche 3 Juin, nous recevrons les Finalit&eacute;s Interd&eacute;partementales 
    F&eacute;minines (Poule du Gers, Tarn et Garonne, Gard et Loz&egrave;re).
</p>