<h2>Victoire essentielle pour les Seniors Filles contre Rignac</h2>
<p>
    Samedi, l'&eacute;quipe f&eacute;minine disputait &agrave; Saint-Christophe-Vallon une rencontre d&eacute;cisive pour le maintien en 
    R&eacute;gion. Et malgr&eacute; une ouverture du score tr&egrave;s tardive, les Saint-Jeannaises ont domin&eacute; la quasi-int&eacute;gralit&eacute; 
    des d&eacute;bats, pour repartir de l'Aveyron une victoire 19-13 en poche, l'esprit rassur&eacute;.
</p>