<h2>Seniors : derniers matchs de la saison</h2>
<p>
    Soir&eacute; de gala &agrave; Ren&eacute;-Cassin, Samedi soir, avec l'encha&icirc;nement des trois matchs Seniors.
</p>
<p>
    A 17 heures, l'&eacute;quipe 2 masculine jouera une nouvelle fois en effectif r&eacute;duit, mais avec l'envie de terminer 
    cette deuxi&egrave;me phase compliqu&eacute;e par un bon moment de Handball...<br>
    Notamment pour f&ecirc;ter comme il se doit le d&eacute;part de certains joueurs.
</p>
<p>
    A 19 heures, les Seniors Filles recevront les dauphines du Championnat R&eacute;gional Excellence, Lourdes, meilleure attaque 
    de la comp&eacute;tition. Il s'agira l&agrave;-aussi de terminer une saison compliqu&eacute;e - mais une bonne phase retour !! - 
    par un beau r&eacute;sultat.
</p>
<p>
    Enfin, &agrave; 21 heures, l'&eacute;quipe 1 gar&ccedil;ons devra battre CIEL pour conserver un espoir de mont&eacute;e en 
    Championnat R&eacute;gional la saison prochaine.
</p>
<h2>-18 Gar&ccedil;ons : les finalit&eacute;s d&eacute;marrent &agrave; Montech</h2>
<p>
    Le lendemain, en terres Tarn-et-Garonnaises, la jeune &eacute;quipe -18 masculine jouera les premiers tours du tournoi de 
    finalit&eacute;. Ce droit, ils l'ont obtenu apr&egrave;s une tr&egrave;s prometteuse seconde phase, avec 8 victoires en 10 
    matchs. Au programme : Pamiers en 1/16<sup>&egrave;mes</sup>, puis en cas de victoire, face au vainqueur de Montech / Fenix, la rel&egrave;ve 
    du HBC Saint-Jean.
</p>