<h2>Seniors : frustrante fin de saison...</h2>
<p>
    Une belle soir&eacute;e &agrave; se profilait Ren&eacute; Cassin : l'encha&icirc;nement des derni&egrave;res rencontres 
    des trois &eacute;quipes Seniors, Samedi soir &agrave; partir de 17 heures.
</p>
<p>
    Premiers - normalement - &agrave; entrer en piste, l'&eacute;quipe 2 masculine, contre Blagnac... Mais, avec aucun adversaire pr&eacute;sent au coup d'envoi, les Saint-Jeannais devaient se rendre &agrave; l'&eacute;vidence, ils ne joueraient pas au Handball en cette fin d'apr&egrave;s-midi...
    Dommage, pour ce qui &eacute;tait le dernier match de certains...<br>
    Unique consolation : le privil&egrave;ge de d&eacute;couvrir et arborer une premi&egrave;re fois le nouveau jeu de maillots, sponsoris&eacute; 
    par <b><a href="http://paradisroti.com/" target="_blank">Le Paradis R&ocirc;ti de Mat</a></b> et 
    <b><a href="http://www.ets-canillas.fr/" target="_blank">les Etablissements Canillas</a></b> !
</p>
<p style="text-align: center;">
    <a href="../_data/news/43/1.jpg" target="_blank"><img src="../_data/news/43/1.jpg" style="width: 20%;"></a>
    <a href="../_data/news/43/2.jpg" target="_blank"><img src="../_data/news/43/2.jpg" style="width: 20%;"></a>
</p>
<p>
    A 19 heures, normalement assur&eacute;es du maintien depuis une semaine, les filles recevaient les 2<sup>&egrave;mes</sup> du classement, Lourdes.
    Et dans un match extr&ecirc;mement serr&eacute;, les deux &eacute;quipes se sont rendues coup pour coup. Beaucoup de buts, de beaux arr&ecirc;ts, de 
    l'engagement, les nombreux spectateurs du gymnase Saint-Jeannais ont assist&eacute; &agrave; une superbe confrontation, durant laquelle l'&eacute;cart 
    au classement ne se ressentait pas.<br>
    Malheureusement, les Hautes-Pyr&eacute;n&eacute;ennes faisaient valoir leur statut en fin de rencontre, et malgr&eacute; trois derni&egrave;res minutes de folie, 
    les joueuses du HBCSJ devaient s'incliner d'un petit but, 30 &agrave; 29.
</p>
<p>
    Enfin, et c'&eacute;tait le match d&eacute;cisif de cette soir&eacute;e, les Seniors Gar&ccedil;ons 1 jouaient contre CIEL, leurs 
    poursuivants au classement de la Poule Haute du Championnat Territorial 31. L'enjeu &eacute;tait clair : le vainqueur remporterait (peut-&ecirc;tre) 
    le droit de monter en R&eacute;gion la saison prochaine. Et, peut-&ecirc;tre crisp&eacute;s par l'objectif, les locaux allaient conna&icirc;tre 
    20 premi&egrave;res minutes catastrophiques, puisque men&eacute;s 14 &agrave; 6. Avec un tel retard, les r&ecirc;ves d'accession s'assombrissaient, et pourtant 
    le retour des vestiaires allait rassurer tout le monde. Mais une fois revenus &agrave; &eacute;galit&eacute; (21-21) &agrave; la 36<sup>&egrave;me</sup> minute, les Saint-Jeannais 
    allaient petit &agrave; petit reperdre le fil de la rencontre, se faisant une nouvelle fois distancer, but par but, jusqu'&agrave; d&eacute;finitivement l&acirc;cher prise 
    dans le money-time.<br>
    Cruelle d&eacute;sillusion pour l'ensemble du collectif des gar&ccedil;ons, qui aura connu en ce Samedi, une fin de journ&eacute;e bien frustrante...
</p>
<h2>-18 Gar&ccedil;ons : le parcours s'arr&ecirc;te l&agrave;</h2>
<p>
    Il restait &agrave; la jeune rel&egrave;ve masculine la possibilit&eacute; d'&eacute;claircir ce week-end un peu trop sombre en mati&egrave;re de r&eacute;sultats.
    A Montech, les -18 jouaient leur 1/16<sup>&egrave;me</sup> des finalit&eacute;s R&eacute;gional Honneur contre Pamiers. Et encore une fois - pauvre sant&eacute; cardiaque 
    des entra&icirc;neurs et supporters du HBCSJ - le suspense &eacute;tait au rendez-vous, jusque dans les derniers instants. Cinq derni&egrave;res 
    minutes une nouvelle fois fatales aux Saint-Jeannais, qui auront malgr&eacute; tout r&eacute;alis&eacute; une saison tr&egrave;s prometteuse.
</p>