<h2>Finalit&eacute;s pour les -13 Filles et les -15</h2>
<p>
    Samedi, &agrave; partir de 13 heures, &agrave; l'Isle-Jourdain, les -15 Filles jouent le tournoi 1/8<sup>&egrave;mes</sup> 
    et 1/4, d'abord contre les locales, puis si victoire, contre le vainqueur de Saint-Jory - Montagnac.
</p>
<p>
    Le m&ecirc;me jour, &agrave; 18 heures et apr&egrave;s une longue route, les -13 Filles jouent leur finalit&eacute; 
    de secteur Sud, &agrave; Bagn&egrave;res-de-Bigorre, contre Tournay. 
</p>
<p>
    Enfin, Dimanche &agrave; Ren&eacute;-Cassin, le gymnase Saint-Jeannais sera en &eacute;bullition pour la r&eacute;ception 
    de Blagnac, Lattes et N&icirc;mes, qui disputeront avec le HBCSJ le tournoi 1/16<sup>&egrave;mes</sup> et 1/8<sup>&egrave;mes</sup>.<br>
    Les locaux commenceront &agrave; 11 heures contre Blagnac avant, en cas de victoire, de jouer &agrave; 15h30 le vainqueur des 
    Languedociens.
</p>
<h2>Fin de championnat pour les -11 et -13 Gar&ccedil;ons</h2>
<ul>
    <li>
        <b>-11 Filles</b> : R&eacute;ception du CRAHB.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : R&eacute;ception de Rieux-Volvestre.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; La Salvetat.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Aucamville.
    </li>
</ul>