<h2>H&eacute;ro&iuml;ques -15 Gar&ccedil;ons</h2>
<p>
    Auteurs d'une fantastique seconde phase de Championnat (12 victoires en autant de rencontres), les -15 Gar&ccedil;ons disputaient 
    leur tournoi de finalit&eacute; &agrave; domicile, Dimanche, en compagnie des clubs de N&icirc;mes, Lattes et Blagnac.
</p>
<p>
    D'abord contre ces derniers, en 1/16<sup>&egrave;mes</sup>, les jeunes joueurs du HBC Saint-Jean, ont mal entam&eacute; leur rencontre 
    puisque men&eacute;s 9-6 &agrave; la fin du premier tiers-temps.<br>
    Nullement abattus, les locaux n'ont eu besoin que de trois minutes pour recoller au score, puis apr&egrave;s quelques instants de parit&eacute;, 
    se d&eacute;tacher en fin de second acte, avec un mini-break de 2 buts d'avance.<br>
    Le troisi&egrave;me tiers-temps soulagea tout le monde, puisqu'encore une fois commenc&eacute; de la meilleure des mani&egrave;res. Le 3-0 
    inflig&eacute; &agrave; Blagnac a permis &agrave; l'&eacute;quipe de g&eacute;rer (presque...) sereinement la fin du match. Et, malgr&eacute; 
    une ultime tentative de retour des visiteurs, 3 nouveaux buts coup sur coup ont valid&eacute; la qualification des -15 en 1/8<sup>&egrave;me</sup>, 
    jou&eacute; trois heures plus tard.
</p>
<p>
    Pour ce nouveau tour de finalit&eacute;s, les Saint-Jeannais allaient affronter Lattes, vainqueurs de N&icirc;mes. Equipe Languedocienne inconnue, puisque 
    jamais affront&eacute;, les adversaires du moment se pr&eacute;sentaient visiblement avec un effectif solide, de bons tireurs et manieurs de ballons. 
    Mais cette fois-ci, les jeunes du HBCSJ, bien d&eacute;cid&eacute;s &agrave; faire vibrer leur public venu tr&egrave;s nombreux, ont impos&eacute; leur 
    rythme dans les premi&egrave;res minutes. 2-0 puis 4-1 d&egrave;s la 4<sup>&egrave;me</sup> minute, le c&ocirc;t&eacute; droit de l'attaque 
    Saint-Jeannaise donnait le tournis aux Lattes. Evidemment, la r&eacute;action des Languedociens ne trainait pas et, malgr&eacute; une d&eacute;fense 
    courageuse, la marque revenait &agrave; &eacute;galit&eacute; &agrave; la 10<sup>&egrave;me</sup> minute de jeu. Mais, apr&egrave;s cinq minutes 
    de chass&eacute;-crois&eacute;, un but sur le buzzer offrait le gain du premier tiers-temps aux -15 locaux. Le ton de la rencontre &eacute;tait donn&eacute;, 
    le public &eacute;tait chauff&eacute; &agrave; blanc !<br>
    La seconde acte allait d&eacute;buter de mani&egrave;re toute aussi serr&eacute;e. Le mano-&agrave;-mano se poursuivait pendant 9 minutes, 
    les deux &eacute;quipes se rendant coup pour coup. La fin du tiers-temps allait pourtant &ecirc;tre rude, puisque Lattes, fort d'une d&eacute;fense &agrave; 
    plat compacte et d'un gardien dfficilement franchissable, allait creuser l'&eacute;cart jusqu'&agrave; 4 buts, au terme d'un 5-0 qui aurait pu &ecirc;tre fatal. 
    Mais, sauvant les meubles en toute fin de p&eacute;riode, le HBCSJ n'accusait finalement que 2 buts de retard. Avec un tiers-temps gagn&eacute; pour chaque &eacute;quipe, 
    rien n'&eacute;tait jou&eacute; !<br>
    C'est dans cet esprit conqu&eacute;rant - malgr&eacute; le retard au score - que les joueurs de Bart et Raph entamaient l'ultime acte. Nullement 
    d&eacute;mobilis&eacute;s, ils retrouv&egrave;rent efficacement le chemin des filets et recollaient au tableau d'affichage au bout de 4 minutes. 
    Peu &agrave; peu, la victoire choisit son camp. Les locaux, port&eacute;s par leur public &agrave; la limite de l'&eacute;gosillement, tenaient &agrave; 
    gagner chez eux. Le mode rempart de la d&eacute;fense et du gardien &eacute;tait r&eacute;activ&eacute;, l'efficacit&eacute; &eacute;tait retrouv&eacute;e.
    Quelques minutes d'apn&eacute;e plus tard, les jeunes champions du jour pouvaient exulter, leurs parents et les licenci&eacute;s Saint-Jeannais avec ! La qualification 
    pour les quarts &eacute;tait valid&eacute;e !
</p>
<p>
    <b>
        Les derniers instants de la rencontre sont disponibles <a href="https://drive.google.com/open?id=1doHGAfNtJlKQqYWub4IN3lIQZKD6S_X4" target="_blank">dans cette vid&eacute;o</a>.
    </b>
</p>
<h2>Fin de parcours pour les -13 et -15 Filles</h2>
<p>
    De leur c&ocirc;t&eacute;, les -13 Filles, qui ont r&eacute;alis&eacute; elles-aussi une saison remarquable, affrontaient Tournay, &agrave; 
    Bagn&egrave;res-de-Bigorre. Les 2h30 de route pesant peut-&ecirc;tre lourd, les jeunes Saint-Jeannaises ont eu du mal &agrave; rentrer dans la rencontre, 
    men&eacute;es 11-5 &agrave; la fin du premier tiers-temps. L'&eacute;cart creus&eacute;, les second et troisi&egrave;me actes, m&ecirc;me si plus 
    &eacute;quilibr&eacute;s, n'ont pas suffi &agrave; renverser la vapeur.
</p>
<p>
    Epilogue identique pour leurs a&icirc;n&eacute;es, les -15 Filles, &agrave; l'Isle-Jourdain. Face aux locales, le d&eacute;but de match &eacute;tait 
    d&eacute;j&agrave; fatal, et sonnait le glas d'une saison, pourtant bien finie !
</p>
<h2>Derniers matchs pour les -11 et -13 Gar&ccedil;ons</h2>
<ul>
    <li>
        <b>-11 Filles</b> : Victoire face au CRAHB.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Victoire face &agrave; Rieux-Volvestre.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;faite &agrave; La Salvetat (malgr&eacute; le gain du 1<sup>er</sup> tiers-temps).
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite &agrave; Aucamville.
    </li>
</ul>