<h2>Les filles &agrave; l'honneur !!</h2>
<p>
    <b>Handballissime</b>, comme le superlatif sp&eacute;cialement cr&eacute;&eacute; pour promouvoir l'Euro 2018 de Handball F&eacute;minin, 
    qui aura lieu sur le sol Fran&ccedil;ais ! Et, m&ecirc;me si elles sont l&eacute;g&egrave;rement moins nombreuses que leurs camarades masculins 
    au sein du HBCSJ, les joueu<b>ses</b> sont repr&eacute;sent&eacute;es dans l'ensemble des cat&eacute;gories, des Babys au Seniors, avec 
    5 &eacute;quipes inscrites en comp&eacute;titions f&eacute;d&eacute;rales.
</p>
<p>
    Ce Handball en "talons aiguilles" version Saint-Jeannaise ne souffre d'ailleurs aucunement de la comparaison avec son pendant "testost&eacute;ron&eacute;", 
    puisque - comme dans nos &eacute;quipes nationales ces derni&egrave;res ann&eacute;es - il participe nettement &agrave; l'enrichissement 
    du palmar&egrave;s du club :
    <ul>
        <li>2017 / 2018 : <b>-13 Filles et -15 Filles</b> - en Finalit&eacute;s R&eacute;gionales</li>
        <li>2016 / 2017 : <b>Seniors Filles</b> - championnes Territorial Pr&eacute;-R&eacute;gion</li>
        <li>2016 / 2017 : <b>-18 Filles</b> - championnes R&eacute;gional Honneur</li>
        <li>2013 / 2014 : <b>Seniors Filles</b> - 3<sup>&egrave;mes</sup> R&eacute;gional Excellence (mont&eacute; en Pr&eacute;-National)</li>
        <li>2010 / 2011 : <b>Seniors Filles</b> - championnes D&eacute;partemental Honneur</li>
    </ul>
</p>
<p>
    Samedi apr&egrave;s-midi donc, le HBCSJ a d&eacute;di&eacute; ce moment &agrave; ses licenci&eacute;es. Et ce sont les plus jeunes d'entre-elles, 
    les -11, qui ont ouvert le bal face &agrave; l'entente l'Isle-Jourdain / Fontenilles. Avec une belle victoire et pas moins de 29 buts inscrits, 
    elles ont montr&eacute; que les filles savaient aussi &ecirc;tre offensives et spectaculaires !<br>
    Dans la foul&eacute;e, l'ensemble des participantes &agrave; cette journ&eacute;e ont disput&eacute; un tournoi 4x4, encore une fois ludique 
    et r&eacute;ussi.
</p>
<p>
    En 2018, "Handball" s'accorde plus que jamais au F&eacute;minin !
</p>