<h2>La jeune &eacute;quipe masculine tentera &agrave; nouveau l'exploit &agrave; Argel&egrave;s-sur-Mer</h2>
<p>
    C'est d&eacute;termin&eacute;s et motiv&eacute;s comme jamais que l'effectif de Bart et Raph se pr&eacute;sentera 
    aux pieds des tours jumelles de la Massane et la Madeloc !!<br>
    Les quarts se joueront t&ocirc;t, &agrave; 11 heures, face 
    aux locaux de l'&eacute;tape. Pas le temps de se baigner sur la Plage des Pins, les gar&ccedil;ons devront imm&eacute;diatement 
    donner le ton face &agrave; une formation dont il faudra attendre un temp&eacute;rament aussi "rugbystique" que sa 
    terre natale.<br>
    Mais la carotte n'est pas loin : une victoire, puis une autre (16 heures, contre le vainqueur de Montauban - Saleilles) et la 
    route <strike>du cassoulet</strike> de la finale &agrave; Castelnaudary sera grande ouverte !!
</p>
<p>
    <b>Allez les -15 Gar&ccedil;ons !!!</b>
</p>
