<h2>Epilogue d'un parcours exceptionnel</h2>
<p>
    L'&eacute;quipe &eacute;tait pr&ecirc;te, le bus lou&eacute;, les supporters nombreux... L'exp&eacute;dition pour 
    Argel&egrave;s-sur-Mer &eacute;tait rondement pr&eacute;par&eacute;e. Une aventure comme on en vit assez peu dans 
    ses ann&eacute;es de jeune sportif !<br>
    Restait &agrave; jouer... Et face aux locaux, certainement motiv&eacute;s comme jamais devant leur public, le r&ecirc;ve a 
    dur&eacute; un quart d'heure, le temps d'un tiers-temps. La suite de la rencontre, &agrave; l'avantage des Catalans, stoppa 
    la saison exceptionnelle des jeunes Saint-Jeannais.
</p>
<p>
    Aucun regret &agrave; avoir, les -15 Gar&ccedil;ons resteront ceux qui ont fait bouillir Ren&eacute; Cassin deux semaines 
    auparavant. Ce sont - comme dirait un personnage bien connu du HBCSJ, dans une objectivit&eacute; sans &eacute;gal - <b>"les plus 
    beaux les plus forts"</b>.
</p>
<p>
    D'ailleurs, pas d'abattement &agrave; noter... Les traditions de fin de saison ont &eacute;t&eacute; respect&eacute;es 
    (la douche des coachs) et la baignade sur la plage cl&ocirc;turait une journ&eacute;e... pas si mal !!
</p>
<p>
    <b>
        Les photos de la journ&eacute;e sont disponibles <a href="https://photos.app.goo.gl/PXCvLMYdMrvpKfBj7" target="_blank">dans cet album</a>.
    </b>
</p>