<h2>La journ&eacute;e du Handball sous le soleil !!</h2>
<p>
    L'assembl&eacute;e g&eacute;n&eacute;rale du HBC Saint-Jean : un moment de convivialit&eacute; attendu par tous les membres 
    de l'association. Ce mill&eacute;sime 2018 ne d&eacute;rogea pas &agrave; la r&egrave;gle. En ce Samedi 23 Juin, tous les ingr&eacute;dients d'une 
    bonne AG &eacute;taient r&eacute;unis !!
</p>
<p>
    <b>
        Un tournoi sur herbe, pendant lequel jeunes (et vieux) joueurs, ainsi que parents (physiquement pr&eacute;par&eacute;s 
        depuis des semaines &agrave; rencontrer l'&eacute;lite du Handball Saint-Jeannais), ont pu s'affronter pendant 
        d'&eacute;piques matchs, bien-s&ucirc;r chapeaut&eacute;s par Nathalie !!
    </b>
</p>
<p style="text-align: center;">
    <a href="../_data/news/49/1.png" target="_blank"><img src="../_data/news/49/1.png" style="width: 10%;"></a>
    <a href="../_data/news/49/2.png" target="_blank"><img src="../_data/news/49/2.png" style="width: 10%;"></a>
    <a href="../_data/news/49/3.png" target="_blank"><img src="../_data/news/49/3.png" style="width: 10%;"></a>
    <a href="../_data/news/49/4.png" target="_blank"><img src="../_data/news/49/4.png" style="width: 10%;"></a>
</p>
<p>
    <b>
        L'assembl&eacute;e g&eacute;n&eacute;rale (&agrave; proprement parler) du club, pr&eacute;sid&eacute;e par Thomas Vaunois, en 
        pr&eacute;sence de Madame la Maire et de son adjoint aux sports.
    </b>
    <br>
    Comme chaque fin de saison, les chiffres du HBCSJ 
    ont &eacute;t&eacute; pr&eacute;sent&eacute;s aux licenci&eacute;s, ainsi qu'un compte-rendu de cette belle saison 
    2017 / 2018.
</p>
<p style="text-align: center;">
    <a href="../_data/news/49/5.png" target="_blank"><img src="../_data/news/49/5.png" style="width: 30%;"></a>
    <a href="../_data/news/49/6.png" target="_blank"><img src="../_data/news/49/6.png" style="width: 30%;"></a>
</p>
<p>
    <b>
        La r&eacute;ussite, le Handball-Club Saint-Jean la doit en grande partie aux bons r&eacute;sultats de ses &eacute;quipes 
        jeunes.
    </b>
    <br>
    A l'honneur notamment les -15G (jusqu'en quarts &agrave; Argel&egrave;s !), les -18G, -15F et -13F en finalit&eacute;s, 
    et la pr&eacute;sence de nombreux licenci&eacute;s dans nos plus jeunes cat&eacute;gories (babys et -9).
</p>
<p>
    <b>
        Les -15 Filles et les -9 ont, pour l'occasion, re&ccedil;u leur nouvelle tenue, respectivement sponsoris&eacute;es 
        par <a href="https://www.acomaudit.com/" target="_blank">@com</a> et <a href="https://www.laregion.fr/" target="_blank">La R&eacute;gion Occitanie</a>.
    </b>
</p>
<p style="text-align: center;">
    <a href="../_data/news/49/7.png" target="_blank"><img src="../_data/news/49/7.png" style="width: 20%;"></a>
    <a href="../_data/news/49/8.png" target="_blank"><img src="../_data/news/49/8.png" style="width: 20%;"></a>
    <a href="../_data/news/49/9.png" target="_blank"><img src="../_data/news/49/9.png" style="width: 20%;"></a>
    <a href="../_data/news/49/10.png" target="_blank"><img src="../_data/news/49/10.png" style="width: 20%;"></a>
</p>
<p style="text-align: center;">
    <a href="../_data/news/49/11.png" target="_blank"><img src="../_data/news/49/11.png" style="width: 20%;"></a>
    <a href="../_data/news/49/12.png" target="_blank"><img src="../_data/news/49/12.png" style="width: 20%;"></a>
    <a href="../_data/news/49/13.png" target="_blank"><img src="../_data/news/49/13.png" style="width: 20%;"></a>
    <a href="../_data/news/49/14.png" target="_blank"><img src="../_data/news/49/14.png" style="width: 20%;"></a>
</p>
<p>
    <b>
        Enfin, comme il est de tradition, certains entraineurs ont pu recevoir de la main de leurs joueur(se)s pr&eacute;f&eacute;s 
        quelques cadeaux et attentions diverses.
    </b>
    <br>
    Pas rancuniers, les coachs concern&eacute;s se sont laiss&eacute;s "ch&acirc;tier" comme il se doit.
</p>
<p style="text-align: center;">
    <a href="../_data/news/49/15.png" target="_blank"><img src="../_data/news/49/15.png" style="width: 20%;"></a>
    <a href="../_data/news/49/16.png" target="_blank"><img src="../_data/news/49/16.png" style="width: 20%;"></a>
    <a href="../_data/news/49/17.png" target="_blank"><img src="../_data/news/49/17.png" style="width: 20%;"></a>
</p>
<p>
    <b>
        Les photos de la journ&eacute;e sont disponibles <a href="https://photos.app.goo.gl/geXQi9uY7RjX38Yv7" target="_blank">dans cet album</a>.
    </b>
</p>