<h2>Fin de parcours en 1/32<sup>&egrave;mes</sup> de finale de Coupe de France pour les Seniors Gar&ccedil;ons, &agrave; Oradour</h2>
<p>
    Face &agrave; une belle &eacute;quipe Limousine, et notamment un impressionnant gardien, les Saint-Jeannais ont &eacute;t&eacute; 
    men&eacute;s durant toute la rencontre. Lourde d&eacute;faite certes (37 &agrave; 17), mais qui ne doit pas masquer le tr&egrave;s 
    beau parcours des gar&ccedil;ons dans cette Coupe de France D&eacute;partementale.<br>
    Place au championnat maintenant !
</p>
<h2>D&eacute;faite des Seniors Filles dans la revanche de la finale de Juin dernier</h2>
<p>
    Vaincues par les Saint-Jeannaises durant l'&eacute;pilogue du Championnat Territorial de la saison pass&eacute;e, Rignac venait 
    Samedi soir &agrave; Cassin avec un go&ucirc;t certain de revanche. Fortes d'un d&eacute;but de rencontre &agrave; sens unique, 
    les Aveyronnaises ont ensuite conserv&eacute; leur confortable avance, pour l'emporter 26 &agrave; 21.<br>
    Les filles sont 11<sup>&egrave;mes</sup> du Championnat R&eacute;gional Excellence Occitanie.
</p>
<h2>Chez les jeunes : de nettes victoires et des courtes d&eacute;faites</h2>
<ul>
    <li>
        <b>-11 Filles</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et belle victoire 18 &agrave; 8 contre le TFH2.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et belle victoire 17 &agrave; 9 contre Rieux-Volvestre.
    </li>
    <li>
        <b>-13 Filles</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, en D&eacute;partemental Excellence, et victoire d&eacute;j&agrave; importante 29 &agrave; 25 &agrave; Brugui&egrave;res contre l'entente BOC / Saint-Jory.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et d&eacute;faite d'un but (avec un excellent 3<sup>&egrave;me</sup> tiers-temps, remport&eacute;) contre le Fenix.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et d&eacute;faite d'un but (malgr&eacute; deux tiers-temps remport&eacute;s) dans l'Ari&egrave;ge contre Vall&eacute;es Arize-L&egrave;ze.
    </li>
    <li>
        <b>-15 Filles</b> : Large victoire 40 &agrave; 1 contre Flourens.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : Large victoire 42 &agrave; 14 contre Montauban.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;faite d'un but contre Bessieres (malgr&eacute; le gain du 3<sup>&egrave;me</sup> tiers-temps).
    </li>
    <li>
        <b>-18 Filles</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et d&eacute;faite 19 &agrave; 23 contre Saint-Sulpice.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : 1<sup>er</sup> match de la 2<sup>&egrave;me</sup> phase, et belle victoire 36 &agrave; 34 aux Argoulets contre le Fenix.
    </li>
</ul>