<h2>La reprise a sonn&eacute; pour l'ensemble des collectifs du HBCSJ</h2>
<p>
    R&eacute;unions, organisation des effectifs, premiers entra&icirc;nements physiques, reprise en main du ballon, etc... C'est 
    la "chanson" habituelle d'un d&eacute;but de saison, et ce mill&eacute;sime 2018 / 2019 n'a pas fait exception.<br>
    Les b&eacute;n&eacute;voles, coachs et joueur(se)s du Handball-Club Saint-Jean sont sur le pont depuis fin-Ao&ucirc;t afin de 
    pr&eacute;parer au mieux cette nouvelle ann&eacute;e.<br><br>
    A noter, quelques changements chez les responsables d'&eacute;quipes et les jours / horaires d'entra&icirc;nements.<br>
    Le r&eacute;capitulatif est disponible sur <a href="http://www.hbc-saintjean.fr/entrainements" target="_blank">cette page</a>.
</p>
<h2>La plupart des poules de championnat sont connues</h2>
<p>
    Hormis les -11 et les -13 (brassages ce week-end), les &eacute;quipes du HBC Saint-Jean connaissent leur poule pour la 1<sup>&egrave;re</sup> phase :
    <br><br>
    <b>Seniors Filles :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=10998&tx_obladygesthand_pi1%5Bphase_id%5D=27664&tx_obladygesthand_pi1%5Bgroupe_id%5D=47420&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=96e8af3336e74c21ab7bc2bb47bcb71d" target="_blank">Championnat Pr&eacute;national Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (Poule C)</a><br>
    Avec Montech, L&eacute;vezou, Cahors, Montauban et Gramat<br>
    <b>Premier match ce Samedi &agrave; Cahors !!!</b>
    <br><br>
    <b>Seniors Gar&ccedil;ons 1 :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-departementaux/31-comite-de-la-haute-garonne.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11567&tx_obladygesthand_pi1%5Bphase_id%5D=30271&tx_obladygesthand_pi1%5Bgroupe_id%5D=50764&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=2a10d956b65cad251f086617bcf49ceb" target="_blank">Championnat Territorial 31 18/19 - 1<sup>&egrave;re</sup> phase (Poule B - Secteur 2)</a><br>
    Avec Montech 1, Aucamville, Blagnac, Beauzelle et Castelsarrasin
    <br><br>
    <b>Seniors Gar&ccedil;ons 2 :</b><br>
    <a href="http://www.ff-handball.org//competitions/championnats-departementaux/31-comite-de-la-haute-garonne.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11567&tx_obladygesthand_pi1%5Bphase_id%5D=30271&tx_obladygesthand_pi1%5Bgroupe_id%5D=50765&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=8593afa5dd319653099790ec2ad4ad61" target="_blank">Championnat Territorial 31 18/19 - 1<sup>&egrave;re</sup> phase (Poule C - Secteur 2)</a><br>
    Avec le Fenix 4, Tournefeuille, La Salvetat, Flourens et Merville 1
    <br><br>
    <b>-18 Filles :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11074&tx_obladygesthand_pi1%5Bphase_id%5D=27760&tx_obladygesthand_pi1%5Bgroupe_id%5D=50267&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=1b22c1fa92d8a2084c3648615b9bf3ff" target="_blank">Championnat R&eacute;gional Honneur Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (2<sup>&egrave;me</sup> Division - Poule 5)</a><br>
    Avec CIEL, Quint-Fonsegrives, Carcassonne, Castelnaudary et Limoux-Couiza
    <br><br>
    <b>-18 Gar&ccedil;ons 1 :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11073&tx_obladygesthand_pi1%5Bphase_id%5D=27759&tx_obladygesthand_pi1%5Bgroupe_id%5D=50386&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=230193d750bcc20753d502cd79ad3d1b" target="_blank">Championnat R&eacute;gional Honneur Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (2<sup>&egrave;me</sup> Division - Poule 7)</a><br>
    Avec le Fenix 3, Balma 2, Roques 1, Albi 2 et Saint-Sulpice
    <br><br>
    <b>-18 Gar&ccedil;ons 2 :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11073&tx_obladygesthand_pi1%5Bphase_id%5D=27759&tx_obladygesthand_pi1%5Bgroupe_id%5D=50388&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=c325b1b40b4f423be12aa24fb6a5ea92" target="_blank">Championnat R&eacute;gional Honneur Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (2<sup>&egrave;me</sup> Division - Poule 8)</a><br>
    Avec le Fenix 4, Ouest-Tarn 2, Lavaur, Castres et Flourens
    <br><br>
    <b>-15 Filles :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11075&tx_obladygesthand_pi1%5Bphase_id%5D=27761&tx_obladygesthand_pi1%5Bgroupe_id%5D=50570&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=b5e059ba577cebd3f17d785db454273b" target="_blank">Championnat R&eacute;gional Honneur Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (2<sup>&egrave;me</sup> Division - Poule 6)</a><br>
    Avec Tournefeuille 1, TFH 2, Aucamville, Pechbonnieu et Flourens
    <br><br>
    <b>-15 Gar&ccedil;ons :</b><br>
    <a href="http://www.ff-handball.org/competitions/championnats-regionaux/occitanie.html?tx_obladygesthand_pi1%5Bsaison_id%5D=14&tx_obladygesthand_pi1%5Bcompetition_id%5D=11075&tx_obladygesthand_pi1%5Bphase_id%5D=27761&tx_obladygesthand_pi1%5Bgroupe_id%5D=50570&tx_obladygesthand_pi1%5Bmode%5D=single_phase&cHash=b5e059ba577cebd3f17d785db454273b" target="_blank">Championnat R&eacute;gional Honneur Occitanie 18/19 - 1<sup>&egrave;re</sup> phase (2<sup>&egrave;me</sup> Division - Poule 9)</a><br>
    Avec le Fenix Sud-Ouest, Balma 2, Aucamville 1, Saint-Jory et Merville
</p>
<h2>Bient&ocirc;t les premiers matchs !</h2>
<p>
    Si la plupart des cat&eacute;gories reprennent le chemin de la comp&eacute;tition le week-end du 22 / 23 Septembre, quelques-unes 
    seront dans le grand bain d&egrave;s ce Samedi, et particuli&egrave;rement les Seniors Filles.<br>
    Dans le nouveau format du Championnat Pr&eacute;national d'Occitanie, elles se d&eacute;placeront dans le Lot face aux Cadurciennes, 
    toujours tr&egrave;s compliqu&eacute;es &agrave; battre dans leur enceinte.<br><br>
    Chez les jeunes, les -13 et -11, Gar&ccedil;ons et Filles joueront leur habituel tournoi de brassage, afin de d&eacute;terminer 
    leur poule de comp&eacute;tion en Championnat D&eacute;partemental.
</p>