<h2>D&eacute;faite d'entr&eacute;e pour les Seniors Filles</h2>
<p>
    Jouer &agrave; Cahors n'est jamais simple, d&eacute;marrer une saison l&agrave;-bas l'est encore moins. Pour leur premier 
    match depuis la rentr&eacute;e, l'&eacute;quipe f&eacute;minine en a fait l'am&egrave;re exp&eacute;rience. Contre un collectif 
    rapide et physique, les Saint-Jeannaises ont tenu 10 minutes avant de petit &agrave; petit l&acirc;cher le score.<br>
    Les blessures de 3 joueuses n'arrangeant rien, elles repartent du Lot avec un revers de sept buts.
</p>
<h2>Week-end de travail avec des barrages et des amicaux</h2>
<p>
    Pendant ce temps, certaines autres &eacute;quipes ont pr&eacute;par&eacute; leur d&eacute;but de saison avec s&eacute;rieux : quelques 
    &eacute;quipes jeunes ont disput&eacute; leur habituel tournoi de barrage (afin de d&eacute;terminer leur niveau) alors 
    que les Seniors et -15 Gar&ccedil;ons ont jou&eacute; des matchs amicaux &agrave; Beauzelle.
</p>
<p>
    <b>Samedi et Dimanche, la plupart des collectifs auront rejou&eacute; en comp&eacute;tition !</b>
</p>