<h2>Les Seniors Filles veulent rebondir</h2>
<p>
    D&eacute;faites &agrave; Cahors le week-end dernier, l'&eacute;quipe f&eacute;minine recevra Montech avec la ferme intention 
    de l'emporter. Et les Tarn-et-Garonnaises seront de s&eacute;rieuses adversaires, au vu de leur large victoire contre Gramat 
    Dimanche dernier.
</p>
<h2>Seniors Gar&ccedil;ons, -18 et -15 d&eacute;butent leur saison</h2>
<p>
    De leur c&ocirc;t&eacute;, les deux &eacute;quipes masculines joueront leur premier match de 2018 / 2019, &agrave; domicile, respectivement 
    contre Blagnac et La Salvetat. Une saison une nouvelle fois pleine d'ambitions, pour laquelle il ne faudra pas rater l'entame.
</p>
<p>
    En championnat R&eacute;gional, les quatre &eacute;quipes -15 et -18 entreront &eacute;galement en lice. Des collectifs pour la plupart 
    remani&eacute;s par rapport &agrave; la saison pass&eacute;e, beaucoup de joueur(se)s d&eacute;couvrant le niveau sup&eacute;rieur !
</p>
<h2>C'est le premier gros week-end de comp&eacute;tition</h2>
<ul>
    <li>
        <b>-15 Filles : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Merville
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Rabastens, chez Ouest-Tarn
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Blagnac
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de La Salvetat
    </li>
</ul>