<h2>Les Seniors Gar&ccedil;ons soignent leur entr&eacute;e</h2>
<p>
    D&eacute;but du championnat &agrave; domicile pour les deux &eacute;quipes masculines. Samedi soir, la 1 recevait Blagnac, 
    contre un adversaire souvent affront&eacute; ces derni&egrave;res saisons.<br>
    Et si les 45 premi&egrave;res minutes furent tr&egrave;s poussives (les visiteurs la plupart du temps menant au score), on retiendra 
    le dernier quart d'heure pendant lequel le jeu rapide et l'exp&eacute;rience des Saint-Jeannais (comme on peut le voir dans <a href="https://drive.google.com/open?id=1_ONpVcgPH6uEHfCpVQg42ldubr-9AG-q" target="_blank">cette vid&eacute;o</a>)
    leur apporta une pr&eacute;cieuse victoire 42-39.
</p>
<p>
    Le lendemain, leurs camarades de la 2 n'&eacute;taient offensivement pas en reste. Toujours &agrave; Ren&eacute; Cassin, contre 
    la Salvetat, les joueurs locaux ont pris le large au score d&eacute;s la 15<sup>&egrave;me</sup> minute. Ils ont ensuite 
    d&eacute;roul&eacute; et l'ont confortablement emport&eacute; 40-28, au terme d'un premier match s&eacute;rieux.
</p>
<h2>Les Seniors Filles se rattrapent avec la mani&egrave;re</h2>
<p>
    Apr&egrave;s une entame de comp&eacute;tition compliqu&eacute;e le week-end dernier &agrave; Cahors, l'&eacute;quipe f&eacute;minine 
    &eacute;tait motiv&eacute;e et comptait bien s'offrir un premier succ&egrave;s &agrave; domicile, contre Montech.<br>
    Dans une rencontre physique et accroch&eacute;e, les joueuses du HBCSJ ont eu du retard &agrave; l'allumage (9-12 &agrave; la 
    21<sup>&egrave;me</sup>) mais ont su revenir en fin de premier acte, pour ensuite proposer une tr&egrave;s belle seconde mi-temps.<br>
    L'efficacit&eacute; des buteuses et les exploits de la gardienne &eacute;teignant les derniers espoirs des Tarn-et-Garonnaises, 
    ce match offensif se terminait sur une solide victoire 31-25 des locales.
</p>
<h2>Les jeunes assurent</h2>
<p>
    A l'instar de leurs a&icirc;n&eacute;s, les cinq &eacute;quipes jeunes l'ont emport&eacute;, pour leur premi&egrave;re journ&eacute;e 
    de comp&eacute;tition. Engag&eacute;s en championnat R&eacute;gional d'Occitanie, les -15 et -18 ont entam&eacute; leur saison de 
    la plus belle des mani&egrave;res.
</p>
<p style="text-align: center;">
    <a href="../_data/news/53/1.jpg" target="_blank"><img src="../_data/news/53/1.jpg" style="width: 15%;"></a>
    <a href="../_data/news/53/2.jpg" target="_blank"><img src="../_data/news/53/2.jpg" style="width: 15%;"></a>
    <a href="../_data/news/53/3.jpg" target="_blank"><img src="../_data/news/53/3.jpg" style="width: 15%;"></a>
    <a href="../_data/news/53/4.jpg" target="_blank"><img src="../_data/news/53/4.jpg" style="width: 15%;"></a>
    <a href="../_data/news/53/5.jpg" target="_blank"><img src="../_data/news/53/5.jpg" style="width: 15%;"></a>
    <a href="../_data/news/53/6.jpg" target="_blank"><img src="../_data/news/53/6.jpg" style="width: 15%;"></a>
</p>
<h2>100% de victoire pour les &eacute;quipes du HBCSJ !</h2>
<ul>
    <li>
        <b>-15 Filles : </b>Victoire contre Tournefeuille
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>Victoire contre Merville
    </li>
    <li>
        <b>-18 Filles : </b>Forfait de Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire &agrave; Rabastens, chez Ouest-Tarn
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Blagnac
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre La Salvetat
    </li>
</ul>