<h2>Coupe de France pour les Seniors</h2>
<p>
    En accueillant Beauzelle Samedi soir, l'&eacute;quipe masculine entamera une comp&eacute;tition qui les a r&eacute;ussi 
    la saison pass&eacute;e. Avec comme unique objectif la qualification, les co&eacute;quipiers de Fr&eacute;d&eacute;ric Canillas 
    rencontreront pour la deuxi&egrave;me fois un adversaire qui sera au total affront&eacute; 4 fois pendant le dernier semestre de 2018.<br>
    Apr&egrave;s l'amical deux semaines auparavant, c'est une nouvelle fois l'occasion de se jauger face &agrave; une &eacute;quipe 
    directement concurrente en championnat dans la poule de la 1.
</p>
<p>
    Les filles de leur c&ocirc;t&eacute; se d&eacute;placent &agrave; Saint-Gaudens pour leur premier tour de Coupe de France.
    Une occasion de confirmer leur excellent match du week-end pass&eacute;, et de s'inscrire dans une dynamique positive.
</p>
<h2>Les jeunes veulent encha&icirc;ner !</h2>
<p>
    De leur c&ocirc;t&eacute;, les -15 et -18 joueront leur deuxi&egrave;me journ&eacute;e de championnat.<br>
    Pour les -18 Filles, ce sera l'occasion de disputer leur premier match, victorieuses par forfait de Castelnaudary Samedi dernier.<br>
    Pour les autres, on attend confirmation des belles performances pendant les derni&egrave;res rencontres.
</p>
<p>
    Enfin, on notera l'entr&eacute;e en lice des -13 Filles, et Gar&ccedil;ons 1 et 2.
</p>
<h2>Programme complet du week-end</h2>
<ul>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Fronton
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lavelanet
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Aucamville
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement au Mirail, contre le Fenix
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de Limoux-Couiza
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Saint-Sulpice
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Lavaur
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Saint-Gaudens, contre Comminges Handball
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>R&eacute;ception de Beauzelle
    </li>
</ul>