<h2>Coupe de France : les Seniors Filles qualifi&eacute;es...</h2>
<p>
    Victorieuses &agrave; domicile la semaine pass&eacute;e contre Montech, l'&eacute;quipe f&eacute;minine voulait poursuivre sur 
    cette lanc&eacute;e, en Coupe de France, &agrave; Saint-Gaudens. Et si les moyens n'&eacute;taient pas les m&ecirc;mes - aucune 
    rempla&ccedil;ante - l'envie &eacute;tait intacte.<br>
    Apr&egrave;s trois petites minutes de mise en route, le score devenait et allait rester &agrave; l'avantage des Saint-Jeannaises, 
    courageuses jusqu'au bout du temps r&eacute;glementaire. La victoire 22-16 en poche, le parcours en Coupe de France pouvait se poursuivre, 
    ainsi qu'une s&eacute;rie de r&eacute;sultats positifs, &agrave; poursuivre Samedi prochain contre Gramat.
</p>
<h2>... mais les Gar&ccedil;ons butent sur Beauzelle</h2>
<p>
    Leurs camarades masculins entamaient eux-aussi la comp&eacute;tition durant laquelle ils ont brill&eacute; la saison pass&eacute;e. 
    En recevant Beauzelle - &eacute;quipe qui sera souvent affront&eacute; en cette fin d'ann&eacute;e - les joueurs du HBCSJ h&eacute;ritaient 
    tout de suite d'un adversaire coriace. Et la rencontre serr&eacute;e annonc&eacute;e eu bien lieu... Deux p&eacute;riodes au sc&eacute;nario 
    similaire (prise d'avantage des visiteurs, puis score rattrap&eacute; par les locaux) tenait en haleine un public relativement nombreux.<br>
    Mais quelques erreurs dans le money-time, et des jeunes Beauzellois finalement efficaces mirent un terme aux ambitions des Gar&ccedil;ons 
    dans cette Coupe de France... Une d&eacute;faite 32-30, difficile &agrave; encaisser, qui devra imm&eacute;diatement &ecirc;tre 
    effac&eacute;e en championnat.
</p>
<h2>Beau week-end des jeunes !</h2>
<p>
    Une nouvelle fois, les jeunes &eacute;quipes Saint-Jeannaises ont port&eacute; fi&egrave;rement les couleurs du club. Avec notamment 
    le d&eacute;but de comp&eacute;tition des -13, ils ram&egrave;nent un bilan de 6 victoires pour 8 matchs.<br>
    Ce saison est d&eacute;cid&eacute;ment bien d&eacute;mar&eacute;e !
</p>
<p style="text-align: center;">
    <a href="../_data/news/55/1.png" target="_blank"><img src="../_data/news/55/1.png" style="width: 20%;"></a>
    <a href="../_data/news/55/2.png" target="_blank"><img src="../_data/news/55/2.png" style="width: 20%;"></a>
    <a href="../_data/news/55/3.png" target="_blank"><img src="../_data/news/55/3.png" style="width: 20%;"></a>
    <a href="../_data/news/55/4.png" target="_blank"><img src="../_data/news/55/4.png" style="width: 20%;"></a>
</p>
<h2>Encore une grande majorit&eacute; de victoires</h2>
<ul>
    <li>
        <b>-13 Filles : </b>Victoire face &agrave; Fronton
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-15 Filles : </b>Victoire &agrave; Aucamville
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite au Fenix
    </li>
    <li>
        <b>-18 Filles : </b>Victoire face &agrave; Limoux-Couiza
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire face &agrave; Saint-Sulpice
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire face &agrave; Lavaur
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire &agrave; Saint-Gaudens, contre Comminges Handball
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons : </b>D&eacute;faite contre Beauzelle
    </li>
</ul>