<h2>Les Seniors Filles veulent poursuivre leur dynamique</h2>
<p>
    La s&eacute;rie positive entam&eacute;e, apr&egrave;s deux belles victoires, les joueuses Saint-Jeannaises veulent encha&icirc;ner 
    &agrave; domicile avec la r&eacute;ception des Lotoises de Gramat.
</p>
<h2>Les Gar&ccedil;ons doivent rebondir en championnat</h2>
<p>
    Apr&egrave;s une d&eacute;faite tr&egrave;s frustrante en Coupe de France Samedi dernier, l'effectif masculin reprend du service 
    en championnat, avec ses deux &eacute;quipes. Un seul objectif : retrouver imm&eacute;diatement le chemin de la victoire !
</p>
<h2>D&eacute;but de comp&eacute;tition pour les -11 Filles</h2>
<p>
    Les barrages termin&eacute;s, la jeune &eacute;quipe f&eacute;minine peut enfin d&eacute;buter son championnat.<br>
    Les camarades gar&ccedil;ons des -11 d&eacute;buteront le week-end prochain.
</p>
<h2>10 rencontres au programme</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>-15 Filles : </b>R&eacute;ception du TFH
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Balma
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Castres
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Gramat
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
</ul>