<h2>Les Seniors Filles confirment par un festival de buts</h2>
<p>
    Alors que ce sont plut&ocirc;t les gar&ccedil;ons qui appr&eacute;cient l'exercice, l'&eacute;quipe f&eacute;minine a &agrave; 
    son tour pris plaisir &agrave; faire trembler le tableau d'affichage Samedi soir !<br>
    En recevant les Lotoises de Gramat, les Saint-Jeannaises avaient une s&eacute;rie positive de deux victoires cons&eacute;tives 
    &agrave; poursuivre, et c'est notamment gr&acirc;ce &agrave; une seconde mi-temps impressionnante qu'elles ont valid&eacute; cet 
    objectif. Un 22-10 sans appel, pour une victoire finale 39-23 : les joueuses du HBCSJ ont une belle carte &agrave; jouer dans ce 
    championnat Pr&eacute;national.
</p>
<h2>Seniors Gar&ccedil;ons : la 1 avec brio, la 2 souffre</h2>
<p>
    Samedi soir d'abord, l'&eacute;quipe 2 se d&eacute;pla&ccedil;ait &agrave; Lab&egrave;ge, pour jouer contre Flourens et leur nouveau 
    collectif. Et avec aucun rempla&ccedil;ant, les Saint-Jeannais ont logiquement &eacute;t&eacute; men&eacute;s tout le long de la rencontre, 
    pour conc&eacute;der au final 14 buts aux locaux du soir.
</p>
<p>
    La 1 n'a par contre, elle, pas fait dans le d&eacute;tail &agrave; Aucamville. Un match s&eacute;rieux, domin&eacute; de bout en bout 
    contre un adversaire souvent difficiles &agrave; manoeuvrer chez eux. Une victoire 34-22 qui tombe &agrave; pic pour relancer des joueurs 
    frustr&eacute;s apr&egrave;s la d&eacute;faite en Coupe de France.
</p>
<h2>Chez les jeunes : du bon et du frustrant</h2>
<p>
    Entr&eacute;e en lice difficile pour les -11 Filles.<br>
    D&eacute;faite dans les derniers instants pour les -18 Gar&ccedil;ons 1.<br>
    Beaux succ&egrave;s des -15.
</p>
<h2>50% de victoires</h2>
<p>Il valait mieux jouer &agrave; domicile...</p>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre Quint-Fonsegrives
    </li>
    <li>
        <b>-15 Filles : </b>Victoire contre le TFH
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>Victoire &agrave; Balma
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Castres
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Gramat
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre Flourens
    </li>
</ul>