<h2>Difficile d&eacute;placement pour les Seniors Filles</h2>
<p>
    Pour poursuivre leur belle s&eacute;rie de 3 victoires cons&eacute;cutives, l'&eacute;quipe f&eacute;minine devra s'imposer 
    &agrave; Montauban, visiblement en forme apr&egrave;s leur large victoire contre Castres.
</p>
<p>
    Objectif confirmation &eacute;galement pour l'&eacute;quipe masculine 1, contre Montech. Les gar&ccedil;ons voudront poursuivre 
    leur invincibilit&eacute; en championnat.<br>
    La 2 elle, aura un d&eacute;placement difficile &agrave; Merville.
</p>
<h2>Les -11 Gar&ccedil;ons enfin en lice</h2>
<p>
    Derni&egrave;re &eacute;quipe &agrave; entamer sa saison de comp&eacute;tition : les -11 Gar&ccedil;ons. Le jeune collectif Saint-Jeannais 
    affrontera le Fenix, &agrave; Ren&eacute; Cassin.
</p>
<h2>12 matchs au programme !</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception du TFH
    </li>
    <li>
        <b>-11 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Bessi&egrave;res
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception du CRAHB
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Carcassonne
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Montauban
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Merville
    </li>
</ul>