<h2>Seniors Gar&ccedil;ons : la 1 en roue libre, la 2 limit&eacute;e</h2>
<p>
    Un festival offensif, voil&agrave; ce qu'a propos&eacute; l'&eacute;quipe 1 masculine du HBCSJ. Avec un effectif complet, 
    les Saint-Jeannais recevaient Samedi soir Montech qui se pr&eacute;sentaient eux, sans rempla&ccedil;ants.<br>
    Et le jeu de contre-attaque local se mit instantan&eacute;ment en place, avec une vague de buts en premi&egrave;re p&eacute;riode : 27-8.
    La suite se d&eacute;roulant sur les m&ecirc;mes bases, les Seniors Gar&ccedil;ons 1 validaient une victoire facile, 52-23 et restent 
    invaincues apr&egrave;s trois journ&eacute;es de championnat.
</p>
<p>
    De son c&ocirc;t&eacute;, en partant Dimanche avec seulement deux arri&egrave;res &agrave; Merville, la 2 savait qu'elle 
    souffrirait contre une &eacute;quipe solide autant offensivement que d&eacute;fensivement. Et pourtant, les 20 premi&egrave;res 
    minutes voient les Saint-Jeannais surprendre les locaux en menant au score 10-9. Mais ces derniers se r&eacute;veilleront logiquement 
    et infligeront un 6-3 jusqu'&agrave; la pause, puis un cinglant 23-9 en seconde p&eacute;riode...
</p>
<h2>Coup d'arr&ecirc;t pour les Seniors Filles</h2>
<p>
    En allant Dimanche &agrave; Montauban, l'&eacute;quipe f&eacute;minine voulait poursuivre une prometteuse s&eacute;rie de trois 
    victoires cons&eacute;cutives. Mais cette fois-ci, cueillies &agrave; vif en premi&egrave;re mi-temps par les Tarn-et-Garonnaises, les joueuses du HBCSJ ne parvenaient 
    jamais &agrave; inverser la tendance et devaient s'incliner 28-22.
</p>
<h2>Chez les jeunes : des -13 victorieux</h2>
<p>
    Le bilan est mitig&eacute; pour les &eacute;quipes jeunes. Si les -18 ont connu des difficult&eacute;s, les cat&eacute;gories 
    -13 sont &agrave; l'honneur pour ce week-end avec 3 victoires en autant de matchs.<br>
    A noter &eacute;galement le beau succ&egrave;s des -11 Gar&ccedil;ons contre le Fenix.
</p>
<p style="text-align: center;">
    <a href="../_data/news/59/1.png" target="_blank"><img src="../_data/news/59/1.png" style="width: 30%;"></a>
    <a href="../_data/news/59/2.png" target="_blank"><img src="../_data/news/59/2.png" style="width: 30%;"></a>
</p>
<h2>Tous les r&eacute;sultats</h2>
<p>Il valait mieux jouer Samedi...</p>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite contre le TFH
    </li>
    <li>
        <b>-11 Gar&ccedil;ons 1 : </b>Victoire conte le Fenix
    </li>
    <li>
        <b>-13 Filles : </b>Victoire &agrave; Bessi&egrave;res
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre le CRAHB
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>Victoire contre Vall&eacute;es Arize-L&egrave;ze
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>Match nul contre Saint-Jory
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Carcassonne
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Montauban
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Merville
    </li>
</ul>