<h2>Reprise du championnat pour les Seniors Gar&ccedil;ons</h2>
<p>
    Un des week-ends les plus difficiles pour les joueurs du HBCSJ : le double d&eacute;placement, chez le 
    second de la Poule C Territoriale (Ouest-Tarn), et le premier invaincu de la Poule B (Brugui&egrave;res).<br>
    Deux adversaires que l'&eacute;quipe 1 pourra retrouver en championnat pr&eacute;-r&eacute;gion lors de la deuxi&egrave;me phase.
</p>
<h2>Lourdes : le d&eacute;placement de la renaissance pour les Seniors Filles ?</h2>
<p>
    Actuelles 6<sup>&egrave;mes</sup> du championat R&eacute;gional Honneur, l'&eacute;quipe des Hautes-Pyr&eacute;n&eacute;es ne sera 
    assur&eacute;ment pas simple &agrave; battre, surtout chez elle.
</p>
<h2>Chez les jeunes : confirmer le bon d&eacute;but d'ann&eacute;e</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;placement &agrave; Bessieres.
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Fontenilles.
    </li>
    <li>
        <b>-13 Filles</b> : R&eacute;ception de Castanet / Ramonville.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; La Salvetat.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : R&eacute;ception de Roques.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : R&eacute;ception de Saint-Jory.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : R&eacute;ception du Fenix.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;placement &agrave; Lisle-sur-Tarn chez Ouest-Tarn.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : R&eacute;ception de Roques.
    </li>
</ul>