<h2>Les Seniors Gar&ccedil;ons veulent leur revanche</h2>
<p>
    Battus &agrave; domicile il y a quelques semaines par Beauzelle en Coupe de France, les Saint-Jeannais veulent leur revanche. 
    Elle a lieu ce Dimanche apr&egrave;s-midi, toujours &agrave; Ren&eacute; Cassin, pour le compte du Championnat Territorial.
    <br>
    Diminu&eacute;e ces derniers temps, l'&eacute;quipe 2 re&ccedil;oit elle le Fenix Samedi Soir.
</p>
<h2>Seniors Filles : r&eacute;action attendue</h2>
<p>
    D&eacute;faites le week-end dernier &agrave; Montauban, les filles voudront tout de suite renouer avec la victoire. La r&eacute;ception 
    de L&eacute;vezou - premi&egrave;res de leur poule de Championnat Pr&eacute;-National - ne sera pas une partie de plaisir mais 
    les Saint-Jeannaises restent sur deux tr&egrave;s belles prestations &agrave; domicile.
</p>
<h2>Chez les jeunes : c'est les vacances, seulement 3 matchs</h2>
<p>
    Les vacances de la Toussaint ont commenc&eacute;, et la tr&ecirc;ve de comp&eacute;titions jeunes qui va avec. Seuls les -11 Gaar&ccedil;ons, 
    et les -15 jouent, tous &agrave; l'ext&eacute;rieur.
</p>
<h2>Le programme du week-end</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Balma
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Aucamville
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de L&eacute;vezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception du Fenix
    </li>
</ul>