<h2>Les Seniors Gar&ccedil;ons 1 tiennent leur revanche</h2>
<p>
    L'&eacute;quipe masculine tient peut-&ecirc;tre l&agrave; sa premi&egrave;re vraie performance de la saison. Dimanche &agrave; 
    Cassin contre Beauzelle, les joueurs Saint-Jeannais avaient encore en t&ecirc;te l'&eacute;limination en Coupe de France.<br>
    Et si la premi&egrave;re mi-temps &eacute;tait loin d'&ecirc;tre parfait (men&eacute;s 16-19), les locaux allaient faire preuve de 
    solidarit&eacute; et sang-froid dans le second acte. Revenant au score et passant m&ecirc;me devant &agrave; un quart d'heure de la fin, 
    ils ne finissaient le travail que dans les derniers instants, apr&egrave;s un nouveau retour au score de Beauzelle. Un money-time 
    haletant mais fondateur d'un bel &eacute;tat d'esprit.<br>
    Le HBCSJ tient la t&ecirc;te de sa poule de championnat !
</p>
<h2>Mais week-end globalement compliqu&eacute;...</h2>
<p>
    Ce succ&egrave;s, ainsi que la large victoire des -15 Filles contre Flourens, resteront les seules satisfactions comptables du 
    week-end. En effet, les quatre autres rencontres programm&eacute;es se sont sold&eacute;es par des d&eacute;faites...<br>
    Encore une fois, les Seniors Gar&ccedil;ons 2 ont eu beaucoup de mal, cette fois contre le Fenix.<br>
    Les f&eacute;minines ont elles pay&eacute; leur entame de match rat&eacute; contre L&eacute;vezou. Et malgr&eacute; un beau sursaut 
    d'orgueil en fin de premi&egrave;re p&eacute;riode, elles n'ont rien pu faire contre les Aveyronnaises, plus que jamais leaders 
    de leur poule de championnat Pr&eacute;-National. Revanche d&egrave;s le week-end prochain !
</p>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Balma
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Aucamville
    </li>
    <li>
        <b>-15 Filles : </b>Victoire &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre L&eacute;vezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre le Fenix
    </li>
</ul>
<h2>Tournoi de l'Union pour les -9</h2>
<p>
    Si les r&eacute;sultats du week-end sont plut&ocirc;t frustrants, une belle satisfaction est - comme souvent - &agrave; aller 
    chercher du c&ocirc;t&eacute; de nos plus jeunes pratiquants. A L'Union, Samedi matin, le collectif -9 Saint-Jeannais a pu 
    envoyer trois &eacute;quipes pour repr&eacute;senter les couleurs du club.<br>
    En comptant les Babys, nos minis-licenci&eacute;s avoisinnent le nombre de 50. L'&eacute;cole de Handball, c'est aussi l&agrave; 
    la r&eacute;ussite du HBC Saint-Jean !
</p>
<p>
    <b>
        Les photos du tournoi sont disponibles <a href="https://photos.app.goo.gl/DGzBxr1z65Hq7irW8" target="_blank">dans cet album</a> 
        et <a href="https://as-lunion-handball.clubeo.com/galeries-photo/9-weekend-20-21-octobre.html" target="_blank">celui-ci</a>.
    </b>
</p>