<h2>Les Seniors sont les seuls &agrave; jouer !</h2>
<ul>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Baraqueville, contre L&eacute;vezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Castelsarrasin
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Tournefeuille
    </li>
</ul>
<p>
    Toujours invaincus en championnat, la 1 masculine doit g&eacute;rer un d&eacute;placement peu &eacute;vident dans le Tarn-et-Garonne, 
    pour conserver son invicibilt&eacute; apr&egrave;s les matchs allers de la premi&egrave;re phase.
</p>
<h2>Les filles pour une revanche imm&eacute;diate ?</h2>
<p>
    S&egrave;chement battues Samedi soir dernier par L&eacute;vezou, l'&eacute;quipe f&eacute;minine aura l'occasion de tout de suite 
    se racheter, en match avanc&eacute;, chez les Aveyronnaises.
</p>
<h2>Les jeunes sont en vacances</h2>
<p>
    Ce week-end et le prochain, Toussaint oblige, aucune cat&eacute;gorie jeune n'est engag&eacute; en comp&eacute;tition.
</p>