<h2>Grosse victoire pour les Seniors Gar&ccedil;ons 1</h2>
<p>
    A Castelsarrasin, l'&eacute;quipe 1 masculine pouvait poursuivre sa parfaite s&eacute;rie de 100% de victoires en 
    championnat. Et, apr&egrave;s des d&eacute;buts poussifs, les gar&ccedil;ons ont su rester s&eacute;rieux en d&eacute;fense 
    et d&eacute;rouler en attaque. Nouvelle victoire 38 &agrave; 20 !
</p>
<h2>Les filles proches de l'exploit en Aveyron</h2>
<p>
    S&egrave;chement battue &agrave; Cassin la semaine derni&egrave;re, l'&eacute;quipe f&eacute;minine a cru &agrave; l'exploit pendant 
    51 minutes (21-21). Mais les joueuses de L&eacute;vezou, avec un tr&egrave;s bon money time, sont sorties vainqueurs 26 &agrave; 23 de 
    cette belle revanche.
</p>
<h2>Seuls les Seniors jouaient</h2>
<ul>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Baraqueville, contre L&eacute;vezou
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Castelsarrasin
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Tournefeuille
    </li>
</ul>