<h2>Seniors Filles : 2<sup>&egrave;me</sup> tour de Coupe de France</h2>
<p>
    Samedi soir, 20 heures, l'&eacute;quipe f&eacute;minine Saint-Jeannaise re&ccedil;oit Saint-Girons, pour le 2<sup>&egrave;me</sup> tour de Coupe de France.
    L'occasion de se relancer apr&egrave;s une s&eacute;rie de trois d&eacute;faites cons&eacute;cutives.
</p>
<h2>-15 Filles : Les barrages &agrave; domicile</h2>
<p>
    Le lendemain, le gymnase Ren&eacute; Cassin re&ccedil;oit les barrages du Championnat Régional Honneur Occitanie des -15 Filles.
    Ce tournoi, qui se d&eacute;roulera sur l'ensemble de la journ&eacute; du Dimanche, opposera le HBCSJ, Ouest-Tarn, Rabastens-de-Bigorre 
    et Rignac. Voici le programme complet :
</p>
<ul>
    <li><b>11h00</b> : HBCSJ VS Ouest-Tarn</li>
    <li><b>11h45</b> : Ouest-Tarn VS Rignac</li>
    <li><b>12h30</b> : Rignac VS Rabastens-de-Bigorre</li>
    <li><b>13h30</b> : HBCSJ VS Rabastens-de-Bigorre</li>
    <li><b>14h15</b> : HBCSJ VS Rignac</li>
    <li><b>15h00</b> : Ouest-Tarn VS Rabastens-de-Bigorre</li>
</ul>