<h2>Seniors Filles : exploit en Coupe de France</h2>
<p>
    Un d&eacute;but et une fin de match id&eacute;ales : voici les ingr&eacute;dients de la superbe victoire des f&eacute;minines 
    contre Saint-Girons, &eacute;quipe de Nationale 3. Un succ&egrave;s 31 &agrave; 27, qui cl&ocirc;ture une s&eacute;rie noire de 
    trois d&eacute;faites et qui valide une accession au 3<sup>&egrave;me</sup> tour de Coupe de France !
</p>
<h2>Dimanche : barrages -15 Filles &agrave; Ren&eacute; Cassin</h2>
<p>
    Un des tournois permettant de d&eacute;terminer les compositions des poules pour la seconde phase de championnat s'est d&eacute;roul&eacute; 
    &agrave; Saint-Jean. L'&eacute;quipe de Rabastens-de-Bigorre en est sortie vainqueur, invaincue.<br>
    Voici les r&eacute;sultats de nos -15 Filles :
</p>
<ul>
    <li>D&eacute;faite contre Ouest-Tarn</li>
    <li>D&eacute;faite contre  Rabastens-de-Bigorre</li>
    <li>Victoire contre Rignac</li>
</ul>