<h2>Seniors Filles : reprise du championnat contre Cahors</h2>
<p>
    Fortes de leur beau succ&egrave;s contre Saint-Girons en Coupe de France la semaine derni&egrave;re, l'&eacute;quipe f&eacute;minine 
    voudra confirmer avec la r&eacute;ception de Cahors. Battues &agrave; l'aller dans le Lot, une revanche est attendue.
</p>
<h2>Les gar&ccedil;ons visent deux victoires</h2>
<p>
    Poursuivre l'invincibilit&eacute; pour la 1, renouer avec la victoire pour la 2, voil&agrave; les objectifs du collectif masculin !
</p>
<h2>Presque toutes les &eacute;quipes jeunes jouent</h2>
<p>
    Les vacances de Toussaint termin&eacute;es, presque tout le monde reprend le chemin de la comp&eacute;tition. Seuls les -15 ne jouent pas, leur seconde 
    phase &eacute;tant en pleine organisation, ainsi que les -18 Gar&ccedil;ons 2.
</p>
<h2>Programme complet du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception du CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Pamiers
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception de Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; La Salvetat
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception d'Albi
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Cahors
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; La Salvetat
    </li>
</ul>