<h2>Seniors Gar&ccedil;ons : la 1 efficace, la 2 courageuse</h2>
<p>
    Les 15 tr&egrave;s bonnes premi&egrave;res minutes auront &eacute;t&eacute; suffisantes pour s'offrir une victoire importante 
    dans la course &agrave; la poule haute. Appliqu&eacute;s en d&eacute;fense et efficaces en attaque, les joueurs Saint-Jeannais se sont 
    assur&eacute;s une suite de match relativement sereine. Victoire 41 &agrave; 27 !
</p>
<p>
    Toujours autant diminu&eacute;s, notamment sur la base arri&egrave;re, la 2 a cette fois pu montrer de belles choses. 
    Une nouvelle d&eacute;faite certes, mais des choses int&eacute;ressantes en perspective pour la suite d'un championnat d&eacute;but&eacute; de 
    la plus difficile des mani&egrave;res.
</p>
<h2>Les filles solides face &agrave; Cahors</h2>
<p>
    Elles restaient sur une superbe victoire en Coupe de France, elles ont confirm&eacute; contre un adversaire toujours compliqu&eacute; &agrave; battre, 
    pour la reprise du championnat. Si un bon quart d'heure de rodage a &eacute;t&eacute; n&eacute;cessaire, la suite fut tr&egrave;s appliqu&eacute;e des deux 
    c&ocirc;t&eacute;s du terrain. Un beau succ&egrave;s 31 &agrave; 22, r&eacute;v&eacute;lateur du bel &eacute;tat de forme des f&eacute;minines.
</p>
<h2>De belles victoires chez les jeunes</h2>
<p>
    Globalement, le week-end est positif. A retenir les tr&egrave;s bons r&eacute;sultats des -13 Filles, -13 Gar&ccedil;ons 1, -18 Filles et -18 Gar&ccedil;ons 1.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite contre le CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite contre CIEL
    </li>
    <li>
        <b>-13 Filles : </b>Victoire contre Pamiers
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; La Salvetat
    </li>
    <li>
        <b>-18 Filles : </b>Victoire contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Albi
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Cahors
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Blagnac
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; La Salvetat
    </li>
</ul>