<h2>Seniors Filles : surfer sur la vague du succ&egrave;s</h2>
<p>
    Pour obtenir une troisi&egrave;me victoire cons&eacute;cutive, l'&eacute;quipe f&eacute;minine devra gagner &agrave; Montech. Vainqueurs au 
    match aller face au Tarn-et-Garonnaises, ces derni&egrave;res seront assur&eacute;ment difficiles &agrave; battre.
</p>
<h2>Matchs report&eacute;s pour les Gar&ccedil;ons...</h2>
<p>
    Op&eacute;ration "gilets jaunes" oblige, les deux matchs initialement pr&eacute;vus pour les Seniors Gar&ccedil;ons, &agrave; Ren&eacute; Cassin Samedi soir, 
    sont d&eacute;plac&eacute;s au week-end du 1<sup>er</sup> D&eacute;cembre.
</p>
<h2>Week-end all&eacute;g&eacute;</h2>
<p>
    Pour la m&ecirc;me raison, la grande majorit&eacute; des rencontres du 17 Novembre sont report&eacute;es, dans l'ensemble du d&eacute;partement.<br>
	A noter pour les -11 et les -13, le d&eacute;but de la Coupe de Haute-Garonne !
</p>
<h2>Programme complet du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Brugui&egrave;res
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Ouest-Tarn
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Montech
    </li>
</ul>