<h2>Seniors Filles : d&eacute;placement compliqu&eacute; &agrave; Montech</h2>
<p>
	Quatre cartons jaunes et autant de deux-minutes dans le premier quart d'heure. Le match retour contre les Tarn-et-Garonnaises s'annon&ccedil;ait engag&eacute;, les spectateurs n'ont 
	pas &eacute;t&eacute; d&eacute;&ccedil;us. Mais contrairement &agrave; l'aller, remport&eacute; par les Saint-Jeannaises, cette revanche a &eacute;t&eacute; &agrave; l'avantage des 
	joueuses locales de bout en bout. En &eacute;chec au tir, les f&eacute;minines du HBCSJ sont reparties de Montech, d&eacute;faites de 9 buts.
</p>
<h2>-11 &amp; -13 : D&eacute;but de la Coupe de Haute-Garonne</h2>
<p>
	Initi&eacute;e la saison pass&eacute;e, afin de davantage faire jouer les jeunes collectifs dont l'enchainement des matchs est souvent h&eacute;t&eacute;rog&egrave;ne, 
	la Coupe du 31 a repris ses droits le week-end dernier. Hormis les -11 Gar&ccedil;ons - dont la rencontre a &eacute;t&eacute; report&eacute;e - toutes les autres &eacute;quipes 
	-11 et -13 ont entam&eacute; cette comp&eacute;tition. Et le bilan est plut&ocirc;t positif : victoires des -13 Gar&ccedil;ons 1 et des -11 Filles.
</p>
<h2>2/3 pour les -18</h2>
<p>
	Les trois &eacute;quipes -18 jouaient &eacute;galement en ce week-end all&eacute;g&eacute;. Et si les filles ont perdu d'un petit but, les deux collectifs masculins ont sign&eacute; de belles 
	victoires, &agrave; Balma et contre Ouest-Tarn.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire &agrave; Brugui&egrave;res
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre Tournefeuille
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite contre Castelnaudary
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Balma
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire contre Ouest-Tarn
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Montech
    </li>
</ul>