<h2>
    Des souvenirs, des reliques, et la preuve que certaines personnes avaient des cheveux
</h2>
<p>
    L'ensemble des photos historiques est d&eacute;sormais disponible sur le site.<br>
    Pour y acc&eacute;der, deux moyens :
    <ul>
        <li>Via <a href="../club/equipes" target="_blank">la page d&eacute;di&eacute; &agrave; chaque cat&eacute;gorie</a></li>
        <li>Via <a href="../medias/photos" target="_blank">la nouvelle page, r&eacute;serv&eacute;e aux albums photos du club</a></li>
    </ul>
</p>
<p>
    D&eacute;couvrez certains coachs ou joueurs encore en activit&eacute;, avec quelques ann&eacute;es en moins !
</p>