<h2>Seniors Filles : long d&eacute;placement &agrave; Gramat</h2>
<p>
	Apr&egrave;s une rude d&eacute;faite &agrave; Montech, l'&eacute;quipe f&eacute;minine encha&icirc;ne avec un nouveau d&eacute;placement dans le Lot, &agrave; Gramat.<br>
	Faciles vainqueurs du match aller, les Saint-Jeannaises devront g&eacute;rer une rencontre apr&egrave;s pr&egrave;s de deux heures de route, exercice toujours d&eacute;licat.
</p>
<h2>Montech et Merville au programme des gar&ccedil;ons</h2>
<p>
	Un d&eacute;placement dans le Tarn-et-Garonne pour la 1, la r&eacute;ception de Merville pour la 2, voici ce qui attend le collectif masculin. Si la 1 est toujours invincible (et compte le rester), 
	la 2 cherche &agrave; se faire plaisir et obtenir enfin un r&eacute;sultat positif !
</p>
<h2>11 matchs au programme du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de  Villefranche-de-Lauragais
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Balma
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Pins-Justaret
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Limoux-Couiza
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Limoux-Couiza
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Saint-Sulpice
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lavaur
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Gramat
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception &agrave; Merville
    </li>
</ul>