<h2>Seniors Gar&ccedil;ons : la 1 encha&icirc;ne, la 2 r&eacute;siste mais perd</h2>
<p>
	En d&eacute;placement &agrave; Montech, l'&eacute;quipe 1 Gar&ccedil;ons se devait de poursuivre son d&eacute;but de saison parfait, avec 6 victoires en autant de rencontres. Et m&ecirc;me 
	si cela d&eacute;buta laborieusement, face &agrave; un adversaire facilement battu &agrave; l'aller, la s&eacute;rie d'invincibilit&eacute; est toujours d'actualit&eacute;. Victoire 35-26 !
</p>
<p>
	Avec un d&eacute;but de saison tr&egrave;s compliqu&eacute;, affrontant diminu&eacute;s des adversaires de bon niveau, la 2 avait cette fois-ci l'occasion de rivaliser, avec une base arri&egrave;re 
	compl&egrave;te. Mais contre Merville, &eacute;quipe bien connue, ce n'&eacute;tait pas gagn&eacute; d'avance. Et si les 10 premi&egrave;res minutes, et les 20 derni&egrave;res ont &eacute;t&eacute; bonnes, 
	le trou d'air de milieu de rencontre a &eacute;t&eacute; r&eacute;dhibitoire... Courte d&eacute;faite 28-32, apr&egrave;s avoir compt&eacute; un retard de 9 buts &agrave; la 40<sup>&egrave;me</sup>...
</p>
<h2>Les filles renouent avec la victoire</h2>
<p>
	La victoire 39-23 du match aller allait &ecirc;tre tout sauf facile &agrave; reproduire, surtout apr&egrave;s deux heures de route vers le Lot. L'&eacute;quipe f&eacute;minine en a fait 
	l'exp&eacute;rience. Une victoire de 2 petits buts (23-21), aux forceps, au terme d'une rencontre beaucoup plus ferm&eacute;e, et notamment de dix derni&egrave;res minutes difficiles...
</p>
<h2>Les &eacute;quipes -18 font carton plein</h2>
<p>
	Avec 3 succ&egrave;s en 3 matchs, ceux qui ont donn&eacute; l'exemple ce week-end, ce sont les -18 !! La jeune rel&egrave;ve Saint-Jeannaise est rentr&eacute;e avec 100% de victoires de ses d&eacute;placements 
	dans le Tarn et l'Aude.<br>
	Chez les plus petits, bilan beaucoup plus mitig&eacute; : seuls les -13 Gar&ccedil;ons 1 l'ont emport&eacute;.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite contre  Villefranche-de-Lauragais
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite contre Balma
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Pins-Justaret
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire &agrave; Quint-Fonsegrives
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite contre Limoux-Couiza
    </li>
    <li>
        <b>-18 Filles : </b>Victoire &agrave; Limoux-Couiza
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Saint-Sulpice
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire &agrave; Lavaur
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire &agrave; Gramat
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire &agrave; Montech
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Merville
    </li>
</ul>