<h2>Seniors Filles : 3<sup>&egrave;me</sup> tour de Coupe de France</h2>
<p>
	Les Saint-Jeannaises ont l'occasion, Dimanche contre Albi, de commencer &agrave; r&ecirc;ver de r&eacute;&eacute;diter leur parcours d'il y a deux saisons, en Coupe de France. Mais battre Albi, 
	&eacute;quipe de Nationale 3, ne sera pas une mince affaire.
</p>
<h2>Aucamville et Flourens au programme des Gar&ccedil;ons</h2>
<p>
	L'invincibilit&eacute; est toujours d'actualit&eacute; pour la 1. Face &agrave; eux ce week-end, Aucamville, qui vient de tenir Beauzelle en &eacute;chec.
</p>
<p>
	La 2, toujours &agrave; la recherche de victoire depuis leur premi&egrave;re rencontre de la saison, accueillera Samedi soir Flourens et leur nouvelle &eacute;quipe masculine.<br>
	Mission pour les joueurs du HBCSJ : se faire plaisir et gagner !
</p>
<h2>Chez les jeunes : seuls les -13 Gar&ccedil;ons ne jouent pas</h2>
<p>
	A noter le premier match de la seconde phase pour les -15 Filles.
</p>
<h2>Le programme du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement aux Argoulets, contre le TFH
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Sud-Toulousain
    </li>
    <li>
        <b>-15 Filles : </b>R&eacute;ception d'Auch
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Pechbonnieu
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Castres
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception d'Albi
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception d'Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Flourens
    </li>
</ul>