<h2>Les Seniors Filles acc&egrave;dent au 4<sup>&egrave;me</sup> tour de Coupe de France</h2>
<p>
	R&eacute;&eacute;diteront-elles leur parcours de 2016 / 2017 ? Avec sa victoire contre Albi Dimanche apr&egrave;s-midi, l'&eacute;quipe f&eacute;minine a valid&eacute; son billet 
	pour le 4<sup>&egrave;me</sup> tour de la Coupe de France R&eacute;gionale. Une tr&egrave;s large victoire, valid&eacute; d&egrave;s les premi&egrave;res minutes, contre un collectif venu diminu&eacute;.
</p>
<h2>Belle victoire des Gar&ccedil;ons contre Aucamville</h2>
<p>
	Auparavant, les Seniors Gar&ccedil;ons 1 recevaient une &eacute;quipe dont il fallait se m&eacute;fier, au vu de leurs derniers r&eacute;sultats, et notamment d'un beau match nul 
	contre Beauzelle. Et le d&eacute;but de match d&eacute;licat n'a surpris personne. Plut&ocirc;t en place d&eacute;fensivement, les Saint-Jeannais se heurtaient au gardien adverse. Et le sc&eacute;nario 
	ne s'inversa v&eacute;ritablement qu'en milieu de seconde p&eacute;riode, quand l'attaque et l'efficacit&eacute; d'Aucamville finiss&egrave;rent enfin par s'essouffler.<br>
	Au final, beau succ&egrave;s 36 &agrave; 29 : l'invincibilit&eacute; court toujours !
</p>
<p>
	La 2 elle, recevait la nouvelle &eacute;quipe de Flourens la veille. Et malgr&eacute; une belle r&eacute;sistance en premi&egrave;re p&eacute;riode, un gros trou d'air en d&eacute;but de second 
	acte a &eacute;t&eacute; fatal aux joueurs du HBCSJ. Nouvelle d&eacutefaite, 34 &agrave; 25...
</p>
<h2>Chez les jeunes : week-end &agrave; oublier</h2>
<p>
	2 petites victoires (-13 et -15 Filles) pour 8 matchs... Maigre bilan, pour un Samedi compliqu&eacute;...
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite chez le TFH
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite chez le Fenix
    </li>
    <li>
        <b>-13 Filles : </b>Victoire contre Sud-Toulousain
    </li>
    <li>
        <b>-15 Filles : </b>Victoire contre Auch
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Pechbonnieu
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite contre Quint-Fonsegrives
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Castres
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Albi
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Aucamville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Flourens
    </li>
</ul>