<h2>Deux gros matchs pour les Seniors Gar&ccedil;ons</h2>
<p>
	Beauzelle pour la 1, le Fenix pour la 2, le tout &agrave; l'ext&eacute;rieur, voici le programme des deux collectifs masculins pour ce Samedi soir. Avec deux rencontres face &agrave; des adversaires solides, les gar&ccedil;ons 
	devront avant tout &ecirc;tre solides en d&eacute;fense, et confirmer les progr&egrave;s entrevus dans ce secteur ces derniers temps.
</p>
<h2>Les Filles re&ccedil;oivent le co-leader Montauban</h2>
<p>
	Match compliqu&eacute; &eacute;galement pour les f&eacute;minines. Montauban, co-leader de la poule reste en effet sur 7 victoires cons&eacute;cutives.
</p>
<h2>9 matchs au total</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de CIEL
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception du CRAHB
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Montauban
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
</ul>