<h2>Seniors Gar&ccedil;ons : deux gros d&eacute;placements, deux d&eacute;faites...</h2>
<p>
	Invaincue jusqu'&agrave; pr&eacute;sent, la rencontrait pour la 3<sup>&egrave;me</sup> fois cette saison son principal rival Beauzelle. Et malheureusement, le suspense ne fut que de 
	courte dur&eacute;e, puisque les adversaires du jour s'&eacute;chappaient au tableau de marque d&egrave;s la 10<sup>&egrave;me</sup> minutes de jeu. Une d&eacute;faite n&eacute;anmoins sans 
	lourde cons&eacute;quence sur le plan comptable.
</p>
<p>
	La 2 de son c&ocirc;t&eacute; se d&eacute;pla&ccedil;ait au gymnase Soncourt des Argoulets, contre l'&eacute;quipe 4 du Fenix. Avec un go&ucirc;t encore amer de la d&eacute;faite 
	au match aller, les Saint-Jeannais, toujours en sous-effectif ne se laissaient pas faire. Se permettant de mener au score jusqu'au quart d'heure de jeu, puis de tenir le match nul &agrave; 
	la mi-temps, les visiteurs montraient un visage combatif. Mais un gros trou d'air au retour des vestiaires allait permettre aux Toulousains de prendre jusqu'&agrave; 5 buts d'avance.<br>
	Le retour au score (23-23, 52<sup>&egrave;me</sup>) &eacute;tait quasi-inesp&eacute;r&eacute; mais restait inutile... En effet, 5 derni&egrave;res minutes catastrophiques allaient &ecirc;tre fatales 
	aux joueurs du HBCSJ, qui enregistrent une nouvelle d&eacute;faite, 29-24.
</p>
<h2>Montauban fait valoir son statut face aux filles</h2>
<p>
	D&eacute;faite aussi pour les f&eacute;minines face aux Tarn-et-Garonnaises, co-leader de la poule, malgr&eacute; une belle r&eacute;sistance.<br>
	Avec ce match, leur premi&egrave;re phase est d'ores et d&eacute;j&agrave; boucl&eacute;e.
</p>
<h2>Tous les r&eacute;sultats</h2>
<p>
	Superbe performance des -11 Gar&ccedil;ons, qui, en Coupe de Haute-Garonne, ont surclass&eacute; Blagnac - pourtant une division au dessus - dans leur gymnase.
</p>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire &agrave; Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite contre CIEL
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>Victoire contre le CRAHB
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Roques
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Flourens
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Montauban
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite  aux Argoulets, contre le Fenix
    </li>
</ul>