<h2>Les Seniors Filles sont en vacances !</h2>
<p>
	Leur match de la derni&egrave;re journ&eacute;e de premi&egrave;re phase ayant d&eacute;j&agrave; &eacute;t&eacute; jou&eacute;, les f&eacute;minines sont officiellement en cong&eacute;s 
	de fin d'ann&eacute;e.<br>
	Rendez-vous en Janvier pour le d&eacute;but de la seconde phase, avec des adversaires probablement plus... lointains.
</p>
<h2>Pas les Gar&ccedil;ons...</h2>
<p>
	Les deux &eacute;quipes masculines jouent elles leur derni&egrave;re rencontre de premi&egrave;re phase, la 1 contre Castelsarrasin (&agrave; Belb&egrave;ze) et la 2 &agrave; 
	Tournefeuille. L'occasion de bien finir l'ann&eacute;e 2018, apr&egrave;s un week-end pr&eacute;c&eacute;dent relativement frustrant.
</p>
<h2>7 matchs chez les jeunes</h2>
<p>
	Les -13 Filles, Gar&ccedil;ons 1, et -18 Gar&ccedil;ons 2 sont eux aussi, officiellement en vacances !
</p>
<h2>Programme complet du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Auzeville, contre le CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Escalquens, contre CIEL
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Auzeville, contre le CRAHB
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Castelnaudary
    </li>
    <li>
        <b>-15 Filles : </b>R&eacute;ception de Pays de Nestes (&agrave; Belb&egrave;ze)
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Albi
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Castelsarrasin (&agrave; Belb&egrave;ze)
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
</ul>