<h2>Large victoire pour les Seniors Gar&ccedil;ons 1</h2>
<p>
	D&eacute;faits pour la premi&egrave;re fois en championnat la semaine pr&eacute;c&eacute;dente &agrave; Beauzelle, l'&eacute;quipe 1 masculine voulait termine l'ann&eacute;e de mani&egrave;re 
	positive. D'ores et d&eacute;j&agrave; qualifi&eacute;s pour la poule haute de la seconde phase (et donc en lice pour la mont&eacute;e), les Saint-Jeannais tenaient &agrave; montrer au 
	public de Belb&egrave;ze leur meilleur visage.<br>
	Et l'entame de rencontre fut dans ce sens : 3-0 (4<sup>&egrave;me</sup> minute), 8-2 (10<sup>&egrave;me</sup>), 15-5 (20<sup>&egrave;me</sup>) puis 23-8 &agrave; la pause, les joueurs 
	du HBCSJ capitalisaient leur bonne d&eacute;fense par un jeu rapide efficace.<br>
	Le second acte &eacute;tait plus brouillon (remport&eacute; 20-15), mais les f&ecirc;tes peuvent d&eacute;buter sereinement : les Seniors Gar&ccedil;ons 1 terminent premiers de leur poule de premi&egrave;re phase !
</p>
<p>
	Leurs camarades de la 2 auraient aim&eacute; terminer l'ann&eacute;e de la m&egrave;me mani&egrave;re, mais &agrave; Tournefeuille, face &agrave; un adversaire tr&egrave;s solide, la t&acirc;che restait tr&egrave;s 
	complexe... Une bonne r&eacute;sistance &agrave; certains moments, mais une nouvelle d&eacute;faite &agrave; leur actif...<br>
	Peut-&ecirc;tre de nouvelles ambitions en seconde phase, en poule Honneur, contre des adversaires davantage &agrave; leur niveau ?
</p>
<h2>Chez les jeunes : dernier week-end 2018 mitig&eacute;...</h2>
<p>
	Une majorit&eacute; de d&eacute;faites pour terminer une ann&eacute;e bien riche... Mais pour se consoler, des belles victoires des -13 Gar&ccedil;ons 1 et -18 Gar&ccedil;ons 1.<br>
	Et surtout, <b>la magnifique victoire de l'&eacute;quipe de France f&eacute;minine, dans leur championnat d'Europe !!</b>. On &eacute;tait plusieurs dizaines &agrave; suivre cet 
	exploit dans le hall de Ren&eacute; Cassin !
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Auzeville, contre le CRAHB
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Escalquens, contre CIEL
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire &agrave; Auzeville, contre le CRAHB
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Castelnaudary
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;faite contre Pays de Nestes
    </li>
    <li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre CIEL
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Albi
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Castelsarrasin
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Tournefeuille
    </li>
</ul>
<h2>C'est la tr&ecirc;ve de No&euml;l !</h2>
<p>
	<b>Bonnes f&ecirc;tes &agrave; tous !!!</b>
</p>