<h2>Reprise pour les jeunes</h2>
<p>
	C'est la rentr&eacute;e, apr&egrave;s plusieurs semaines de tr&ecirc;ve consacr&eacute;e aux f&ecirc;tes. Et ce sont les -11, -13 et -15 qui ont le privil&egrave;ge de reprendre le chemin de la comp&eacute;tition, 
	pour ouvrir la voie d'une ann&eacute;e 2019 pleine d'ambitions !
</p>
<h2>Seniors Filles : soir&eacute;e Coupe de France</h2>
<p>
	L'&eacute;quipe f&eacute;minine cl&ocirc;turera la journ&eacute;e du Samedi en recevant en 1/32<sup>&egrave;me</sup> de finale de Coupe de France la N3 de Pays-des-Nestes. Un nouvel exploit en vue pour les joueuses 
	d'Emmanuel Delanoe ?
</p>
<h2>On conna&icirc;t les poules de seconde phase des Seniors</h2>
<p>
	Les trois &eacute;quipes Seniors connaissent leurs adversaires pour la deuxi&egrave;me partie de saison :<br>
	<ul>
		<li><b>Seniors Filles</b> : Pr&eacute;national Occitanie, Play-down, Poule C - Lunel-Marsillargues, Frontignan, Bouillargues, Montpellier</li>
		<li><b>Seniors Gar&ccedil;ons 1</b> : Territorial 31, 1<sup>&egrave;re</sup> division - Tournefeuille, Beauzelle, L'Isle-Jourdain, Merville 1, Auch</li>
		<li><b>Seniors Gar&ccedil;ons 2</b> : Territorial 31, 3<sup>&egrave;me</sup> division - La Salvetat, Muret, Pins-Justaret, Merville 2, Sud-Toulousain</li>
	</ul>
</p>
<h2>Programme complet du week-end</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Bagn&egrave;res-de-Bigorre
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Maz&egrave;res
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Pays-des-Nestes
    </li>
</ul>