<h2>Seniors Filles : fin du parcours en Coupe de France</h2>
<p>
	En 1/32<sup>&egrave;me</sup> de finale, les Saint-Jeannaises recevaient une nouvelle &eacute;quipe de N3, Pays-des-Nestes. Et malgr&eacute; le niveau d'&eacute;cart th&eacute;orique, les d&eacute;bats restaient &eacute;quilibr&eacute;s, 
	pendant la majorit&eacute; de la premi&egrave;re p&eacute;riode. A la 20<sup>&egrave;me</sup> minutes, les locales menaient m&ecirc;me de 3 buts, se permettant de croire &agrave; l'exploit.<br>
	Mais les Hautes-Pyr&eacute;n&eacute;ennes allaient hausser le ton &agrave; partir de ce moment, inversant le cours du match avant la pause (14-17, 30<sup>&egrave;me</sup>) puis en faisant fructifier leur avance jusqu'au coup 
	de sifflet final.<br>
	Une d&eacute;faite 36-28 pour les joueuses du HBCSJ n'ont pas &agrave; rougir, cl&ocirc;turant un beau parcours en Coupe de France, et qui promet peut-&ecirc;tre de belles choses pour la seconde phase de championnat, qui d&eacute;bute Samedi.
</p>
<h2>Reprise compliqu&eacute;e pour les jeunes</h2>
<p>
	Avec seulement 2 victoires en 7 rencontres, les collectifs jeunes ont connu beaucoup de difficult&eacute;s pour la reprise en ce d&eacute;but d'ann&eacute;e 2019.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>D&eacute;faite contre Quint-Fonsegrives
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre le Fenix
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>-15 Filles : </b>Victoire &agrave; Bagn&egrave;res-de-Bigorre
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite contre Maz&egrave;res
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Pays-des-Nestes
    </li>
</ul>