<h2>Victoire &agrave; la derni&egrave;re seconde pour les Seniors Gar&ccedil;ons 1, &agrave; Brugui&egrave;res</h2>
<p>
    Derni&egrave;res secondes du match au sommet de la poule B du championnat Territorial : Brugi&egrave;res &eacute;galise &agrave;
    36-36 (5 minutes apr&egrave;s avoir &eacute;t&eacute; men&eacute; de 4 buts...). Remise en jeu rapide, attaque imm&eacute;diate, faute des locaux, 
    carton rouge, et 7 m&egrave;tres transform&eacute; par Jam sur le buzzer.<br>
    Belle victoire, &agrave; l'arrach&eacute;e, mais n&eacute;anmoins logique, les Saint-Jeannais ayant globalement domin&eacute; la rencontre.
    Les deux &eacute;quipes auront rendez-vous en Poule Haute (pr&eacute;-r&eacute;gion), lors de la seconde phase, pour une nouvelle 
    double confrontation !
</p>
<p>
    Les Seniors Gar&ccedil;ons 2 &eacute;voluaient eux face &agrave; Ouest-Tarn une autre &eacute;quipe, qui devrait int&eacute;grer la Poule Haute.
    Et les co&eacute;quipiers de Fredo peuvent avoir des regrets : leur mauvaise entame de match et leur manque de lucidit&eacute; dans 
    les derni&egrave;res minutes les ont emp&ecirc;ch&eacute;s de r&eacute;aliser un beau hold-up &grave; Rabastens.<br>
    D&eacute;faite frustrante 25 &agrave; 28 au final...
</p>
<p>
    De leur c&ocirc;t&eacute;, les Seniors Filles n'ont pas r&eacute;ussi &agrave; se relancer &agrave; Lourdes... Les joueuses du 
    HBCSJ ont ramen&eacute; une lourde d&eacute;faite des Hautes-Pyr&eacute;n&eacute;s, et misent d&eacute;sormais tout sur la seconde phase.
</p>
<h2>Festival offensif pour les -13 Filles et des -15 Gar&ccedil;ons</h2>
<p>
    Contre Castanet / Ramonville, l'effectif d'Adrien et Yannou a encore une fois employ&eacute; son style offensif. Avec une belle 
    victoire 34 &agrave; 19 et un beau kung-fu en prime, elles poursuivent leur saison quasi-parfaite.
</p>
<p>
    Score encore plus impressionnant pour les -15 Gar&ccedil;ons 1, face &agrave; Saint-Jory. Avec 51 buts inscrits, les jeunes 
    Saint-Jeannais ont fait le spectacle &agrave; Ren&eacute; Cassin, et continuent eux-aussi leur tr&egrave;s beau parcours 
    en seconde phase. 
</p>
<h2>Mais globalement, week-end mitig&eacute;...</h2>
<ul>
    <li>
        <b>-11 Filles</b> : D&eacute;faite de 1 but &agrave; Bessieres (malgr&eacute; un bon 3<sup>&egrave;me</sup> tiers-temps, remport&eacute;).
    </li>
    <li>
        <b>-11 Gar&ccedil;ons</b> : Match nul &agrave; Fontenilles (et deux tiers-temps remport&eacute;s).
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1</b> : Victoire de 1 but &agrave; La Salvetat.
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2</b> : D&eacute;faite contre Roques.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;faite contre le Fenix.
    </li>
    <li>
        <b>-18 Filles</b> : D&eacute;faite &agrave; Lisle-sur-Tarn chez Ouest-Tarn.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : D&eacute;faite contre Roques.
    </li>
</ul>