<h2>Seniors Gar&ccedil;ons : d&eacute;but de la seconde phase</h2>
<p>
	Cette deuxi&egrave;me partie, o&ugrave; les &eacute;quipes sont regroup&eacute;es selon les niveaux &eacute;tablis en fin de premi&egrave;re phase, sera d&eacute;cisive pour la 
	course &agrave; la mont&eacute;e de la 1. Chaque rencontre est une "finale" : le droit &agrave; l'erreur est (quasi ?) inexistant.<br>
	Premier round contre Tournefeuille, d&eacute;j&agrave; rencontr&eacute;s via la 2.
</p>
<p>
	L'&eacute;quipe 2 justement, d&eacute;butera elle sa seconde phase (poule basse) contre Muret. Avec cette fois-ci un collectif relativement complet, l'ambition est &eacute;videmment de 
	retrouver le chemin de la victoire, perdu depuis ... la premi&egrave;re journ&eacute;e.
</p>
<h2>Les filles gagnent par forfait</h2>
<p>
	Dans leur poule du championnat Pr&eacute;national Occitanie, o&ugrave; chaque match se soldera par un long d&eacute;placement de l'&eacute;quipe visiteuse, Bouillargues - adversaire 
	des Saint-Jeannaises - a d&eacute;clar&eacute; forfait pour la premi&egrave;re journ&eacute;e de cette seconde phase.
</p>
<h2>Presque toutes les &eacute;quipes jeunes jouent</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Roques
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception du TFH
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Rieux-Volvestre
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de Pamiers
    </li>
    <li>
        <b>-15 Filles : </b>R&eacute;ception de Pins-Justaret
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Villefranche-de-Lauragais
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Muret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Limoux
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Muret
    </li>
</ul>