<h2>Seniors Gar&ccedil;ons : la 1 victorieuse, la 2 frustr&eacute;e</h2>
<p>
	La seconde phase est enfin lanc&eacute;e, et comme chaque saison, la poule haute du Championnat Territorial s'annonce extr&ecirc;mement serr&eacute;e. Compos&eacute;e de 6 &eacute;quipes 
	ayant l'unique ambition de remporter la comp&eacute;tition et par cons&eacute;quent de monter en R&eacute;gion, chaque match peut &ecirc;tre consid&eacute;r&eacute; comme d&eacute;cisif. C'est 
	dans cette optique que les Saint-Jeannais recevaient Tournefeuille, d&eacute;j&agrave; bien connus puisque rencontr&eacute;s par la 2 en premi&egrave;re phase.<br>
	Un sc&eacute;nario de rencontre attendu : score serr&eacute;, rarement plus de 2 buts d'&eacute;cart (souvent &agrave; l'avantage du HBCSJ), et donc un money-time fatal &agrave; celui qui l&acirc;cherait 
	en premier. Et en ce Samedi soir, les locaux se montr&egrave;rent efficaces malg&eacute; une petite frayeur dans la derni&egrave;re minute. Une victoire 33-32 qui permet de d&eacute;marrer cette 
	nouvelle comp&eacute;tition avec un peu plus de s&eacute;r&eacute;nit&eacute;.
</p>
<p>
	Un peu plus t&ocirc;t, leurs camarades de la 2 recevaient Muret, avec la ferme intention de signer leur seconde victoire de la saison (apr&egrave;s le ... premier match de la premi&egrave;re 
	phase). Comme la rencontre suivante, le score restera serr&eacute; la quasi-int&eacute;gralit&eacute; des 60 minutes. Les Saint-Jeannais ont pourtant cru avoir fait le plus difficile quand &agrave; 
	la 45<sup>&egrave;me</sup> minutes, ils menaient 22-18, et assist&egrave;rent quelques secondes plus tard &agrave; l'expulsion d&eacute;finitive du meilleur buteur Muretain.<br>
	Et pourtant, apr&egrave;s un dernier quart d'heure tr&egrave;s mal g&eacute;r&eacute;, les joueurs du HBCSJ ont vu leur avance progressivement grignot&eacute;e par des visiteurs qui n'ont rien l&acirc;ch&eacute;.
	5 derni&egrave;res minutes fatales, beaucoup de maladresses et une nouvelle d&eacute;faite pour la 2, qui sait malgr&eacute; tout que les victoires sont &agrave; port&eacute;e de main dans cette seconde phase.
</p>
<h2>Bon week-end des jeunes</h2>
<p>
	5 victoires en 9 rencontres, c'est le bilan positif des &eacute;quipes jeunes du HBCSJ.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Filles : </b>Victoire contre Roques
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre Saint-Jory
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite contre le TFH
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire &agrave; Rieux-Volvestre
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Pamiers
    </li>
    <li>
        <b>-15 Filles : </b>Victoire contre Pins-Justaret
    </li>
    <li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite contre Villefranche-de-Lauragais
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Muret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Limoux
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Muret
    </li>
</ul>