<h2>Seniors Gar&ccedil;ons : retrouvailles avec Beauzelle</h2>
<p>
	Pour la 4<sup>&egrave;me</sup> fois cette saison, l'&eacute;quipe 1 masculine affronte Beauzelle, Samedi soir, &agrave; Ren&eacute; Cassin.<br>
	Triple enjeu sur cette rencontre : confirmer apr&egrave;s la courte victoire contre Tournefeuille, prendre la revanche du dernier match de D&eacute;cembre, et surtout poursuivre leur chemin 
	vers l'objectif de la saison : la mont&eacute;e.
<p>
<p>
	La 2 re&ccedil;oit elle Pins-Justaret, et esp&egrave;re remporter une victoire qui leur &eacute;chappe depuis Septembre.
</p>
<h2>Week-end de coupe pour les -11 et -13</h2>
<p>
	Les plus jeunes handballeurs Saint-Jeannais jouent ce week-end la comp&eacute;tition mise en place la saison derni&egrave;re : la Coupe de Haute-Garonne. L'occasion d'affronter des 
	&eacute;quipes parfois un niveau ou deux au dessus d'eux, et pourquoi pas cr&eacute;er de belles surprises ?
<p>
<h2>10 matchs au programme</h2>
<ul>
    <li>
        <b>-11 Filles : </b>R&eacute;ception de Tournefeuille
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Roques
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Roques
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception du Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de Quint-Fonsegrives
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Brugui&egrave;res
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Lavelanet-Maz&egrave;res-Arize
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Pins-Justaret
    </li>
</ul>