<h2>Les Seniors Gar&ccedil;ons 1 encha&icirc;nent dans la douleur</h2>
<p>
	Les retrouvailles avec Beauzelle annon&ccedil;aient un match serr&eacute;... Et pourtant, les 13 premi&egrave;res minutes furent &eacute;tonnamment &agrave; 100% Saint-Jeannaises. Des visiteurs 
	en panne d'efficacit&eacute; et des locaux qui r&eacute;ussissent tout ce qu'ils entreprennent. 11-2 !!<br>
	Evidemment, un tel &eacute;tat de gr&agrave;ce ne dure jamais 60 minutes, et les verts et blancs comptaient bien montrer qu'ils sont eux aussi dans la bataille pour la premi&egrave;re place de 
	ce championnat Territorial. Les d&eacute;bats s'&eacute;quilibrent : 16-13 &agrave; la pause.<br>
	Les joueurs du HBCSJ reviennent du vestiaire avec s&eacute;rieux, et les premi&egrave;res minutes leur permettent de reprendre 7 buts d'avance... Un avantage de courte dur&eacute;...<br>
	En effet, une nouvelle fois, Beauzelle ne l&acirc;che rien et inverse m&ecirc;me totalement la tendance, jusqu'&agrave; passer devant : 25-26 puis 26-27 &agrave; la 51<sup>&egrave;me</sup>.<br>
	Le money-time est irrespirable, les Saint-Jeannais repassent devant d'une courte t&ecirc;te mais ne se mettent jamais &agrave; l'abri de leurs adversaires, accrocheurs jusque dans les derniers 
	instants. Mais une ultime perte de balle valide un nouveau court succ&egrave;s, mais &ocirc; combien important du HBCSJ dans la course &agrave; la mont&eacute;e. Apr&egrave;s deux journ&eacute;es, 
	les Seniors Gar&ccedil;ons sont seuls en t&ecirc;te de leur poule !
</p>
<p>
	De son c&ocirc;t&eacute;, la 2 recevait Pins-Justaret avec l'ambition de confirmer les belles choses entrevues la semaine pass&eacute;e contre Muret.. Mais les approximations et les maladresses 
	ont rapidement eu raison de la volont&eacute; Saint-Jeannaise... Match &agrave; oublier tr&egrave;s vite...
</p>
<h2>Coupe du 31 -11 / -13 : fin de l'aventure</h2>
<p>
	Si aucune des 4 rencontres de Coupe / Challenge du 31 (-11 et -13) n'ont abouti &agrave; des victoires, il est &agrave; noter que l'ensemble des collectifs du HBCSJ engag&eacute;s &eacute;taient 
	confront&eacute;s &agrave; des &eacute;quipes de niveau sup&eacute;rieur. Nos petits handballeurs n'ont pas d&eacute;m&eacute;rit&eacute; !
</p>
<h2>Week-end tr&egrave;s difficile...</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite contre Tournefeuille
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Roques
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Roques
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Match nul contre Brugui&egrave;res
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Lavelanet-Maz&egrave;res-Arize
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Pins-Justaret
    </li>
</ul>