<h2>Seniors Gar&ccedil;ons 1 : la passe de trois ?</h2>
<p>
	L'Isle-Jourdain, deux mauvais souvenirs - particuli&egrave;rement le match de Belb&egrave;ze - de la saison pass&eacute;e, &eacute;galement en seconde phase. Les gommer, et valider 
	un bon d&eacute;but de deuxi&egrave;me partie de saison, telle est la mission de l'&eacute;quipe 1, Samedi soir &agrave; Ren&eacute; Cassin !
</p>
<p>
	La 2, apr&egrave;s son non-match de la semaine pass&eacute;e, ira &agrave; Auterive avec - au del&agrave; d'un souhait &eacute;vident de victoire - une volont&eacute; de rachat.
</p>
<h2>Long d&eacute;placement pour les Filles</h2>
<p>
	Avec le forfait de Bouillargues il y a deux semaines, les f&eacute;minines vont jouer leur premier match de la seconde phase pr&egrave;s de Montpellier, &agrave; Frontignan. Avec le 
	regroupement des deux anciennes r&eacute;gions Midi-Pyr&eacute;n&eacute;es et Languedoc-Roussillon, le HBCSJ se trouve dans une poule avec de nombreux clubs H&eacute;raultais et 
	Gardois... Les d&eacute;placements seront nombreux et longs.
</p>
<h2>Presque tout le monde joue</h2>
<p>
	Seuls les -11 Filles et les -15 Gar&ccedil;ons sont exempts de rencontres ce week-end.
</p>
<h2>Le programme complet</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons : </b>R&eacute;ception de Merville
    </li>
    <li>
        <b>-13 Filles : </b>R&eacute;ception de Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception d'Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Escalquens, contre Ciel
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
	<li>
        <b>-18 Filles : </b>R&eacute;ception de Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Balma
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Frontignan
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception de l'Isle-Jourdain
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Auterive, contre Sud-Toulousain
    </li>
</ul>