<h2>Seniors Gar&ccedil;ons : petit coup d'arr&ecirc;t pour la 1</h2>
<p>
	Apr&egrave;s deux victoires en autant de rencontres en seconde phase de poule haute, l'&eacute;quipe 1 comptait bien poursuivre son sans-faute dans cette phase d&eacute;cisive et complexe.<br>
	Contre l'Isle-Jourdain - dont les deux derniers matchs de la saison pass&eacute;e ne restent pas un bon souvenir - le combat s'annon&ccedil;ait rude. Et les spectateurs de Ren&eacute; Cassin n'ont pas &eacute;t&eacute; 
	d&eacute;&ccedil;us, ils ont assist&eacute; &agrave; un beau chass&eacute;-crois&eacute;. Des d&eacute;bats pour lesquels aucun des deux adversaires n'a pu se d&eacute;tacher au coup de sifflet 
	final puisque les locaux et les Gersois se s&eacute;par&egrave;rent sur 23-23 tr&egrave;s repr&eacute;sentatif du match.
</p>
<p>
	L'&eacute;quipe 2, en panne de victoires depuis plusieurs mois, a propos&eacute; une belle premi&egrave;re mi-temps &agrave; Auterive. D&eacute;fense, jeu rapide, agressivit&eacute;, tous les 
	ingr&eacute;dients &eacute;taient pr&eacute;sents... auxquels il manquait la constance... pendant un triste second acte. D&eacute;faite s&eacute;v&egrave;re 32-22, mais de bonnes choses 
	&agrave; retenir.
</p>
<h2>D&eacute;faite pour les filles</h2>
<p>
	Premier long d&eacute;placement dans le Languedoc, &agrave; Frontignan, et malheureusement, premier r&eacute;sultat n&eacute;gatif de cette seconde phase. Un match ma&icirc;tris&eacute; de bout en bout 
	par les joueuses de Frontignan : d&eacute;faite 31-24... 
</p>
<h2>Bon week-end des jeunes</h2>
<p>
	6 victoires en 8 rencontres, voil&agrave; le tr&egrave;s bon bilan des jeunes &eacute;quipes Saint-Jeannaises !
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire contre Merville
    </li>
    <li>
        <b>-13 Filles : </b>D&eacute;faite contre Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Escalquens, contre Ciel
    </li>
	<li>
        <b>-15 Filles : </b>Victoire &agrave; Tournefeuille
    </li>
	<li>
        <b>-18 Filles : </b>Victoire contre Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Lab&egrave;ge, contre Flourens
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire contre Balma
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Frontignan
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Match nul contre l'Isle-Jourdain
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Auterive, contre Sud-Toulousain
    </li>
</ul>