<h2>Les Seniors et quelques jeunes au repos</h2>
<p>
	Les trois &eacute;quipes Seniors n'ont pas de match ce week-end, ainsi que les -11, -13 Filles &amp; Gar&ccedil;ons 1.
</p>
<h2>6 matchs au programme</h2>
<ul>

    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>R&eacute;ception de Balma
    </li>
	<li>
        <b>-15 Filles : </b>R&eacute;ception de Blagnac
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Limoux
    </li>
	<li>
        <b>-18 Filles : </b>R&eacute;ception d'Aucamville
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Revel
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Carcassonne
    </li>
</ul>