<h2>Seuls quelques &eacute;quipes jeunes jouaient</h2>
<p>
	Les Seniors notamment &eacute;tant au repos, seuls six collectifs &eacute;taient engag&eacute;s en comp&eacute;tition.
</p>
<h2>Bilan mitig&eacute;</h2>
<ul>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Balma
    </li>
	<li>
        <b>-15 Filles : </b>Victoire contre Blagnac
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Limoux
    </li>
	<li>
        <b>-18 Filles : </b>Victoire contre Aucamville
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite contre Revel
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Carcassonne
    </li>
</ul>