<h2>Les Seniors &agrave; domicile</h2>
<p>
	Les f&eacute;minines re&ccedil;oivent Montpellier, &eacute;quipe relativement mal en point depuis le d&eacute;but de saison, mais qui reste sur une victoire contre Cahors.
</p>
<p>
	De leur c&ocirc;t&eacute;, leurs camarades gar&ccedil;ons jouent contre Auch (&eacute;quipe 1) et La Salvetat, toujours &agrave; Ren&eacute; Cassin.<br>
	Les deux collectifs visent la victoire : la 1 tient &agrave; poursuivre son d&eacute;but de seconde phase positif, tandis que la 2 est toujours &agrave; la recherche d'un succ&egrave;s 
	apr&egrave;s plusieurs mois de disette.
</p>
<h2>Tournoi -9 &agrave; Saint-Jean</h2>
<p>
	Le gymnase Saint-Jeannais re&ccedil;oit Samedi matin plusieurs &eacute;quipes des tous jeunes handballeurs de la r&eacute;gion !
</p>
<h2>Week-end complet</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Montr&eacute;jeau, contre Comminges-Handball
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>R&eacute;ception de Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Revel
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Pechbonnieu
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Juillan, contre Soues-LJB-Tarbes
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Pechbonnieu-Aucamville
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>R&eacute;ception d'Auch
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de La Salvetat
    </li>
</ul>