<h2>Les deux &eacute;quipes Gar&ccedil;ons victorieuses</h2>
<p>
	Apr&egrave;s trois rencontre extr&ecirc;mement serr&eacute;es (2 victoires d'un but, et 1 nul) pour le d&eacute;but de la seconde phase de Poule Haute Territoriale, l'&eacute;quipe 1 masculine 
	du HBCSJ recevait Auch. Et cette fois-ci, le suspense &eacute;tait mis de c&ocirc;t&eacute; relativement rapidement, puisqu'apr&egrave;s quelques minutes de rodage, les locaux prenaient une avance 
	assez confortable au moment de retourner au vestiaire (16-12). Le second acte &eacute;tait sur cette lanc&eacute;e puisque, m&ecirc;me si tout n'&eacute;tait pas parfait, les Gersois &eacute;taient 
	d&eacute;finitivement l&acirc;ch&eacute;s au score : victoire finale de Saint-Jean, 37 &agrave; 26, et une premi&egrave;re place confirm&eacute;e.
</p>
<p>
	La sant&eacute; cardiaque de la coach et du public du HBCSJ, ce sont les gar&ccedil;ons de la 2 qui l'ont mise &agrave; mal... Affam&eacute;s de victoire depuis Septembre, les locaux prenaient 
	pourtant rapidement le meilleur sur La Salvetat. La premi&egrave;re mi-temps d&eacute;marrait en effet tambour battant : r&eacute;ussite au tir, d&eacute;fense, les ingr&eacute;dient &eacute;taient 
	pr&eacute;sents, le score aussi (10-3 &agrave; la 15<sup>&egrave;me</sup>, 17-9 &agrave; la pause).<br>
	Peut-&ecirc;tre faussement convaincus d'avoir gagn&eacute;, les 30 minutes suivantes &eacute;taient un calvaire. La Salvetat n'avait rien abandonn&eacute;, tandis que les Saint-Jeannais avaient tout simplement 
	arr&ecirc;t&eacute; de jouer... R&eacute;sultat, 21-21 &agrave; un quart d'heure de la fin, et 15 derni&egrave;res minutes irrespirables.<br>
	Mais, une fois n'est pas coutume, la r&eacute;ussite &eacute;tait finalement pour le HBCSJ, qui se sortaient de ce mauvais sc&eacute;nario : victoire finale 27-26... On ne retiendra que le r&eacute;sultat.
</p>
<h2>Les Filles butent sur Montpellier</h2>
<p>
	Samedi en d&eacute;but de soir&eacute;e, le collectif f&eacute;minine recevait Montpellier, qui alignaient une &eacute;quipe en effectif r&eacute;duit, mais avec des joueuses puissantes 
	et vives. Et malheureusement, les &eacute;checs au tir de Saint-Jean, et la vitesse des bras H&eacute;raultais ont accouch&eacute; d'une nouvelle d&eacute;faite pour le HBCSJ. Cette seconde phase, sur le 
	th&egrave;me "d&eacute;couverte des &eacute;quipes du Languedoc" reste pour l'heure compliqu&eacute;e...
</p>
<h2>Tournoi -9 &agrave; Cassin</h2>
<p>
	Samedi, le gymnase Saint-Jeannais recevait un plateau -9 ans. Ces &eacute;v&eacute;nements, qui ont toujours leur petit succ&egrave;s, sont l'occasion pour les plus jeunes de s'impr&eacute;gner 
	d'une premi&egrave;re odeur de comp&eacute;tition.
</p>
<p>
	C'&eacute;tait aussi l'occasion de former de nombreux nouveaux jeunes arbitres : El&eacute;a, Yohan, Quentin, Lucas, Mikas, Nathan et Antoine, qui ont siffl&eacute; 
	les rencontres du tournoi, avec l'aide de Simon et Nicolas.<br>
	L'arbitrage est une part indispensable du d&eacute;veloppement des clubs de Handball : merci &agrave; eux et &agrave; leurs formateurs Lucile et Kylian !
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Montr&eacute;jeau, contre Comminges-Handball
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;faite contre Blagnac
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>Victoire &agrave; Revel
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite contre Pechbonnieu
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;faite &agrave; Juillan, contre Soues-LJB-Tarbes
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;faite aux Argoulets, contre le Fenix
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>Victoire Pechbonnieu-Aucamville
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite contre Montpellier
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>Victoire contre Auch
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>Victoire contre La Salvetat
    </li>
</ul>