<h2>Fin de la 1<sup>&egrave;re</sup> phase pour les Seniors Gar&ccedil;ons</h2>
<p>
    C'est le dernier week-end de matchs pour les deux collectifs masculins. A 18h, l'&eacute;quipe 2 recevra &agrave; Ren&eacute;-Cassin l'Isle-Jourdain, 
    suivie &agrave; 20h de la r&eacute;ception des Coteaux par l'&eacute;quipe 1.<br>
    Toutes deux &eacute;tant respectivement assur&eacute;es de figurer en poules Excellence et Pr&eacute;-R&eacute;gion, ces rencontres 
    seront l'occasion de travailler, en vue de la seconde phase.
</p>
<h2>D&eacute;but des matchs retours pour les Seniors Filles</h2>
<p>
    Apr&egrave;s des matchs allers tr&egrave;s compliqu&eacute;e, l'&eacute;quipe f&eacute;minine mise d&eacute;sormais tout sur les 
    rencontres retours. La saison est loin d'&ecirc;tre termin&eacute;. Et tout peut (re)d&eacute;marrer Samedi, &agrave; Montauban !
</p>
<h2>Chez les jeunes : matchs pour les -11G, -13F, -15 et -18G</h2>
<p>
    <li>
        <b>-11 Gar&ccedil;ons</b> : D&eacute;placement &agrave; Pechbonnieu.
    </li>
    <li>
        <b>-13 Filles</b> : D&eacute;placement &agrave; Colomiers.
    </li>
    <li>
        <b>-15 Filles</b> : D&eacute;placement &agrave; Aucamville.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 1</b> : D&eacute;placement &agrave; Montech.
    </li>
    <li>
        <b>-15 Gar&ccedil;ons 2</b> : D&eacute;placement &agrave; Saint-Sulpice.
    </li>
    <li>
        <b>-18 Gar&ccedil;ons</b> : R&eacute;ception de Merville.
    </li>
</p>