<h2>Un seul match : Auch VS -15 Filles</h2>
<p>
	Secondes de leur poule de 2<sup>&egrave;me</sup> division de championnat R&eacute;gonal, les Saint-Jeannaises se d&eacute;placent dans le Gers, &agrave; Auch, troisi&egrave;mes 
	au classement.<br>
	Les jeunes joueuses du HBCSJ veulent poursuivre leur parcours presque sans fautes : 5 victoires pour 1 seule d&eacute;faite, et surtout 4 succ&egrave;s de rang.
</p>
<h2>Pour les autres, c'est les vacances !!</h2>