<h2>Belle victoire des -15 Filles &agrave; Auch</h2>
<p>
	Samedi dans le Gers, les jeunes joueuses du HBCSJ avaient l'occasion de confirmer leur belle s&eacute;rie de 4 victoires cons&eacute;cutives. Et, m&ecirc;me en effectif plus r&eacute;duit 
	qu'&agrave; l'accoutum&eacute;e, elles ont men&eacute; le match de bout en bout, s'imposant facilement 37 &agrave; 16.
</p>
<h2>Trois semaines de vacances pour tout le monde</h2>
<p>
	La tr&ecirc;ve concerne maintenant tous les collectifs Saint-Jeannais : prochaines rencontres le 16 Mars !
</p>