<h2>Reprise, apr&egrave;s plusieurs semaines de tr&ecirc;ve</h2>
<p>
	La plupart des &eacute;quipes Saint-Jeannaises n'ont pas jou&eacute; pendant un mois. L'occasion pour les joueur(se)s de se reposer et / ou de travailler !<br>
	D'ici les prochaines vacances de P&acirc;ques, certains collectifs joueront 4 ou 5 week-ends cons&eacute;cutifs, il faudra savoir tenir la longueur. Et cette belle s&eacute;rie de 
	matchs commence d&egrave;s demain !
</p>
<h2>11 matchs au programme</h2>
<ul>
	<li>
        <b>-11 Filles : </b>R&eacute;ception de Muret
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Saint-Jory
    </li>
	<li>
        <b>-13 Filles : </b>R&eacute;ception du TFH
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>R&eacute;ception de Rieux-Volvestre
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;placement &agrave; Lannemezan, contre Pays-des-Nestes
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Castanet
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Muret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Limoux
    </li>
    <li>
        <b>Seniors Filles : </b>R&eacute;ception de Lunel-Marsillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Merville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Merville
    </li>
</ul>