<h2>Superbe performance des Seniors Filles</h2>
<p>
	Avec des absentes, et recevant les leaders Lunel-Marsillargues, les Saint-Jeannaises - qui restaient sur une s&eacute;rie de 4 d&eacute;faites cons&eacute;cutives - 
	n'&eacute;taient pas dans les meilleures dispositions pour se relancer... Mais, malgr&eacute; un d&eacute;but de match compliqu&eacute;, elles ne l&acirc;chaient jamais 
	et propos&egrave;rent un money-time fantastique, pour signer une belle victoire de prestige !
</p>
<h2>D&eacute;ceptions &agrave; Merville pour les Gar&ccedil;ons</h2>
<p>
	Leurs camarades masculins n'ont eux pas eu la m&ecirc;me r&eacute;ssite. Les deux &eacute;quipes se d&eacute;pla&ccedil;aient &agrave; Merville, et en sont reparties victimes de la pugnacit&eacute; 
	des locaux...<br>
	La 1 n'a jamais pu rattraper sa premi&egrave;re mi-temps compl&egrave;tement rat&eacute;e, la 2 a connu deux trous d'airs fatals. Week-end &agrave; oublier, joker grill&eacute; pour la poule Haute...
</p>
<h2>Bilan quasi-&eacute;quilibr&eacute; pour cette rentr&eacute;e</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite contre Muret
    </li>
    <li>
        <b>-11 Gar&ccedil;ons : </b>Victoire &agrave; Saint-Jory
    </li>
	<li>
        <b>-13 Filles : </b>Victoire contre le TFH
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>Victoire contre Rieux-Volvestre
    </li>
	<li>
        <b>-15 Filles : </b>D&eacute;faite &agrave; Lannemezan, contre Pays-des-Nestes
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Castanet
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Muret
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Limoux
    </li>
    <li>
        <b>Seniors Filles : </b>Victoire contre Lunel-Marsillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Merville
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Merville
    </li>
</ul>