<h2>Les Seniors Gar&ccedil;ons doivent se rattraper</h2>
<p>
	Apr&egrave;s des matchs tr&egrave;s d&eacute;cevants le week-end dernier &agrave; Merville, les deux &eacute;quipes masculines chercheront &agrave; se rassurer, dans leurs 
	rencontres une nouvelle fois &agrave; l'ext&eacute;rieur. La 1 contre aura notamment fort &agrave; faire &agrave; Tournefeuille, pour une revanche de la victoire 33-32 &agrave; 
	Cassin.
</p>
<h2>8 matchs au programme</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Quint-Fonsegrives.
    </li>
	<li>
        <b>-15 Filles : </b>R&eacute;ception de Bagn&egrave;res-de-Bigorre
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>R&eacute;ception de Castelnaudary
    </li>
    <li>
        <b>-18 Filles : </b>R&eacute;ception de  Luchon
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Brugui&egrave;res
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lavelanet
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Muret
    </li>
</ul>