<h2>Nouveau week-end noir pour les Gar&ccedil;ons...</h2>
<p>
	Apr&egrave;s deux d&eacute;placement compliqu&eacute;s &agrave; Merville, les &eacute;quipes masculines avaient une nouvelle fois un Samedi de d&eacute;placements.<br>
	La 1 se rendait &agrave; Tournefeuille, chez un adversaire revanchard, apr&egrave;s leur d&eacute;faite d'un but au match aller. Et cette fois-ci, les locaux ont mis le ton d'entr&eacute;e 
	de jeu, ass&eacute;nant un sec 10-2 dans le premier quart d'heure, &agrave; des Saint-Jeannais inefficaces en attaque et en d&eacute;fense.<br>
	Et m&ecirc;me si les 45 minutes suivantes devenaient &eacute;quilibr&eacute;es - voire &agrave; l'avantage du HBCSJ - ce d&eacute;marrage rat&eacute;, ainsi qu'un manque de r&eacute;ussite 
	aux tirs alors que l'&eacute;galit&eacute; &eacute;tait proche, allait &ecirc;tre fatale aux visiteurs.<br>
	Deux d&eacute;faites cons&eacute;cutives... La course &agrave; la mont&eacute; n'est pas finie, mais bel et bien compromise...
</p>
<p>
	De leur c&ocirc;t&eacute;, &agrave; Muret, l'&eacute;quipe 2 n'a tenu que 20 minutes, mais a du conc&eacute;der une nouvelle d&eacute;faite, encore tr&egrave;s diminu&eacute;e en effectif...
</p>
<h2>Bilan &eacute;quilibr&eacute; chez les jeunes</h2>
<p>
	6 matchs, 3 victoires. Beaux succ&egrave;s des -15 &amp; -18 Filles, ainsi que des -18 Gar&ccedil;ons 1.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Quint-Fonsegrives.
    </li>
	<li>
        <b>-15 Filles : </b>Victoire contre Bagn&egrave;res-de-Bigorre
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite contre Castelnaudary
    </li>
    <li>
        <b>-18 Filles : </b>Victoire contre Luchon
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire &agrave; Brugui&egrave;res
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Lavelanet
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Tournefeuille
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Muret
    </li>
</ul>