<h2>Les Seniors Filles voyagent dans le Gard</h2>
<p>
	A pratiquement trois heures de route de Saint-Jean, Bouillargues constitue le plus long d&eacute;placement des joueuses du HBCSJ cette saison. Juste derri&egrave;re elles au classement, 
	les Gardoises seront forc&eacute;ment compliqu&eacute;es &agrave; battre chez elles. Un tr&egrave;s bon test pour les Saint-Jeannaises !
</p>
<h2>Les Gar&ccedil;ons veulent rego&ucirc;ter &agrave; la victoire</h2>
<p>
	Apr&egrave;s deux d&eacute;faites cons&eacute;cutives, l'&eacute;quipe 1 des Seniors Gar&ccedil;ons n'a vraiment plus le droit &agrave; l'erreur, ce Samedi soir, &agrave; Beauzelle. 
	Face &agrave; un collectif jeune et rapide maintes fois rencontr&eacute;s cette saison, le jeu propos&eacute; par le HBCSJ devra &ecirc;tre parfait...
</p>
<p>
	Enfin, la 2 est elle aussi &agrave; la recherche d'un succ&egrave;s. Toujours diminu&eacute;e, une belle performance serait b&eacute;n&eacute;fique pour le moral d'une &eacute;quipe 
	abonn&eacute;e aux matchs difficiles cette saison...
</p>
<h2>Aucun match &agrave; domicile</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;placement &agrave; Roques
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Merville
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;placement &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Lavelanet
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;placement &agrave; Bouillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;placement &agrave; Pins-Justaret
    </li>
</ul>