<h2>Seniors Gar&ccedil;ons : la mauvaise passe continue</h2>
<p>
	A Beauzelle, l'&eacute;quipe 1 masculine voulait se rassurer apr&egrave;s deux d&eacute;faites de rang. Et, si le d&eacute;but de match fut prometteur, la suite du premier acte a 
	int&eacute;gralement &eacute;t&eacute; &agrave; l'avantage des locaux.<br>
	Les Saint-Jeannais revenaient alors des vestiaires avec la ferme intention de revenir au score, chose faite en milieu de seconde p&eacute;riode. Mais une nouvelle fois, le money-time 
	fut mal n&eacute;goci&eacute;... D&eacute;faite 34-30, et une mont&eacute;e en r&eacute;gion qui s'&eacute;loigne...
</p>
<p>
	Nouveau revers &eacute;galement pour l'&eacute;quipe 2, toujours en sous-effectif et logiquement battue &agrave; Pins-Justaret.
</p>
<h2>Voyage difficile pour les filles</h2>
<p>
	Dans le Gard, &agrave; Bouillargues, l'&eacute;quipe f&eacute;minine effectuait son plus long d&eacute;placement de la saison. Un voyage fatigant, et plusieurs joueuses absentes, une situation 
	difficile pour aborder cette rencontre, qui s'acheva logiquement sur une victoire des locales.
</p>
<h2>Un week-end compliqu&eacute;</h2>
<ul>
	<li>
        <b>-11 Filles : </b>D&eacute;faite &agrave; Roques
    </li>
	<li>
        <b>-11 Gar&ccedil;ons : </b>Victoire &agrave; Merville
    </li>
	<li>
        <b>-13 Filles : </b>D&eacute;faite &agrave; Villefranche-de-Lauragais
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Aucamville
    </li>
    <li>
        <b>-13 Gar&ccedil;ons 2 : </b>Victoire &agrave; Lavelanet
    </li>
    <li>
        <b>Seniors Filles : </b>D&eacute;faite &agrave; Bouillargues
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; Beauzelle
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite &agrave; Pins-Justaret
    </li>
</ul>