<h2>Les Seniors Gar&ccedil;ons doivent absolument rebondir</h2>
<p>
	L'Isle-Jourdain - b&ecirc;te noire de la saison pass&eacute;e - et Sud-Toulousain sont les deux adversaires du week-end pour les &eacute;quipes masculines. Une r&eacute;action est 
	attendue, apr&egrave;s une trop longue s&eacute;rie de d&eacute;faites...
</p>
<h2>Les plus &acirc;g&eacute;s... et les plus jeunes jouent !</h2>
<ul>
	<li>
        <b>-9 Ans : </b>Tournois au TFH et &agrave; L'Union
    </li>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;placement &agrave; Maz&egrave;res
    </li>
	<li>
        <b>-18 Filles : </b>D&eacute;placement &agrave; Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>R&eacute;ception de Flourens
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>R&eacute;ception de Balma
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;placement &agrave; L'Isle-Jourain
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>R&eacute;ception de Sud-Toulousain
    </li>
</ul>