<h2>Des tournois pour les -9 ans</h2>
<p>
	Avec deux tournois, organis&eacute;s par L'Union et le TFH, les -9 ans Gar&ccedil;ons et Filles &eacute;taient &agrave; l'honneur ce Samedi. Parfois encadr&eacute;s par des jeunes qui se 
	d&eacute;couvrent des talents d'entra&icirc;neurs (merci les -18), ces jeunes handballeurs, assidus et nombreux &agrave; chaque entra&icirc;nement, peuvent mesurer leurs progr&egrave;s constants 
	sur ces plateaux r&eacute;guli&egrave;rement organis&eacute;s dans les clubs de l'agglom&eacute;ration.
</p>
<h2>Les -18 assurent, les Seniors n'y arrivent toujours pas</h2>
<p>
	Deux belles victoires (-18 Filles et -18 Gar&ccedil;ons 1), la rel&egrave;ve Saint-Jeannaise a su apporter les r&eacute;sultats positifs du week-end, &agrave; un moment o&ugrave; les Seniors 
	ont davantage de difficult&eacute;s... Si les deux &eacute;quipes masculines sont pass&eacute;es proches des succ&egrave;s, c'est une nouvelle fois avec deux d&eacute;faites qu'elles ont conclu 
	leur week-end.
</p>
<h2>Tous les r&eacute;sultats</h2>
<ul>
	<li>
        <b>-15 Gar&ccedil;ons : </b>D&eacute;faite &agrave; Maz&egrave;res
    </li>
	<li>
        <b>-18 Filles : </b>Victoire &agrave; Saint-Jory
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 1 : </b>Victoire contre Flourens
    </li>
    <li>
        <b>-18 Gar&ccedil;ons 2 : </b>D&eacute;faite contre Balma
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 1 : </b>D&eacute;faite &agrave; L'Isle-Jourdain
    </li>
    <li>
        <b>Seniors Gar&ccedil;ons 2 : </b>D&eacute;faite contre Sud-Toulousain
    </li>
</ul>