@import "../../../../common/css/dispos";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        h1, h2 {
            #container-checkbox-matchs-uniquement {
                span.glyphicon {
                    margin-right: 40px;
                }
            }
        }

        .row.row-evenement {
            padding: 10px;
            border-bottom: 1px solid #000;
            @media (min-width: @screen-xs-min) {
                font-size: 20px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 24px;
            }
            
            .col-evenement {
                cursor: pointer;
                
                .date-evenement {
                    font-weight: normal;
                }
                
                .text-evenement {
                    margin-top: 10px;
                    @media (min-width: @screen-xs-min) {
                        font-size: 15px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 18px;
                    }
                }
            }

            button.bt-reponse-dispo {
                width: 100%;
                margin-bottom: 10px;

                .button__text {
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                }
            }
            
            button.bt-disponible:not([disabled]):hover, button.bt-disponible.bt-selected {
                .disponible();

                .button__text {
                    .disponible();
                }
            }
            
            button.bt-si-necessaire:not([disabled]):hover, button.bt-si-necessaire.bt-selected {
                .si-necessaire();

                .button__text {
                    .si-necessaire();
                }
            }
            
            button.bt-absent:not([disabled]):hover, button.bt-absent.bt-selected {
                .absent();

                .button__text {
                    .absent();
                }
            }
            
            button.bt-pas-de-reponse:not([disabled]):hover, button.bt-pas-de-reponse.bt-selected {
                .pas-de-reponse();
                
                .button__text {
                    .pas-de-reponse();
                }
            }

            .success-message {
                display: none;
                font-weight: bold;
                font-size: 18px;
                color: @hbcsj-green;
                text-align: center;
            }

            .warning-message {
                display: none;
                font-weight: bold;
                font-size: 18px;
                color: @hbcsj-red;
                text-align: center;
            }
        }
        
        .row.row-evenement:hover {
            .date-evenement {
                font-weight: bold;
            }
        }
    }
}