@import "../../../../common/css/shop";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        .col-match {
            margin-top: 10px;
            margin-bottom: 40px;
            cursor: pointer;
            
            .header-match {
                @media (min-width: @screen-xs-min) {
                    height: 70px;
                }
                @media (min-width: @screen-lg-min) {
                    height: 60px;
                }
                border-bottom: 1px solid #000;
                
                span.nom-match {
                    font-weight: bold;
                
                    @media (min-width: @screen-xs-min) {
                        font-size: 24px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 20px;
                    }
                }
                
                span.competition-match {
                    @media (min-width: @screen-xs-min) {
                        font-size: 20px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 17px;
                    }
                }
            }
            
            .date-match {
                text-align: center;
                font-weight: bold;
                margin-top: 5px;
                font-size: 24px;
            }
            
            img.img-match {
                width: calc(~"50% - 70px");
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }
            
            .prix-match {
                position: absolute;
                right: 0;
                margin-right: 15px;
                background-color: #000;
                color: #FFF;
                font-weight: bold;
                border-radius: 10px;
                padding: 2px;
                text-align: center;
                height: 80px;
                width: 80px;

                .label-prix {
                    font-size: 17px;
                }
                
                .prix-hbcsj {
                    font-size: 24px;
                }

                .prix-au-lieu-de {
                    text-decoration: line-through;
                    font-size: 15px;
                }
            }
            
            .prix-1place-match {
                @media (min-width: @screen-xs-min) {
                    top: 150px;
                }
                @media (min-width: @screen-lg-min) {
                    top: 140px;
                }
            }
            
            .prix-3places-match {
                @media (min-width: @screen-xs-min) {
                    top: 235px;
                }
                @media (min-width: @screen-lg-min) {
                    top: 225px;
                }
            }
            
            .date-limite {
                margin-top: 30px;
                font-size: 18px;
            }
        }
    }
    
    .modal#modal-save-places-panier {
        .modal-dialog {
            .modal-content { 
                .modal-body {
                    #row-infos-match {
                        margin-top: 20px;

                        #nom-match {
                            font-weight: bold;
                            @media (min-width: @screen-xs-min) {
                                font-size: 22px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 24px;
                            }
                        }

                        #competition-match {
                            @media (min-width: @screen-xs-min) {
                                font-size: 18px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 20px;
                            }
                        }

                        #date-match {
                            margin-top: 20px;
                            font-weight: bold;
                            @media (min-width: @screen-xs-min) {
                                font-size: 14px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 20px;
                            }
                        }

                        img {
                            width: 100%;
                        }
                    }

                    #form-save-places-panier {
                        @media (min-width: @screen-xs-min) {
                            margin-top: 40px;
                        }
                        @media (min-width: @screen-lg-min) {
                            margin-top: 80px;
                        }

                        #prix-total {
                            background-color: #000;
                            color: #FFF;
                            font-weight: bold;
                            border-radius: @badge-border-radius;
                            padding: 2px;
                            text-align: center;
                            height: 80px;
                            width: 150px;
                            font-size: 48px;
                            @media (min-width: @screen-xs-min) {
                                margin-top: 10px;
                                margin-bottom: 20px;
                            }
                            @media (min-width: @screen-lg-min) {
                                margin-top: -20px;
                            }
                            margin-left: calc(~"50% - 75px");
                        }
                    }
                }
            }
        }
    }
}