@import "../../../../common/css/hbcsj";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @header-height + @nav-height + @sub-menu-height);

        .row-article {
            margin-bottom: 30px;

            .col-article {
                margin-top: 20px;
                @media (min-width: @screen-xs-min) {
                    font-size: 24px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 20px;
                }
                
                .header-article {
                    border-bottom: 1px solid #000;
                }
                
                img {
                    width: 100%;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}