@import "../../../../common/css/hbcsj";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @header-height + @nav-height + @sub-menu-height);
        
        table {
            width: 100%;
            margin-top: 20px;

            tbody {
                tr {
                    td {
                        padding: 10px;
                        border: 1px solid #000;

                        @media (min-width: @screen-xs-min) {
                            font-size: 24px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}