@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    .modal {
        .modal-dialog {
            .modal-content { 
                .modal-body {
                    select#form-save-licencie__input-categories {
                        height: 200px;
                    }
                }
            }
        }
    }
}