@import "../../../../../../common/css/admin";

@icon-font-path: "../../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .container-table {
            table {
                tbody {
                    td {
                        .form-horizontal {
                            .form-group {
                                label {
                                    font-weight: normal;
                                    @media (min-width: @screen-xs-min) {
                                        font-size: 14px;
                                    }
                                    @media (min-width: @screen-lg-min) {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .form-result-message {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}