@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .container-table {
            table {
                tr.tr-total th {
                    background-color: @hbcsj-gray-1;
                }

                tr.tr-header-commande td {
                    background-color: @hbcsj-gray-1;
                }

                tr.tr-commande-item {
                    display: none;
                    
                    td {
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}