<table>
    <tbody>
        <tr>
            <td>STATURE</td>
            <td>168 cm</td>
            <td>174 cm</td>
            <td>180 cm</td>
            <td>186 cm</td>
            <td>192 cm</td>
            <td> </td>
            <td>204 cm</td>
        </tr>
        <tr>
            <td>UNISEXE</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
            <td>XXL</td>
            <td> </td>
            <td>XXXL</td>
        </tr>
        <tr>
            <td><b>A COMMANDER</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
        </tr>
    </tbody>
</table>