<table>
    <tbody>
        <tr>
            <td>TAILLES FRANÇAISES</td>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
            <td>48</td>
        </tr>
        <tr>
            <td><b>A COMMANDER</b></td>
            <td><b>32</b></td>
            <td><b>34</b></td>
            <td><b>36</b></td>
            <td><b>38</b></td>
            <td><b>40</b></td>
            <td><b>42</b></td>
            <td><b>44</b></td>
            <td><b>46</b></td>
        </tr>
    </tbody>
</table>