<table>
    <tbody>
        <tr>
            <td>TAILLE EN CM</td>
            <td>128</td>
            <td>140</td>
            <td>152</td>
            <td>164</td>
        </tr>
        <tr>
            <td>AGE</td>
            <td>8 ans</td>
            <td>10 ans</td>
            <td>12 ans</td>
            <td>14 ans</td>
        </tr>
        <tr>
            <td><b>A COMMANDER</b></td>
            <td><b>0</b></td>
            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
        </tr>
    </tbody>
</table>