<table>
    <tbody>
        <tr>
            <td>CONFECTION</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
        </tr>
        <tr>
            <td>UNISEXE</td>
            <td>XS</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
        </tr>
        <tr>
            <td><b>A COMMANDER</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
        </tr>
    </tbody>
</table>