<table>
    <tbody>
        <tr>
            <td>S</td>
            <td>49 x 23 x 25 cm</td>
            <td>28 litres</td>
        </tr>
        <tr>
            <td>M</td>
            <td>61 x 29 x 28 cm</td>
            <td>49.5 litres</td>
        </tr>
        <tr>
            <td>L</td>
            <td>70 x 32 x 34 cm</td>
            <td>76 litres</td>
        </tr>
    </tbody>
</table>