<h1>R&eacute;glement</h1>
<h2>L'adh&eacute;sion au club</h2>
<p>
    Le club est en premier lieu une ASSOCIATION, c'est-&agrave;-dire la r&eacute;union de personnes poursuivant un m&ecirc;me objectif et s'unissant pour l'atteindre.
</p>
<p>
    L'adh&eacute;sion est un acte volontaire qui implique un engagement &agrave; participer et &agrave; apporter son concours au fonctionnement et au d&eacute;veloppement de l'association.
</p>
<h2>L'adh&eacute;rent(e)</h2>
<p>
    Chaque adh&eacute;rent(e) devra toujours avoir une attitude de respect et d'&eacute;coute envers les autres licenci&eacute;s(es) du club (joueurs, joueuses, entra&icirc;neurs, dirigeants...), les adversaires, les arbitres, le public.
</p>
<ul>
    <li>
        Il devra toujours adopter un comportement responsable au sein du club (respect des horaires, du mat&eacute;riel, aptitude &agrave; donner un "coup de main" pour la bonne marche du club tant au niveau arbitrage, qu'&agrave; l'encadrement d'&eacute;quipes jeunes ou &agrave; l'entra&icirc;nement). 
    </li>
    <li>
        Les joueurs et joueuses se doivent d'&ecirc;tre assidu(e)s aux entra&icirc;nements ainsi qu'aux matchs et de s'y comporter avec application et discipline.
    </li>
    <li>
        Les absences doivent &ecirc;tre exceptionnelles car il s'agit d'un sport collectif et chacun(e) a des devoirs envers l'&eacute;quipe. En cas d'absence au match ou &agrave; l'entra&icirc;nement le joueur ou la joueuse est tenu(e) de pr&eacute;venir son entra&icirc;neur avant la rencontre ou l'entra&icirc;nement.
    </li>
</ul>
<p>
    En cas de manquement &agrave; ces r&egrave;gles, des sanctions pourront &ecirc;tre prises, pouvant aller jusqu'&agrave; l'exclusion temporaire ou d&eacute;finitive du Club.
</p>
<h2>Les familles de jeunes</h2>
<ul>
    <li>
        Un entra&icirc;neur pouvant, en derni&egrave;re minute, &ecirc;tre absent pour des raisons ind&eacute;pendantes de sa volont&eacute;, les familles devront toujours s'assurer de la pr&eacute;sence dans la salle d'un entra&icirc;neur de  substitution au moment du d&eacute;pôt de l'enfant mineur.
    </li>
    <li>
        Les parents sont tol&eacute;r&eacute;s dans les gradins aux entra&icirc;nements mais ne doivent intervenir en aucun cas dans le d&eacute;roulement de la s&eacute;ance. 
    </li>
    <li>
        Lors des matchs, les parents doivent respecter les d&eacute;cisions arbitrales et rester tol&eacute;rants face &agrave; de jeunes arbitres en formation.
    </li>
</ul>
<h2>Les dirigeants</h2>
<ul>
    Pour rappel, les dirigeants sont des personnes b&eacute;n&eacute;voles, passionn&eacute;s de handball.<br>
    Les dirigeants du club s'engagent, vis-&agrave;-vis de tous les adh&eacute;rents(es) &agrave; :
    <li>Les accueillir dans de bonnes conditions mat&eacute;rielles et humaines.</li>
    <li>Leur donner toute leur place au sein du club.</li>
    <li>Les associer au fonctionnement r&eacute;gulier du club en d&eacute;veloppant l'information, la communication et l'&eacute;coute.</li>
</ul>
