<h1>Pr&eacute;sentation</h1>
<p>
    Le Handball-Club de Saint-Jean (HBCSJ) est une association d'int&eacute;r&ecirc;t g&eacute;n&eacute;ral fond&eacute;e le 30 juin 1981.
</p>
<p>
    Affili&eacute;e &agrave; la F&eacute;d&eacute;ration Fran&ccedil;aise de Handball et disposant d'un agr&eacute;ment minist&eacute;riel de la jeunesse et des sports, elle propose &agrave; ses adh&eacute;rents la pratique du handball en comp&eacute;tition et en loisir.
</p>
<p>
    Situ&eacute;e dans le nord-est toulousain et plus pr&eacute;cis&eacute;ment sur la commune de <a href="http://www.mairie-saintjean.fr" target="_blank">Saint-Jean (31240)</a>, elle engage ses collectifs dans les comp&eacute;titions propos&eacute;es par le comit&eacute; d&eacute;partemental de handball et la ligue Midi-Pyr&eacute;n&eacute;es.
</p>
<h2>Palmar&egrave;s sportif r&eacute;cent :</h2>
<ul>
    <li>2016 / 2017 : <b>Seniors Filles</b> - championnes Territorial Pr&eacute;-R&eacute;gion</li>
    <li>2016 / 2017 : <b>-18 Filles</b> - championnes R&eacute;gional Honneur</li>
    <li>2015 / 2016 : <b>Seniors Gar&ccedil;ons</b> - finalistes Territorial Excellence</li>
    <li>2014 / 2015 : <b>Seniors Gar&ccedil;ons</b> - champions Territorial Honneur</li>
    <li>2013 / 2014 : <b>Seniors Filles</b> - 3<sup>&egrave;mes</sup> R&eacute;gional Excellence (mont&eacute;e en Pr&eacute;-National)</li>
    <li>2013 / 2014 : <b>-18 Gar&ccedil;ons</b> - champions D&eacute;partemental</li>
    <li>2012 / 2013 : <b>Seniors Gar&ccedil;ons</b> - champions R&eacute;gional Honneur</li>
    <li>2011 / 2012 : <b>Seniors Gar&ccedil;ons</b> - champions D&eacute;partemental</li>
    <li>2010 / 2011 : <b>Seniors Gar&ccedil;ons</b> - champions D&eacute;partemental Honneur</li>
</ul>
