<h1>Inscriptions 2020 / 2021</h1>
<h2>
    Modalit&eacute;s des inscriptions pour la saison 2020 / 2021
</h2>
<p>
    <b>Licence d&eacute;mat&eacute;rialis&eacute;e</b>
</p>
<p style="color: #CC0000;">
    <b>Aucun dossier ne sera valid&eacute; si le lien internet n'est pas rempli correctement</b>
</p>
<ul>
    <li> 
		Faire le certificat m&eacute;dical : <span style="font-weight: bold; color: #CC0000;">obligatoire</span>
		<ul>
			<li><b>Nom, pr&eacute;nom et date de naissance</b> du licenci&eacute; doivent &ecirc;tre parfaitement lisibles.</li>
			<li>Dat&eacute; (lisiblement) &agrave; compter du 1<sup>er</sup> Juin 2020.</li>
			<li><b>Identit&eacute; compl&egrave;te du m&eacute;decin</b> (nom, pr&eacute;nom, adresse postale) et <b>n<sup>&deg;</sup> d'immatriculation (RPPF ou AMELI) parfaitement lisibles</b>.
			<li>
				S'il s'agit d'un m&eacute;decin rempla&ccedil;ant, les deux tampons (celui du m&eacute;decin titulaire + celui du m&eacute;decin rempla&ccedil;ant) doivent appara&icirc;tre sur le document !<br>
				Les deux num&eacute;ros d'immatriculation doivent &ecirc;tre lisibles.
			</li>
			<li>Doit reprendre les termes suivants : <b>&quot;PRATIQUE DU HANDBALL EN COMPETITION&quot;</b>.</li>
			<li>
				<i>
					L'article 76 (article R.4127-76 du code de la sant&eacute; publique) stipule : &quot;Tout certificat, ordonnance, attestation ou document d&eacute;livr&eacute; par un m&eacute;decin doit &ecirc;tre 
					r&eacute;dig&eacute; lisiblement en langue Fran&ccedil;aise et dat&eacute;, permettre l'identification du praticien dont il &eacute;mane et &ecirc;tre sign&eacute; par lui. Le m&eacute;decin 
					peut en remettre une traduction au patient dans la langue de celui-ci.&quot;.
				</i>
			</li>
			<li>
				<b>Sur un ordonnancier</b> ou un papier &agrave; en-t&ecirc;te complet et lisible, il n'y a pas de souci.
			</li>
			<li>
				<b>Sur les certificats m&eacute;dicaux d&eacute;j&agrave; imprim&eacute;s avec des cases &agrave; cocher : le tampon du m&eacute;decin est obligatoire.</b> Avec les nom, pr&eacute;nom, 
				adresse postale du m&eacute;decin, et num&eacute;ro d'inscription au Conseil de l'Ordre.
			</li>
			<li>
				Pour les jeunes n&eacute;s en <b>2013</b> et apr&egrave;s, la mention &quot;en comp&eacute;tition&quot; <b>n'est pas obligatoire</b>.
			</lI>
		</ul>
	</li>
	<br>
    <li>
		<b>Envoyer une demande par email, en indiquant les nom, pr&eacute;nom et date de naissance du futur licenci&eacute;, &agrave; l'adresse suivante :</b> <a href="mailto:inscription.hbcsj@gmail.com">inscription.hbcsj@gmail.com</a> 
		(ceux qui ont d&eacute;j&agrave; r&eacute;pondu au questionnaire ont d&eacute;j&agrave; re&ccedil;u le lien, passer cette &eacute;tape).
	</li>
	<br>
    <li>
        <b>Remplir le dossier sur internet &agrave; partir du lien qui vous sera envoy&eacute;. T&eacute;l&eacute;charger les documents n&eacute;cessaires (certificat m&eacute;dical, 
		autorisation parentale de la FFHB, carte d'identit&eacute; / passeport ou livret de famille, photo type identit&eacute; (photo de vacances refus&eacute;e) sans chapeau, ni casquette, ni lunettes de soleil).</b>
    </li>
	<br>
	<li>
		<b>Favoriser le paiement &agrave; distance :</b>
		<ul>
			<li>
				<b>Par carte-bleue, mis en place cette saison, en cliquant sur <a href="https://app.joinly.com/app/member/web-site/5efe52b0accdfb8c28b9a582/HBCSJ2021" target="_blank">le lien suivant</a></b>
			</li>
			<li>
				<b>Par virement</b> (demander le RIB si besoin)
			</li>
		</ul>
	</li>
	<br>
	<li>
		<b>Devront &ecirc;tre retourn&eacute;s au club :</b>
		<ul>
			<li>
				<b><span style="color: #CC0000;">L'original</span> du certificat m&eacute;dical</b>
			</li>
			<li>
				<b>Le coupon sign&eacute; des r&egrave;gles de vie du club (et ch&egrave;que de caution actions club obligatoires pour les Seniors et les -18)</b>
			</li>
			<li>
				<b>Les paiements par ch&egrave;que, coupons sport ANCV et ch&egrave;ques vacances ANCV</b>
				<ul>
					<li>
						Pendant les permanences si nous pouvons les mettre en place rapidement
					</li>
					<li>
						Dans le casier &quot;Handball&quot; de l'accueil de la Mairie de Saint-Jean
					</li>
					<li>
						Envoy&eacute;s par courrier &agrave; : &quot;HBC Saint-Jean chez Mme Caroline Lemarchal, 27Bis Avenue Bellevue, 31180 Lapeyrouse-Fossat&quot;
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<p>
    <span style="font-weight: bold; color: #CC0000;">A l'issue de ces &eacute;tapes, nous validons la licence.</span>
</p>
<p>
    <b>Vous pouvez t&eacute;l&eacute;charger les documents en cliquant directement sur les liens suivants :</b>
</p>
<ul>
    <li>
        <a href="_data/docs/certificat_medical_2020-2021.pdf" target="_blank">Certificat m&eacute;dical type 2020 / 2021<a>
    </li>
    <li>
        <a href="_data/docs/autorisation_parentale_2020-2021.pdf" target="_blank">Autorisation parentale 2020 / 2021</a>
    </li>
    <li>
        <a href="_data/docs/regles_de_vie_pour_dossier_dinscription_2020-2021.pdf" target="_blank">R&egrave;gles de vie au HBC Saint-Jean 2020 / 2021</a>
    </li>
    <li>
        <a href="_data/docs/charte_ethique_2020-2021.pdf" target="_blank">Charte d'&eacute;thique 2020 / 2021<a>
    </li>
    <li>
        <a href="_data/docs/questionnaire_reprise_post_covid_ffhb.pdf" target="_blank">Questionnaire de reprise post-confinement</a>
    </li>
    <li>
        <a href="_data/docs/doctrine_medicale_ffhb.pdf" target="_blank">Doctrine m&eacute;dicale de la F&eacute;d&eacute;ration Fran&ccedil;aise de Handball</a>
    </li>
    <li>
        <a href="_data/docs/surveillance_post_caci_ffhb.pdf" target="_blank">Surveillance post-d&eacute;livrance du CACI</a>
    </li>
</ul>
<p>
	<b>Voici le mail de la F&eacute;d&eacute;ration Fran&ccedil;aise de Handball concernant la licence 2020 / 2021
</p>
<p style="text-align: center;">
	<img src="_data/static/mail_ffhb_licence_2020-2021.png">
</p>
<p>
    <b>Montant des cotisations pour la saison 2020 / 2021</b>
</p>
<table>
    <tbody>
        <tr>
            <td class="text-center">
                <b>Cat&eacute;gorie</b>
            </td>
            <td class="text-center">
                <b>Cotisation *</b>
            </td>
            <td class="text-center">
                <b>Dossier de licence valid&eacute; avant le 31/07/2020</b>
            </td>
            <td class="text-center">
                <b>Dossier de licence valid&eacute; avant le 08/09/2020</b>
            </td>
            <td class="text-center">
                <b>R&eacute;duction familiale **</b>
            </td>
            <td class="text-center">
                <b>Ch&egrave;que caution obligatoire pour les Seniors et -18 ***</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Seniors</b>
            </td>
            <td class="text-center">150 &euro;</td>
            <td rowspan="4" class="text-center">-10 &euro; par Licence</td>
            <td rowspan="4" class="text-center">-5 &euro; par Licence</td>
            <td rowspan="7" class="text-center">-10 &euro; par Licence</td>
            <td rowspan="2" class="text-center">Montant &agrave; fixer pendant la prochaine A.G.</td>
        </tr>
        <tr>
            <td>
                <b>-18 ans</b>
            </td>
            <td class="text-center">130 &euro;</td>
        </tr>
        <tr>
            <td>
                <b>-15 ans</b>
            </td>
            <td class="text-center">125 &euro;</td>
            <td rowspan="5" style="background-color: #000;"> </td>
        </tr>
        <tr>
            <td>
                <b>-13 ans</b>
            </td>
            <td class="text-center">120 &euro;</td>
        </tr>
        <tr>
            <td>
                <b>-11 ans</b>
            </td>
            <td class="text-center">110 &euro;</td>
            <td rowspan="3" colspan="2" style="background-color: #000;"> </td>
        </tr>
        <tr>
            <td>
                <b>-9 ans</b>
            </td>
            <td class="text-center">90 &euro;</td>
        </tr>
        <tr>
            <td>
                <b>Babys</b>
            </td>
            <td class="text-center">75 &euro;</td>
        </tr>
    </tbody>
</table>
<p>
    * Une gourde sera fournie &agrave; chaque licenci&eacute;
</p>
<p>
    ** R&eacute;duction pour les familles : &agrave; partir de 2 personnes de la m&ecirc;me famille licenci&eacute;es au club
</p>
<p>
    *** Seniors & -18 : ch&egrave;que de caution rendu en fin de saison pour tout licenci&eacute; ayant fait 3
actions pour le club
</p>
<p>
    <b>Les actions pour le club sont :</b>
</p>
<ul>
    <li>La gestion de la table de marque d’un match (secr&eacute;taire ou chronom&eacute;treur)</li>
    <li>La surveillance salle durant un match (responsable de salle)</li>
    <li>Arbitre : Le suivi d’un jeune ou tr&egrave;s jeune arbitre durant un match (superviseur JA ou TJA)</li>
    <li>-18 : le support &agrave; un entraineur du club sur un entrainement ou un match</li>
    <li>Toute action propos&eacute;e par le club durant la saison</li>
    <li>Toute action propos&eacute;e par le licenci&eacute; et valid&eacute;e par le club</li>
</ul>
<p>
    <b>Frais de mutations pour la saison 2020 / 2021</b>
</p>
<table>
    <tbody>
        <tr>
            <td class="text-center">
                <b>Cat&eacute;gorie</b>
            </td>
            <td class="text-center">
                <b>Mutation masculin</b>
            </td>
            <td class="text-center">
                <b>Mutation f&eacute;minin</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Seniors</b>
            </td>
            <td class="text-center">100 &euro;</td>
            <td class="text-center">100 &euro;</td>
        </tr>
        <tr>
            <td>
                <b>-18 et - 15 ans</b>
            </td>
            <td class="text-center">30 &euro;</td>
            <td class="text-center">0 &euro;</td>
        </tr>
    </tbody>
</table>
<h2>
    Amendes li&eacute;es &agrave; des dossiers de discipline ligue ou comit&eacute;
</h2>
<p>
    Le r&egrave;glement d'une sanction li&eacute;e &agrave; un dossier disciplinaire est de la responsabilit&eacute; du licenci&eacute;.
</p>
<h2>
    Remboursement des licences
</h2>
<p>
    L'association engageant des frais pour chaque licence valid&eacute;e aupr&egrave;s de la FFHB, elle ne rembourse pas les cotisation mais propose un remboursement partiel dans les circonstances exceptionnelles suivantes :
</p>
<ul>
    <li>Arr&ecirc;t complet de la pratique avant le 15 Octobre</li>
    <li>Arr&ecirc;t complet de la pratique suite &agrave; une blessure r&eacute;sultant d'un entra&icirc;nement ou d'un match survenu avant fin Novembre</li>
</ul>
<p>
    Le remboursement partiel sera le montant de la cotisation d&eacute;duit des frais FFHB, Ligue et Comit&eacute; qui sont demand&eacute;s au Club pour chaque licence valid&eacute;e.
</p>