@import "../../../common/css/hbcsj";

body {
    .sub-menu {
        a {
            @media (min-width: @screen-xs-min) {
                margin-left: 20px;
                margin-right: 20px;
            }
            @media (min-width: @screen-lg-min) {
                margin-left: 45px;
                margin-right: 45px; 
            }
        }

        #links-home-reseaux-sociaux {
            position: absolute;
            top: 1px;
            right: 5px;

            a {
                margin-left: 0px;
                margin-right: 0px;

                img {
                    height: calc(@sub-menu-height - 10px);
                }
            }
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @header-height + @nav-height + @sub-menu-height);
        
        .row {                
            img.home-img {
                margin-top: 20px;
                width: 100%;
            }
        
            .jumbotron {
                margin-top: 20px;
                text-align: center;
                background-color: #FFF;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 24px;

                span.glyphicon {
                    .pull-left();
                    margin-top: -2px;
                    margin-left: -30px;
                    font-size: 43px;
                }
            }

            .jumbotron-info {
                border: 5px solid @hbcsj-blue;
                color: @hbcsj-blue;

                span.glyphicon {
                    color: @hbcsj-blue;
                }
            }

            .jumbotron-warning {
                border: 5px solid @hbcsj-orange;
                color: @hbcsj-orange;

                span.glyphicon {
                    color: @hbcsj-orange;
                }
            }

            .jumbotron-danger {
                border: 5px solid @hbcsj-red;
                color: @hbcsj-red;

                span.glyphicon {
                    color: @hbcsj-red;
                }
            }
            
            img.img-google-map {
                width: 100%;
            }
            
            img.img-partenaires {
                width: 90%;
            }

            img.img-reseau-social {
                margin-right: 20px;
                @media (min-width: @screen-xs-min) {
                    width: 15%;
                }
                @media (min-width: @screen-lg-min) {
                    width: 15%;
                }
            }
        }
        
        .row.row-actu {
            width: calc(~"100% - 20px");
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 10px;
            
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 15px;
            }
            
            img.img-actu {
                width: 100%;
            }
            
            .titre-actu {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                @media (min-width: @screen-xs-min) {
                    font-size: 29px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 24px;
                }
            }
            
            .resume-actu {
                margin-bottom: 20px;
            }
        }
        
        .row.row-actu-bordered {
            border-bottom: 1px solid #000;
        }

        .row#row-nous-trouver-mobile {
            width: calc(~"100% - 20px");
            margin-left: 10px;
            font-size: 24px;
            
            img.img-google-map {
                width: 100%;
            }
        }
        
        #infos-pratiques {
            margin-top: -50px;
            float: right;
            width: 90%;
            border: 1px solid #000000;
            font-size: 14px;
            padding-bottom: 20px;
            box-shadow: 1px 1px 1px #000000;
            -webkit-box-shadow: 1px 1px 1px #000000;
            -moz-box-shadow: 1px 1px 1px #000000;
            -o-box-shadow: 1px 1px 1px #000000;
        }

        #form-message-contact {
            .form-group {
                label {
                    text-align: left;
                    font-weight: normal;
                }
            }

            .text-required {
                margin-bottom: 20px;
            }
        }

        .row.row-presse {
            @media (min-width: @screen-xs-min) {
                margin-bottom: 20px;
            }
            
            img.img-presse {
                width: 100%;
                cursor: pointer;
            }
        }

        table.table-evenements {
            width: 100%;
            
            tbody {
                tr {
                    td {
                        cursor: pointer;
                        @media (min-width: @screen-xs-min) {
                            font-size: 17px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 15px;
                        }
                    }

                    td.td1 {
                        width: 40%;
                    }

                    td.td2 {
                        width: 20%;
                    }
                }

                tr:not([competition-href=""]):hover {
                    background-color: @hbcsj-gray-2;
                }
            }
        }
    }
}