@import "hbcsj";

body {
    nav {
        position: fixed;
        top: 0;
        
        #nav-logo {
            display: block;

            img {
                width: 80px;
            }
        }
        
        .nav-links {
            margin-top: 8px;
            
            a {
                margin-left: 20px;
                margin-right: 20px; 

                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 22px;
                }
            }
            
            a#link-logout {
                span.glyphicon {
                    font-weight: bold;
                }
            }
        }
    }
        
    .sub-menu {
        top: calc(@nav-height);
    }
    
    .container-fluid {
        padding-top: calc(~"10px + " @sub-menu-height + @nav-height);
        padding-bottom: 10px;
        
        h1, h2 {
            button.btn {
                .pull-right();
                margin-top: -3px;
                margin-left: 5px;
            }

            .sub-sub-menu {
                .pull-right();
                margin-top: 10px;
                font-size: 24px;
            }
        }

        .container-stats {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            border: 2px solid #000;
            background-color: lighten(@hbcsj-gray-2, 10%);
            @media (min-width: @screen-xs-min) {
                font-size: 16px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 18px;
            }

            .container-stats__title {
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
                margin-left: 10px;
                margin-top: 10px;
            }

            .container-stats__section {
                display: flex;
                margin-left: 10px;
                margin-bottom: 10px;
                margin-top: 10px;

                .container-stats__section__title {
                    width: 300px;
                    font-weight: bold;
                }

                .container-stats__section__value {
                    flex: 0;
                }
            }
        }

        .container-recherche {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            border: 2px solid #000;
            background-color: lighten(@hbcsj-gray-2, 10%);

            .container-recherche__title {
                font-weight: bold;
                font-size: 24px;
                height: 35px;
                background-color: #000;
                color: #fff;
                padding-left: 10px;
                display: flex;
                cursor: pointer;

                .container-recherche__title__icon, .container-recherche__title__arrow {
                    margin-top: 5px;
                    margin-right: 20px;
                    flex: 0;
                }

                .container-recherche__title__text {
                    flex: 1;
                }
            }

            .form-horizontal {
                display: none;

                .form-group {
                    margin-top: 10px;

                    label {
                        @media (min-width: @screen-xs-min) {
                            font-size: 16px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .container-recherche__footer {
                display: none;
                text-align: right;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }

        .container-table {
            table {
                width: 90%;
                margin-left: 5%;
                margin-top: 30px;
                margin-bottom: calc(~"20px + " @footer-height);

                tr.tr-separator {
                    background-color: @hbcsj-gray-4;
                }

                th {
                    @media (min-width: @screen-xs-min) {
                        font-size: 16px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 18px;
                    }
                    font-weight: bold;

                    span.glyphicon {
                        margin-bottom: 5px;
                    }
                }

                tbody {
                    td {
                        @media (min-width: @screen-xs-min) {
                            font-size: 14px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 16px;
                        }

                        .loader {
                            border: 4px solid #000;
                            border-right-color: transparent;
                            margin-top: -16px;
                            margin-left: calc(~"100% - 10px");
                            height: 16px;
                            width: 16px;
                        }

                        button.bt-table-admin, a.bt-table-admin {
                            padding-top: 3px;
                            padding-bottom: 3px;
                            padding-left: 10px;
                            padding-right: 10px;

                            .button__icon, .button__text {
                                font-size: 14px;
                            }

                            .loader {
                                .pull-right();
                                border: 3px solid #000;
                                border-right-color: transparent;
                                margin-top: 2px;
                                margin-left: 10px;
                                height: 14px;
                                width: 14px;
                            }
                        }

                        button.bt-table-admin.bt-error, a.bt-table-admin.bt-error {
                            background-color: @hbcsj-red;

                            .button__icon, .button__text {
                                color: #fff;
                            }

                            .loader {
                                border: 3px solid #fff;
                                border-right-color: transparent;
                            }
                        }

                        button.bt-table-admin.bt-warning, a.bt-table-admin.bt-warning {
                            background-color: @hbcsj-orange;

                            .button__icon, .button__text {
                                color: #fff;
                            }

                            .loader {
                                border: 3px solid #fff;
                                border-right-color: transparent;
                            }
                        }

                        button.bt-table-admin.bt-ok, a.bt-table-admin.bt-ok {
                            background-color: @hbcsj-green;

                            .button__icon, .button__text {
                                color: #fff;
                            }

                            .loader {
                                border: 3px solid #fff;
                                border-right-color: transparent;
                            }
                        }

                        button.bt-table-admin.bt-info, a.bt-table-admin.bt-info {
                            background-color: @hbcsj-blue;

                            .button__icon, .button__text {
                                color: #fff;
                            }

                            .loader {
                                border: 3px solid #fff;
                                border-right-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-content { 
                .modal-header {
                    .loader-modal {
                        .pull-right();
                        border: 6px solid #FFF;
                        border-right-color: transparent;
                        margin-top: -32px;
                        margin-left: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }

                .modal-body {
                    table {
                        th {
                            @media (min-width: @screen-xs-min) {
                                font-size: 16px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 18px;
                            }
                            font-weight: bold;
                        }
        
                        tbody {
                            td {
                                @media (min-width: @screen-xs-min) {
                                    font-size: 12px;
                                }
                                @media (min-width: @screen-lg-min) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    label {
                        @media (min-width: @screen-xs-min) {
                            font-size: 24px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 18px;
                        }
                    }

                    a:link, a:visited {
                        color: darken(@hbcsj-blue, 5%);
                        text-decoration: none;
                    }
                    a:hover {
                        background-color: @hbcsj-blue;
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    button.btn, a.btn {
        .button__icon, .button__text {
            font-size: 18px;
        }

        .loader {
            .pull-right();
            border: 4px solid #000;
            border-right-color: transparent;
            margin-top: 3px;
            margin-left: 10px;
            height: 18px;
            width: 18px;
        }
    }
}