@import "hbcsj";

body {
    nav {
        position: fixed;
        top: 0;
        
        #nav-logo {
            display: block;

            img {
                width: 80px;
            }
        }
        
        .nav-links {
            margin-top: 8px;
            
            a {
                margin-left: 20px;
                margin-right: 20px; 

                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 22px;
                }
            }
            
            a#link-logout {
                span.glyphicon {
                    font-weight: bold;
                }
            }
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @nav-height);
        padding-bottom: 10px;
        
        h1, h2 {
            button.btn {
                .pull-right();
                margin-top: -3px;
                margin-left: 5px;
            }
        }

        #mdp-form {
            margin-top: @sub-menu-height;
        }
    }

    .modal {
        .modal-dialog {
            .modal-content { 
                .modal-header {
                    .loader-modal {
                        .pull-right();
                        border: 6px solid #FFF;
                        border-right-color: transparent;
                        margin-top: -32px;
                        margin-left: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }

                .modal-body {
                    label {
                        @media (min-width: @screen-xs-min) {
                            font-size: 24px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    button.btn, a.btn {
        .button__icon, .button__text {
            font-size: 18px;
        }

        .loader {
            .pull-right();
            border: 4px solid #000;
            border-right-color: transparent;
            margin-top: 3px;
            margin-left: 10px;
            height: 18px;
            width: 18px;
        }
    }
}