@import "../../lib/css/bootstrap/bootstrap";
@import "variables";
@import "mixins";

* {
    font-family: @main-font;
    margin: 0;
    padding: 0;
}

body {
    header {
        position: fixed;
        height: @header-height;
        width: 100%;
        background-color: @hbcsj-blue;
        background-image: url("../../../assets/img/banniere.png");
        background-position: right;
        background-repeat: no-repeat;
        z-index: 1000;
        
        #header-logo {
            .pull-left();
            margin-left: 10px;
            margin-top: 5px;
            height: 90px;
            width: 90px;
            background-image: url("../../../assets/img/logo.png");
        }
        
        #header-nom-club {
            .pull-left();
            margin-left: 20px;
            margin-top: 15px;
            font-family: "Comic Sans MS", "CSMS";
            font-size: 46px;
            font-weight: bold;
            color: #FFF;
        }
    }
    
    nav {
        position: fixed;
        top: @header-height;
        height: @nav-height;
        width: 100%;
        text-align: center;
        background-color: @hbcsj-blue;
        z-index: 1000;
        
        #nav-logo {
            position: absolute;
            display: none;
            
            img {
                margin-top: 5px;
                margin-left: 10px;
                width: 40px;
                height: 40px;
            }
        }
        
        .nav-links {
            margin-top: 8px;
            
            a {
                @media (min-width: @screen-xs-min) {
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    margin-left: 25px;
                    margin-right: 25px; 
                    font-size: 24px;
                }
                font-weight: bold;
                color: #FFF;
                text-transform: uppercase;
            }

            a:link, a:visited, a:hover {
                text-decoration: none;
                color: #000;
            }
            
            a.selected-link, a:hover {
                color: #FFF;
            }
        }
        
        #loader-page {
            position: absolute;
            top: 10px;
            right: 10px;
            border: 6px solid #FFF;
            border-right-color: transparent;
            height: calc(~"-20px + " @nav-height);
            width: calc(~"-20px + " @nav-height);
        }
        
        #error-page {
            position: absolute;
            top: 11px;
            right: 13px;
        }
    }
    
    nav.header-hidden {
        top: 0;
    }
        
    .sub-menu {
        position: fixed;
        top: calc(@header-height + @nav-height);
        height: @sub-menu-height;
        text-align: center;
        z-index: 1000;
        background-color: darken(@hbcsj-blue, 5%);
        padding-top: 2px;
        width: 100%;
        
        a {
            font-size: 20px;
            font-weight: bold;
            color: #FFF;
            
            @media (min-width: @screen-xs-min) {
                margin-left: 30px;
                margin-right: 30px;
            }
            @media (min-width: @screen-lg-min) {
                margin-left: 50px;
                margin-right: 50px; 
            }
                
            span.glyphicon {
                font-size: 16px;
                margin-right: 5px;
            }
        }

        a:link, a:visited, a:hover {
            text-decoration: none;
            color: #000;
        }
            
        a.selected-link, a:hover {
            color: #FFF;
        }
    }
    
    .row.sub-menu-2 {
        a {
            font-weight: bold;
        }
    }
    
    .sub-menu.header-hidden {
        top: @nav-height;
    }
    
    .container-fluid {
        .base-mise-en-page();
        width: 100%;
        z-index: 10;
        padding-top: calc(~"10px + " @header-height + @nav-height);
        padding-bottom: calc(~"10px + " @footer-height);
        
        .form-group {
            margin-left: 0;
        }
            
        .date-publication {
            @media (min-width: @screen-xs-min) {
                font-size: 20px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 17px;
            }
        }
    
        .div-link-bottom-image {
            margin-top: 10px;
            text-align: center;
    
            a {
                font-weight: bold;
            }
        }
    
        table.table-evenements {
            tbody {
                td {
                    padding: 3px;
                    border-bottom: 1px solid @hbcsj-gray-2;
                }
            }
        }

        #mdp-form {
            text-align: center;

            label {
                font-size: 18px;
            }

            input {
                width: 150px;
            }

            button.btn, a.btn {
                .button__icon, .button__text {
                    font-size: 14px;
                }
        
                .loader {
                    .pull-right();
                    border: 4px solid #000;
                    border-right-color: transparent;
                    margin-top: 0;
                    margin-left: 10px;
                    height: 18px;
                    width: 18px;
                }
            }

            #mdp-form__error {
                display: none;
                text-align: center;
                margin-top: 20px;
                font-size: 18px;
                font-weight: bold;
                color: @hbcsj-red;
            }
        }
    }
    
    .container-fluid.header-hidden {
        padding-top: calc(~"10px + " @nav-height);
    }

    .container-error {
        text-align: center;

        h1 {
            color: @hbcsj-blue;
            font-weight: bold;
            font-size: 24px;
            border-width: 0;
        }
    
        h2 {
            color: @hbcsj-blue;
            font-size: 18px;
        }
    }
    
    footer {
        position: fixed;
        height: @footer-height;
        top: calc(~"100% - " @footer-height);
        width: 100%;
        background-color: @hbcsj-blue;
        z-index: 1000;
        padding: 5px;
        font-size: 14px;
        color: #FFF;
        
        a, a:link, a:visited, a:hover {
            color: #FFF;
        }
        a:hover {
            text-decoration: underline;
        }
        
        img {
            height: @footer-height - 10px;
        }
    }
    
    .form-horizontal {
        .form-group {
            .form-input {
                .input-group {
                    span.input-group-addon {
                        img {
                            width: 20px;
                        }
                    }
                }
    
                input[type=checkbox] {
                    margin-top: 14px;
                }
                
                .form-input-validation-message {
                    display: none;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 5px;
                }
            }
        }
    }

    .form-icon-validation {
        text-align: center;
        font-size: 26px;
        padding-top: 3px;

        span.glyphicon {
            display: none;
        }
    }

    .form-result-message {
        .pull-left();
        font-size: 18px;
        font-weight: bold;
        margin-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
        border-radius: 4px;
    }

    .modal {
        .modal-dialog {
            height: auto;
            
            .modal-content { 
                height: auto;
                background-color: @hbcsj-blue;

                .modal-header {
                    border-bottom-width: 0;
                    height: 60px;

                    .modal-title {
                        color: #fff;
                        font-size: 26px;
                        font-weight: bold;
                        margin-top: -3px;
                    }
                }

                .modal-body {
                    background-color: #fff;
                }

                .modal-footer {
                    border-top-width: 0;
                    height: 70px;
                }
            }
                
            .container-error {
                h1 {
                    color: #fff;
                }
            
                h2 {
                    color: #fff;
                }
            }
        }
    }

    .modal#modal-alert {
        .modal-dialog {
            .modal-content { 
                .modal-header {
                    height: 0;
                    padding: 5px;
                }

                .modal-body {
                    #modal-alert__icon {
                        font-size: 26px;
                    }

                    #modal-alert__message {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                .modal-footer {
                    height: 0;
                    padding: 5px;
                }
            }
        }
    }

    .modal#modal-alert.modal-alert-info {
        .modal-dialog {
            .modal-content { 
                background-color: @hbcsj-blue;

                .modal-body {
                    .bg-info();
                }
            }
        }
    }

    .modal#modal-alert.modal-alert-ok {
        .modal-dialog {
            .modal-content { 
                background-color: @hbcsj-green;

                .modal-body {
                    .bg-ok();
                }
            }
        }
    }

    .modal#modal-alert.modal-alert-warning {
        .modal-dialog {
            .modal-content { 
                background-color: @hbcsj-orange;

                .modal-body {
                    .bg-warning();
                }
            }
        }
    }

    .modal#modal-alert.modal-alert-error {
        .modal-dialog {
            .modal-content { 
                background-color: @hbcsj-red;

                .modal-body {
                    .bg-error();
                }
            }
        }
    }

    .modal#modal-prompt {
        .modal-dialog {
            .modal-content { 
                .bg-info();

                .modal-header {
                    height: 0;
                    padding: 5px;
                }

                .modal-body {
                    background-color: @hbcsj-blue;

                    #modal-prompt__icon {
                        font-size: 26px;
                    }

                    #modal-prompt__message {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                .modal-footer {
                    button.btn {
                        width: 80%;
                    }
                }
            }
        }
    }
    
    #modal-img {
        .modal-dialog {
            height: auto;
            
            .modal-content { 
                background-color: #fff;
                height: auto;
                
                img {
                    width: 100%;
                }
            }
        }
    }

    .resultat-victoire {
        .text-ok();
    }

    .resultat-nul {
        .text-info();
    }

    .resultat-defaite {
        .text-error();
    }

    a.link-with-img, a.link-with-img:link, a.link-with-img:visited, a.link-with-img:hover {
        color: #000;
        background-color: transparent;
        text-decoration: none;
    }

    .form-group {
        label {
            padding: 0;
            cursor: pointer;
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 14px;
            }
            font-weight: bold;
            text-align: left;

            .label-indication {
                font-size: 14px;
                font-weight: normal;
            }
        }

        input, textarea, select {
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 14px;
            }
        }
    
        input[type=checkbox] {
            cursor: pointer;
        }
    
        textarea {
            resize: none;
        }
    }

    button.btn, a.btn {
        font-weight: bold;

        .button__icon {
            .pull-left();
            @media (min-width: @screen-xs-min) {
                font-size: 17px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 14px;
            }
            color: #000;
            margin-right: 10px;
        }

        .button__text {
            .pull-left();
            @media (min-width: @screen-xs-min) {
                font-size: 17px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 14px;
            }
            color: #000;
        }

        .loader {
            .pull-right();
            border: 4px solid #000;
            border-right-color: transparent;
            margin-left: 10px;
            height: 18px;
            width: 18px;
        }
    }

    button.btn:hover, a.btn:hover {
        background-color: @hbcsj-gray-2;
    }

    .normal {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }
    
    .required:after {
        content: " *";
        color: @hbcsj-red;
    }

    .text-required {
        @media (min-width: @screen-xs-min) {
            font-size: 17px;
        }
        @media (min-width: @screen-lg-min) {
            font-size: 14px;
        }
        color: @hbcsj-red;
    }
            
    .recap-message {
        @media (min-width: @screen-xs-min) {
            font-size: 17px;
        }
        @media (min-width: @screen-lg-min) {
            font-size: 14px;
        }
    }
        
    .loader {
        display: none;
        border-radius: 50%;
        animation: spin 1s linear infinite;

        @keyframes spin {
            from { transform: rotate(0deg); }
            50% { transform: rotate(180deg); }
            to { transform: rotate(360deg); }
        }
    }

    .clickable {
        cursor: pointer;
    }
                        
    iframe.iframe-uploader {
        display: none;
    }
}