.bg-info {
    background-color: @hbcsj-blue;
    color: #fff;
}

.bg-ok {
    background-color: @hbcsj-green;
    color: #fff;
}

.bg-warning {
    background-color: @hbcsj-orange;
    color: #000;
}

.bg-error {
    background-color: @hbcsj-red;
    color: #fff;
}

.text-info {
    color: @hbcsj-blue;
}

.text-ok {
    color: @hbcsj-green;
}

.text-warning {
    color: @hbcsj-orange;
}

.text-error {
    color: @hbcsj-red;
}

.border-info {
    border-width: 2px;
    border-color: @hbcsj-blue;
}

.border-ok {
    border-width: 2px;
    border-color: @hbcsj-green;
}

.border-warning {
    border-width: 2px;
    border-color: @hbcsj-orange;
}

.border-error {
    border-width: 2px;
    border-color: @hbcsj-red;
}

.base-mise-en-page {
    @media (min-width: @screen-xs-min) {
        font-size: 24px;
    }
    @media (min-width: @screen-lg-min) {
        font-size: 20px;
    }
    
    p {
        margin-top: 20px;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: bold;
        border-bottom: 1px solid #000;
    }

    h2 {
        margin-top: 30px;
        font-weight: bold;
        font-size: 27px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin-left: 50px;
            padding: 0;
            list-style-type: circle;
        }
    }

    ol {
        margin: 0;
        padding: 0;

        li {
            margin-left: 50px;
            padding: 0;
            list-style-type: decimal;
        }
    }

    a:link, a:visited {
        color: darken(@hbcsj-blue, 5%);
        text-decoration: none;
    }
    a:hover {
        background-color: @hbcsj-blue;
        color: #FFF;
        text-decoration: none;
    }
}
    
.info-table {
    table {
        width: 100%;
        margin-top: 20px;

        tbody {
            tr {
                td {
                    padding: 10px;
                    border: 1px solid #000;
                    
                    @media (min-width: @screen-xs-min) {
                        font-size: 20px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.actu {
    h1 {
        span.date-publication {
            .pull-right();
            font-weight: normal;
            margin-top: 15px;
        }
    }

    .div-img-share-social-actu {
        .pull-right();
        width: 40%;
        text-align: right;
        margin-top: 10px;
        margin-left: 40px;
        margin-bottom: 40px;
        
        img {
            width: 100%;
        }
        
        img.img-share-social {
            width: 10%;
            margin-top: 20px;
            margin-left: 10px;
        }
        
        img#iconPrint {
            cursor: pointer;
        }
        
        a, a:link, a:visited, a:hover {
            background-color: #FFF;
        }
    }
        
    table {
        width: 100%;
        margin-top: 20px;

        tbody {
            tr {
                td {
                    padding: 10px;
                    border: 1px solid #000;
                }
            }
        }
    }
}

.newsletter {
    h1, h2, p, table, td {
        border-width: 0;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }

    a, a:link, a:visited, a:hover {
        background-color: transparent;
        color: @hbcsj-blue;
    }
}

.disponible {
    background-color: @hbcsj-green;
    color: #fff;
}

.si-necessaire {
    background-color: @hbcsj-orange;
    color: #fff;
}

.absent {
    background-color: @hbcsj-red;
    color: #fff;
}

.pas-de-reponse {
    background-color: @hbcsj-blue;
    color: #fff;
}

.action-club, .arbitrage {
    background-color: @hbcsj-yellow;
    color: #000;
}