@import "hbcsj";

body {
    nav {
        position: fixed;
        top: 0;
        
        #nav-logo {
            display: block;

            img {
                width: 80px;
            }
        }
        
        .nav-links {
            margin-top: 8px;
            
            a {
                margin-left: 20px;
                margin-right: 20px; 

                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 22px;
                }
            }
        }
    }
        
    .sub-menu {
        top: calc(@nav-height);
    }

    .container-fluid {
        padding-top: calc(~"10px + " @nav-height);
        padding-bottom: 10px;
        
        h1, h2 {
            button.btn {
                .pull-right();
                margin-top: -3px;
                margin-left: 5px;
            }

            button#bt-panier {
                span.badge {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
        }
    }

    .text-infos-commande {
        font-weight: bold;
        margin-top: 20px;

        @media (min-width: @screen-xs-min) {
            font-size: 17px;
        }
        @media (min-width: @screen-lg-min) {
            font-size: 14px;
        }
    }

    .modal {
        .modal-dialog {
            .modal-content { 
                .modal-header {
                    .loader-modal {
                        .pull-right();
                        border: 6px solid #FFF;
                        border-right-color: transparent;
                        margin-top: -32px;
                        margin-left: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }

                .modal-body {
                    label {
                        @media (min-width: @screen-xs-min) {
                            font-size: 24px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    
    .modal#modal-panier {
        .modal-dialog {
            .modal-content { 
                .modal-body {
                    table {
                        width: 95%;
                        margin-left: 2.5%;
                        margin-top: 10px;
                        margin-bottom: 20px;
        
                        th {
                            @media (min-width: @screen-xs-min) {
                                font-size: 16px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 18px;
                            }
                            font-weight: bold;
                        }
        
                        tbody {
                            td {
                                @media (min-width: @screen-xs-min) {
                                    font-size: 14px;
                                }
                                @media (min-width: @screen-lg-min) {
                                    font-size: 16px;
                                }
        
                                .loader {
                                    border: 4px solid #000;
                                    border-right-color: transparent;
                                    margin-top: -16px;
                                    margin-left: calc(~"100% - 10px");
                                    height: 16px;
                                    width: 16px;
                                }
                            }
                        }
                    }

                    #form-panier {
                        margin-top: 40px;

                        .form-group {
                            label {
                                @media (min-width: @screen-xs-min) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    #panier-vide {
                        font-size: 30px;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    button.btn, a.btn {
        .button__icon, .button__text {
            font-size: 18px;
        }

        .loader {
            .pull-right();
            border: 4px solid #000;
            border-right-color: transparent;
            margin-top: 3px;
            margin-left: 10px;
            height: 18px;
            width: 18px;
        }
    }
}