@icon-font-path:          "../../../assets/fonts/@{icon-font-name}/";

@csms-font-name:          "comic-sans-ms";
@csms-font-path:          "../../../assets/fonts/comic-sans-ms/";
@csms-font-svg-id:        "ComicSansMS";

@font-face {
  font-family: 'CSMS';
  src: url('@{csms-font-path}@{csms-font-name}.eot');
  src: url('@{csms-font-path}@{csms-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{csms-font-path}@{csms-font-name}.woff2') format('woff2'),
       url('@{csms-font-path}@{csms-font-name}.woff') format('woff'),
       url('@{csms-font-path}@{csms-font-name}.ttf') format('truetype'),
       url('@{csms-font-path}@{csms-font-name}.svg#@{csms-font-svg-id}') format('svg');
}

@calibri-font-name:          "calibri";
@calibri-font-path:          "../../../assets/fonts/calibri/";
@calibri-font-svg-id:        "Calibri";
@font-face {
  font-family: 'Calib';
  src: url('@{calibri-font-path}@{calibri-font-name}.eot');
  src: url('@{calibri-font-path}@{calibri-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{calibri-font-path}@{calibri-font-name}.woff2') format('woff2'),
       url('@{calibri-font-path}@{calibri-font-name}.woff') format('woff'),
       url('@{calibri-font-path}@{calibri-font-name}.ttf') format('truetype'),
       url('@{calibri-font-path}@{calibri-font-name}.svg#@{calibri-font-svg-id}') format('svg');
}

@main-font: "Calibri", "Calib";

@hbcsj-black: #000000;
@hbcsj-blue: #00add2;
@hbcsj-red: #bb0000;
@hbcsj-orange: #dd7700;
@hbcsj-yellow: #ffdd00;
@hbcsj-green: #00bb00;
@hbcsj-gray-1: #f9f9f9;
@hbcsj-gray-2: #ddd;
@hbcsj-gray-3: #aaa;
@hbcsj-gray-4: #888;

@header-height: 100px;
@nav-height: 50px;
@sub-menu-height: 35px;
@footer-height: 30px;