<ul>
    <li>Particuli&egrave;rement pratique</li>
    <li>Compartiment inf&eacute;rieur adapt&eacute; &agrave; tous les sports</li>
    <li>Poches lat&eacute;rales en textile mesh</li>
    <li>Cordon en caoutchouc r&eacute;glable individuellement &agrave; l'avant</li>
    <li>Bretelles matelass&eacute;es</li>
    <li>Valise &agrave; ballons amovible en mesh</li>
</ul>