<ul>
    <li>Pour vos entra&icirc;nements</li>
    <li>Ceinture large avec cordon de serrage</li>
    <li>Poches lat&eacute;rales</li>
    <li>Bords-c&ocirc;tes aux ourlets</li>
    <li>Grammage : env. 280 g/m²</li>
</ul>
<p>
    Composition : 60% coton et 40% polyester
</p>