<ul>
    <li>Larges bords-c&ocirc;tes aux manches et bas de sweat</li>
    <li>Grammage : env. 280 g/m²</li>
    <li>Imprim&eacute; graphique styl&eacute; au look 5-CUBES sur les manches</li>
    <li>Mati&egrave;re coton douce</li>
</ul>
<p>
    Composition : 80% coton et 20% polyester
</p>
<p>
    <b>ATTENTION : Si vous souhaitez l'utiliser en match, faites floquer un num&eacute;ro unique et personnel.</b>
</p>