<ul>
    <li>Polo de qualit&eacute; avec col tricot&eacute;</li>
    <li>Grammage : env. 210 g/m²</li>
    <li>Bords-c&ocirc;tes tendances aux bras</li>
    <li>Agr&eacute;able et doux &agrave; porter</li>
    <li>Existe en 2 coloris : noir et cura&ccedil;ao</li>
</ul>
<p>
    Composition : 95% coton, 5% &eacute;lasthanne
</p>