<ul>
    <li>El&eacute;ment design dans le dos</li>
    <li>Confortable</li>
    <li>Assorties aux maillots de matchs</li>
</ul>
<p>
    Composition : 76% coton, 17% polyamide, 7% &eacute;lasthanne
</p>