<ul>
    <li>Manche et bas avec bords-c&ocirc;tes</li>
    <li>Parfaitement assortie &agrave; tous les pantalons d'entra&icirc;nement ERIMA</li>
    <li>Textile fonctionnel r&eacute;sistant</li>
    <li>Poches lat&eacute;rales zipp&eacute;es</li>
    <li>Cintr&eacute; pour les femmes</li>
</ul>
<p>
    Composition : 100% polyester
</p>