<ul>
    <li>Id&eacute;al pour les tenues de pr&eacute;sentation</li>
    <li>Bas de pantalon zipp&eacute; avec cordon de serrage</li>
    <li>Textile stretch</li>
    <li>Poches lat&eacute;rales zipp&eacute;es</li>
</ul>
<p>
    Composition : 100% polyester
</p>