<ul>
    <li>Short d’entra&icirc;nement et de comp&eacute;tition styl&eacute; en textile fonctionnel &eacute;lastique</li>
    <li>Imprim&eacute; 5-CUBES thermostable sur le c&ocirc;t&eacute;</li>
    <li>Parfaitement assorti &agrave; tous les maillots de matchs</li>
</ul>
<p>
    Composition : 100% polyester
</p>
<p>
    <b>ATTENTION : Si vous souhaitez l'utiliser en match, faites floquer un num&eacute;ro unique et personnel.</b>
</p>