<ul>
    <li>Bas de veste avec bloc corde</li>
    <li>Textile stretch</li>
    <li>Poches lat&eacute;rales zipp&eacute;es</li>
    <li>Cintr&eacute; pour les femmes</li>
</ul>
<p>
    Composition : 100% polyester
</p>