<ul>
    <li>Imprim&eacute; 5-CUBES thermostable sur les &eacute;paules et dans le dos</li>
    <li>Coutures d&eacute;cal&eacute;es pour un marquage optimal</li>
    <li>Tr&egrave;s solide et r&eacute;sistant</li>
    <li>Col renforc&eacute; par une bande silicone &eacute;lastique</li>
    <li>Cintr&eacute; pour les femmes</li>
</ul>
<p>
    Composition : 100% polyester
</p>
<p>
    <b>
        ATTENTION :
        <ul>
            <li>Ce maillot est celui des &eacute;quipes Seniors. Les licenci&eacute;s des autres cat&eacute;gories ne peuvent donc pas l'utiliser en match.</li>
            <li>Pour les Seniors donc, si vous souhaitez l'utiliser en match, faites floquer un num&eacute;ro unique et personnel.</li>
        </ul>
    </b>
</p>