<ul>
    <li>Polyester fonctionnel tr&egrave;s l&eacute;ger à s&eacute;chage rapide</li>
    <li>Nouveau design</li>
    <li>Action anti-odeur grâce &agrave; la technologie SILVER+</li>
    <li>Agr&eacute;able et doux &agrave; porter</li>
    <li>Cintr&eacute; pour les femmes</li>
</ul>
<p>
    Composition : 100% polyester
</p>