<ul>
    <li>Int&eacute;rieur non molletonn&eacute;</li>
    <li>Capuche avec doublure et cordon</li>
    <li>Poches lat&eacute;rales</li>
    <li>Tissu en coton &eacute;pais (270 g/m²) de haute qualit&eacute;</li>
    <li>Variante pour enfants sans cordon dans la capuche</li>
</ul>
<p>
    Composition : 80% coton et 20% polyester
</p>