<ul>
    <li>Imprim&eacute; 5-CUBES thermostable sur les &eacute;paules et dans le dos</li>
    <li>Coutures d&eacute;cal&eacute;es pour un marquage optimal</li>
    <li>Empi&egrave;cements en mesh sous les bras</li>
    <li>Tr&egrave;s solide et r&eacute;sistant</li>
</ul>
<p>
    Composition : 100% polyester
</p>
<p>
   <b>
        ATTENTION : Ce maillot est celui des &eacute;quipes Seniors. Les licenci&eacute;s des autres cat&eacute;gories ne peuvent donc pas l'utiliser en match.
    </b>
</p>