<p>
    Mug personnalis&eacute;, avec la photo d'un(e) joueur(se) au choix, ou d'une &eacute;quipe.
</p>
<p>
    <b>Dimensions :</b>
</p>
<ul>
    <li>Contenance : 325 mL</li>
    <li>Diam&egrave;tre : 82 mm</li>
    <li>Hauteur : 95 mm</li>
</ul>
<p>
    <b>
        Dans les commentaires, au moment de valider votre panier, pr&eacute;cisez la photo &agrave; faire imprimer.
    </b>
</p>