<p>
    Magnet personnalis&eacute;, avec la photo d'un(e) joueur(se) au choix, ou d'une &eacute;quipe.
</p>
<p><b>Dimensions :</b> 5,08 x 7,62 cm</p>
<p>
    <b>
        Dans les commentaires, au moment de valider votre panier, pr&eacute;cisez :
    </b>
</p>
<ul>
    <li><b>la photo &agrave; faire imprimer</b></li>
    <li>
        <b>le format :</b>
        <ol>
            <li>Portrait : photo de joueur(se)</li>
            <li>Paysage : photo d'&eacute;quipe</li>
            <li>Combin&eacute; : photo de joueur(se) avec le logo du HBCSJ</li>
        </ol>
    </li>
</ul>