<p>
    Coque de smartphone personnalis&eacute;e, avec la photo d'un(e) joueur(se) au choix, ou d'une &eacute;quipe.
</p>
<p>
    <b>
        Dans les commentaires, au moment de valider votre panier, pr&eacute;cisez :
    </b>
</p>
<ul>
    <li><b>la photo &agrave; faire imprimer</b></li>
    <li><b>la marque (Apple, Samsmung, Blackberry, HTC...) et le mod&egrave;le du t&eacute;l&eacute;phone</b> (soumis &agrave; v&eacute;rification avant validation de la commande)</li>
</ul>