<p>
    Poster personnalis&eacute;, avec la photo en A3 ou A4 d'un(e) joueur(se) au choix, ou d'une &eacute;quipe.
</p>
<p>
    <b>
        Dans les commentaires, au moment de valider votre panier, pr&eacute;cisez la photo &agrave; faire imprimer.
    </b>
</p>