<p>
    <b>MON CLUB, MON ALBUM</b>, l'album de vignettes aux couleurs du club est produit <b>ludique</b> pour les plus jeunes et qui 
    <b>f&eacute;d&egrave;re</b> autour d'un <b>projet commun</b>. Il repr&eacute;sente aussi l'ensemble de la vie du club, ses &eacute;quipes, 
    ses licenci&eacute;s.
</p>
<p>
    En partenariat avec <b>Jimi Mandanne (MANDANNE Cr&eacute;ations)</b>, fondateur de ce projet, le HBC Saint-Jean a choisi de proposer ce produit, 
    pour cette saison 2017 / 2018. Il est vendu au prix de <b>20 &euro;</b>, et comprend le livret contenant une page d&eacute;di&eacute;e 
    par collectif, et toutes les vignettes des licenci&eacute;s.
</p>