Partenaire de la Ligue d'Occitanie de Handball, le site <a href="https://lehandballalafrancaise.fr" target="_blank">https://lehandballalafrancaise.fr</a> a propos&eacute; aux club de la r&eacute;gion de personnaliser ses tee-shirts &agrave; leur effigie.<br><br>
Ce site, cr&eacute;&eacute; il y a peu de temps par d'anciens handballeurs, surfe sur la vague du succ&egrave;s de notre sport en France et conna&icirc;t un franc succ&egrave;s depuis son lancement.<br><br>
Nous avons donc la possibilit&eacute; de vendre des tee-shirts (qualit&eacute; Pr&eacute;mium) aux couleurs Saint-Jeannaises.<br>
Le texte imprim&eacute; est le suivant : "Saint-Jeannais(e) et Handballeur(se) &agrave; la Fran&ccedil;aise".<br><br>
<b>Tee-shirt 100% coton organique</b>