Pack comprenant :
<ul>
<li>un tee-shirt Club 1900 2.0</li>
<li>un short Celta</li>
<li>une paire de chaussettes</li>
</ul>
<p>
<b>Taille ci-dessous &agrave; s&eacute;lectionner pour le tee-shirt</b>
</p>
<p>
<b>Pr&eacute;ciser les tailles du short et des chaussettes en commentaire lors de la validation du panier</b>
</p>