Pack comprenant :
<ul>
<li>un tee-shirt HBCSJ 2017</li>
<li>un pantalon sweat (bas resserr&eacute;)</li>
<li>une paire de chaussettes</li>
</ul>
<p>
<b>Taille ci-dessous &agrave; s&eacute;lectionner pour le tee-shirt</b>
</p>
<p>
<b>Pr&eacute;ciser les tailles du pantalon et des chaussettes en commentaire lors de la validation du panier</b>
</p>