<ul>
    <li>Agr&eacute;able &agrave; porter gr&acirc;ce &agrave; sa composition en coton tr&egrave;s doux au toucher</li>
    <li>Grammage : env. 160 g/m²</li>
    <li>Existe en 2 coloris : Navy (bleu marine) ou P&eacute;trole</li>
</ul>
<p>
    Composition : 100% coton
</p>