@import "../../../../../../common/css/admin";

@icon-font-path: "../../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .container-table {
            table {
                tbody {
                    th {
                        @media (min-width: @screen-xs-min) {
                            font-size: 12px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }

                    td {
                        @media (min-width: @screen-xs-min) {
                            font-size: 10px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}