@import "../../../common/css/hbcsj";

body {
    .container-fluid {
        .row.row-actu {
            width: calc(~"100% - 20px");
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 10px;
            
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 20px;
            }
            
            img.img-actu {
                width: 100%;
            }
            
            .titre-actu {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                @media (min-width: @screen-xs-min) {
                    font-size: 29px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 24px;
                }
            }
            
            .resume-actu {
                margin-bottom: 20px;
            }
        }
        
        .row.row-actu-bordered {
            border-bottom: 1px solid #000;
        }
    }
}