@import "../../../../common/css/hbcsj";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-error {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h1 {
            font-size: 72px;
        }
    
        h2 {
            font-size: 48px;
        }
    }
}