@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    #modal-historique-dispos-evenement {
        .modal-dialog {
            .modal-body { 
                table {
                    tr {
                        td {     
                            span.badge-dispo {
                                font-size: 12px;
                                @media (min-width: @screen-xs-min) {
                                    margin-right: 0px;
                                }
                                @media (min-width: @screen-lg-min) {
                                    margin-right: 10px;
                                }
                            }
                            
                            span.badge-disponible {
                                .disponible();
                            }
                            
                            span.badge-si-necessaire {
                                .si-necessaire();
                            }
                            
                            span.badge-absent {
                                .absent();
                            }
                            
                            span.badge-pas-de-reponse {
                                .pas-de-reponse();
                            }
                        }
                    }
                }
            }
        }
    }
}