@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .container-newsletter {
            table {
                width: 95%;
                
                tbody {
                    tr {
                        td {
                            cursor: pointer;
                            @media (min-width: @screen-xs-min) {
                                font-size: 17px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #modal-newsletter-preview {
        .modal-dialog {
            .modal-content { 
                #newsletter-preview {
                    .newsletter();
                }
            }
        }
    }
}
