@import "../../../common/css/hbcsj";

body {
    .container-fluid {
        .row {
            .div-link-mois {
                margin-top: 10px;
            }
            
            a#bt-back {
                .pull-right();
                margin-top: -3px;
            }

            table#table-mois {
                margin-top: 20px;
                width: 100%;
                
                thead {
                    th {
                        width: calc(~"100% / 7");
                        text-transform: uppercase;
                        font-size: 24px;
                        text-align: center;
                        height: 50px;
                        vertical-align: top;
                    }
                }
                
                tbody {
                    td {
                        height: 75px;
                        border: 1px solid #000;

                        table {
                            height: 100%;
                            margin-top: 0px;
                            
                            tbody {
                                td {
                                    height: 33.33%;
                                    width: 33.33%;
                                    border-width: 0px;
                                }
                                
                                td.date-agenda {
                                    padding-left: 3px;
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    
                    td.td-clickable {
                        cursor: pointer;
                        
                        table {
                            tbody {
                                td.type-evenement {
                                    img {
                                        text-align: center;
                                        width: 90%;
                                    }
                                }
                            }
                        }
                    }
                    td.td-clickable:hover {
                        background-color: @hbcsj-blue;

                        table tbody td.date-agenda {
                            color: #FFF;
                        }
                    }

                    td.td-today {
                        background-color: @hbcsj-blue;
                        
                        table tbody td.date-agenda {
                            color: #FFF;
                        }
                    }

                    td.td-empty {
                        border-width: 0px;
                    }
                }
            }
        
            table.table-evenements {
                width: 100%;
                
                tbody {
                    width: 100%;

                    td {
                        vertical-align: top;
                        @media (min-width: @screen-xs-min) {
                            font-size: 18px;
                        }
                    }
                    
                    td.td00 {
                        width: 5%;
                    }

                    td.td0 {
                        width: 10%;
                    }
                    
                    td.td1 {
                        width: 15%;
                    }
                    
                    td.td2 {
                        width: 25%;
                    }
                    
                    td.td3 {
                        width: 45%;
                        
                        span.competition {
                            font-size: 14px;
                        }
                    }
                    
                    td.td4 {
                        width: 70%;
                    }
                }
            }

            button.btn, a.btn {
                .button__icon, .button__text {
                    font-size: 18px;
                }
            }
        }
    }
}