@import "../../../../common/css/dispos";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .row.row-evenement {
            padding: 10px;
            border-bottom: 1px solid #000;
            @media (min-width: @screen-xs-min) {
                font-size: 20px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 24px;
            }
            
            .date-evenement {
                font-weight: normal;
            }
            
            .text-evenement {
                margin-top: 10px;
                @media (min-width: @screen-xs-min) {
                    font-size: 15px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 18px;
                }
            }

            .row-recap-actions {
                span.badge {
                    font-size: 24px;
                    width: 40px;
                    margin-left: 10px;
                }
                
                span.badge-action-club {
                    .action-club();
                }
                
                span.badge-arbitrage {
                    .arbitrage();
                }
                
                .row {
                    margin-bottom: 5px;

                    button.bt-supprimer-action {
                        .button__icon {
                            @media (min-width: @screen-xs-min) {
                                font-size: 17px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 14px;
                            }
                        }
                
                        .button__text {
                            @media (min-width: @screen-xs-min) {
                                font-size: 17px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #modal-save-action {
        .modal-dialog {
            .modal-content { 
                .row-recap-evenement {
                    text-align: center;
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}