@import "../../../../common/css/hbcsj";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }
    
    .container-fluid {
        .actu();
    }
}