@import "../../../../common/css/dispos";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .row.row-licencie {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #000;
            @media (min-width: @screen-xs-min) {
                font-size: 20px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 24px;
            }
            
            .badges {
                margin-top: 5px;
            }
        }
        
        .row.row-licencie:hover {
            font-weight: bold;
        }
        
        .row.row-evenement {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #000;
            @media (min-width: @screen-xs-min) {
                font-size: 20px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 24px;
            }
            
            .date-evenement {
                font-weight: normal;
            }
            
            .text-evenement {
                margin-top: 10px;
                @media (min-width: @screen-xs-min) {
                    font-size: 15px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 18px;
                }
            }
            
            .badges {
                margin-top: 10px;
            }
        }
        
        .row.row-evenement:hover {
            .date-evenement {
                font-weight: bold;
            }
        }
            
        .badges {            
            span.badge-dispo {
                font-size: 24px;
                width: 40px;
                @media (min-width: @screen-xs-min) {
                    margin-right: 0px;
                }
                @media (min-width: @screen-lg-min) {
                    margin-right: 10px;
                }
            }
            
            span.badge-disponible {
                .disponible();
            }
            
            span.badge-si-necessaire {
                .si-necessaire();
            }
            
            span.badge-absent {
                .absent();
            }
            
            span.badge-pas-de-reponse {
                .pas-de-reponse();
            }
        }
    }
}