@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        table {
            tbody {
                td {
                    .row.row-commande {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-body {
                table {
                    tr.tr-total th {
                        background-color: @hbcsj-gray-1;
                    }
    
                    tr.tr-header-commande td {
                        background-color: @hbcsj-gray-1;
                    }
    
                    tr.tr-commande-item {
                        td {
                            background-color: #FFF;
                        }
                    }
                }
            }
        }
    }
}