@import "../../../../../../common/css/admin";

@icon-font-path: "../../../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .container-table {
            table {
                tbody {
                    th {
                        @media (min-width: @screen-xs-min) {
                            font-size: 12px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }

                    td {
                        img.img-produit {
                            width: 80px;
                            cursor: pointer;
                        }

                        @media (min-width: @screen-xs-min) {
                            font-size: 10px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 12px;
                        }

                        .div-taille {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    #modal-prix-produit-boutique {
        .modal-dialog {
            .modal-content { 
                button {
                    .button__icon {
                        @media (min-width: @screen-xs-min) {
                            font-size: 17px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }
                
                    .button__text {
                        @media (min-width: @screen-xs-min) {
                            font-size: 17px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}