@import "../../../../../common/css/hbcsj";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @header-height + @nav-height + @sub-menu-height);

        .row.row-equipe {
            width: calc(~"100% - 20px");
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 10px;
            
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 20px;
            }
            
            img.img-equipe {
                width: 100%;
                cursor: pointer;
            }
            
            .coachs-equipe {
                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 17px;
                }
            }
            
            ul.compet-equipe {
                margin-top: 20px;
                margin-bottom: 20px;
                @media (min-width: @screen-xs-min) {
                    font-size: 20px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 17px;
                }
            }
        }
        
        table.table-evenements {
            width: 100%;
            
            tbody {
                td {
                    cursor: pointer;
                    
                    @media (min-width: @screen-xs-min) {
                        font-size: 17px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 15px;
                    }
                }

                td.td1 {
                    width: 30%;
                }

                td.td2 {
                    width: 50%;
                }
                
                td.td3 {
                    width: 15%;
                }
                
                td.td4 {
                    width: 5%;
                }
                
                td.td5 {
                    width: 20%;
                }

                tr:not([competition-href=""]):hover {
                    background-color: @hbcsj-gray-2;
                }
            }
        }
        
        .col-photo-historique {
            margin-top: 20px;
            
            .header-photo-historique {
                @media (min-width: @screen-xs-min) {
                    font-size: 24px;
                }
                @media (min-width: @screen-lg-min) {
                    font-size: 17px;
                }
            }
            
            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }
}