@import "../../../../common/css/shop";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    header {
        background-image: url("../../../../assets/img/banniere.png");
        
        #header-logo {
            background-image: url("../../../../assets/img/logo.png");
        }
    }

    .container-fluid {
        padding-top: calc(~"10px + " @sub-menu-height + @nav-height);
        
        .col-produit {
            margin-top: 20px;
            margin-bottom: 40px;
            cursor: pointer;
            
            .header-produit {
                @media (min-width: @screen-xs-min) {
                    height: 70px;
                }
                @media (min-width: @screen-lg-min) {
                    height: 60px;
                }
                border-bottom: 1px solid #000;
                
                span.nom-produit {
                    font-weight: bold;
                
                    @media (min-width: @screen-xs-min) {
                        font-size: 24px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 20px;
                    }
                }
                
                span.indication-produit {
                    @media (min-width: @screen-xs-min) {
                        font-size: 20px;
                    }
                    @media (min-width: @screen-lg-min) {
                        font-size: 17px;
                    }
                }
            
                img.img-marque {
                    float: right;
                    height: 90%;
                    @media (min-width: @screen-xs-min) {
                        margin-top: 185px;
                    }
                    @media (min-width: @screen-lg-min) {
                        margin-top: -30px;
                        margin-right: calc(~"25% - 50px");
                    }
                }
            }
            
            img.img-produit {
                @media (min-width: @screen-xs-min) {
                    width: 60%;
                }
                @media (min-width: @screen-lg-min) {
                    width: 50%;
                }
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }
            
            .personnalisable-produit {
                position: absolute;
                font-weight: bold;
                text-align: center;
                font-size: 20px;
                @media (min-width: @screen-xs-min) {
                    right: 45px;
                    top: 75px;
                }
                @media (min-width: @screen-lg-min) {
                    right: calc(~"25% - 25px");
                    top: 110px;
                }
                font-style: italic;
                width: 100px;
            }
            
            .prix-produit {
                position: absolute;
                @media (min-width: @screen-xs-min) {
                    top: 110px;
                    right: 15px;
                }
                @media (min-width: @screen-lg-min) {
                    top: 150px;
                    right: calc(~"25% - 50px");
                }
                background-color: #000;
                color: #FFF;
                font-weight: bold;
                border-radius: 10px;
                padding: 2px;
                text-align: center;
                height: 100px;
                width: 100px;

                .label-prix {
                    font-size: 17px;
                    height: 20px;
                }
                
                .prix {
                    font-size: 36px;
                }
            }
        }
    }
    
    .modal#modal-save-article-panier {
        .modal-dialog {
            .modal-content { 
                .modal-body {
                    .row-infos-produit {
                        margin-top: 10px;

                        #nom-categorie {
                            font-weight: bold;
                            text-transform: uppercase;
                            @media (min-width: @screen-xs-min) {
                                font-size: 22px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 24px;
                            }
                        }

                        #nom-produit {
                            font-weight: bold;
                            @media (min-width: @screen-xs-min) {
                                font-size: 22px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 24px;
                            }
                        }

                        #indication-produit {
                            @media (min-width: @screen-xs-min) {
                                font-size: 18px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 20px;
                            }
                        }

                        img#img-marque {
                            width: 20%;
                        }

                        #description-produit {
                            margin-top: 20px;
                            .base-mise-en-page();
                            @media (min-width: @screen-xs-min) {
                                font-size: 14px;
                                ul {
                                    li {
                                        margin-left: 20px;
                                    }
                                }
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 16px;
                            }
                        }

                        #flocage-logo-produit {
                            margin-top: 20px;
                            text-align: center;
                            font-weight: bold;
                            font-style: italic;
                            @media (min-width: @screen-xs-min) {
                                font-size: 26px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 28px;
                            }
                        }

                        #tailles-produit {
                            margin-top: 20px;
                            @media (min-width: @screen-xs-min) {
                                font-size: 20px;
                            }
                            @media (min-width: @screen-lg-min) {
                                font-size: 16px;
                            }

                            table {
                                width: 100%;
                                margin-top: 10px;
                        
                                tbody {
                                    tr {
                                        td {
                                            text-align: center;
                                            padding: 10px;
                                            border: 1px solid #000;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }

                        #img-produit {
                            .pull-right();
                            @media (min-width: @screen-xs-min) {
                                width: 50%;
                            }
                            @media (min-width: @screen-lg-min) {
                                width: 40%;
                            }
                            text-align: right;
                            margin-top: 10px;
                            margin-left: 40px;
                            margin-bottom: 40px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    #form-save-article-panier {
                        @media (min-width: @screen-xs-min) {
                            margin-top: 40px;
                        }
                        @media (min-width: @screen-lg-min) {
                            margin-top: 80px;
                        }

                        #prix-total {
                            background-color: #000;
                            color: #FFF;
                            font-weight: bold;
                            border-radius: @badge-border-radius;
                            padding: 2px;
                            text-align: center;
                            height: 80px;
                            width: 150px;
                            font-size: 48px;
                            @media (min-width: @screen-xs-min) {
                                margin-top: 10px;
                                margin-bottom: 20px;
                            }
                            @media (min-width: @screen-lg-min) {
                                margin-top: -20px;
                            }
                            margin-left: calc(~"50% - 75px");
                        }

                        .prix-flocage {
                            border-radius: @badge-border-radius;
                            background-color: #000;
                            color: #FFF;
                            font-size: 24px;
                            padding: 5px;
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}