@import "../../../../common/css/dispos";

@icon-font-path: "../../../../assets/fonts/@{icon-font-name}/";

body {
    .container-fluid {
        .row.row-evenement {
            margin-bottom: 20px;
        }

        .row.row-recap-dispos {
            margin-top: 20px;
            @media (min-width: @screen-xs-min) {
                font-size: 14px;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 18px;
            }

            .titre-recap-dispos {
                padding: 5px;
                font-weight: bold;
                border-left: 1px solid #000;
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                font-size: 18px;
            }

            .liste-licencies-recap-dispos {
                padding: 5px;
                border-left: 1px solid #000;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
            }
        }
    }
}