@import "../../../../../common/css/admin";

@icon-font-path: "../../../../../assets/fonts/@{icon-font-name}/";

body {
    #modal-coachs-categorie, #modal-entrainements-categorie {
        .modal-dialog {
            .modal-content { 
                button {
                    .button__icon {
                        @media (min-width: @screen-xs-min) {
                            font-size: 17px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }
                
                    .button__text {
                        @media (min-width: @screen-xs-min) {
                            font-size: 17px;
                        }
                        @media (min-width: @screen-lg-min) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}